openapi: 3.0.3
info:
  description: "Outreach Public API is documented here, at the Development Portal, expand the link [Outreach REST API Reference](https://developers.outreach.io/api/reference/overview/)\
    \ in the left navigation bar to see human-readable description of endpoints and data types.\n\nHowever, if you would like\
    \ to get machine-readable schema definition there are two other options available:\n\n* [https://api.outreach.io/api/v2/schema.json](https://api.outreach.io/api/v2/schema.json)\
    \ contains the API definition in  the [json-schema format](https://json-schema.org/) and if you provide `Authorization`\
    \ header with valid token (same as actual API call) all the custom objects defined for the organization will be included\
    \ as well.\n\n* [https://api.outreach.io/api/v2/schema/openapi.json](https://api.outreach.io/api/v2/schema/openapi.json)\
    \ contains the API definition in the [OpenAPI / Swagger format](https://swagger.io/specification/). Unfortunately custom\
    \ objects are not included in this file.\n\nAdditionally to these standard definitions Outreach provides detailed list\
    \ of validations applied to custom fields. Custom objects will be included later, the work is in progress.\n\n* [https://api.outreach.io/api/v2/types](https://api.outreach.io/api/v2/types)\
    \ endpoint returns a list of all `customXXX` fields on standard objects with their type, label, options or other constraints\
    \ defined by the administrator. This endpoint requires valid token in the `Authorization` header. The format of the definitions\
    \ is described below.\n\n### Custom field types\n\n```json\n{\n  \"data\": [\n    {\n      \"type\": \"<object_name>\"\
    ,\n      \"meta\": {\n        \"validations\": {\n          \"<field_name>\": {\n            \"type\": \"<validation_type>\"\
    ,\n            \"required\": true / false,\n            \"label\": \"...\",\n            \"definition\": null / [\"...\"\
    , ...] / \"...\"\n          },\n          ...\n          }\n        }\n      }\n    },\n    ...\n  ]\n}\n```\n\n#### Objects\
    \ with custom fields\n\n* Account\n* Opportunity\n* OpportunityLineItem\n* OpportunityProspectRole\n* Product\n* Prospect\n\
    * Purchase\n\n#### Validation types\n\n* `boolean` - true or false\n* `currency` - monetary value, `definition` contains\
    \ an abbreviation of the currency like `\"USD\"` or `\"EUR\"`\n* `date` - a date stored in ISO8601 format: YYYY-MM-DD.\n\
    * `date_time` a date and time stored as YYYY-MM-DDThh:mm:ss.\n* `inclusion` - a pick list with predefined set of options\
    \ available in `definition` attribute as a list of strings\n* multi_inclusion - a pick list with several options selectable\
    \ at once with predefined set of options available in `definition` attribute as a list of strings\n* `numerical`\n* `percentage`\n\
    * `phone_number`\n* `string`\n* `url`\n"
  title: Outreach REST API Reference
  version: ''
servers:
- url: https://api.outreach.io/api/v2
security:
- bearerAuth: []
tags:
- description: '<SchemaDefinition schemaRef="#/components/schemas/account" />


    ## Account Relationships


    <SchemaDefinition schemaRef="#/components/schemas/accountRelationships" />


    ## Account Resource Metadata


    | **METADATA NAME**| **DESCRIPTION** | **QUERY PARAM** |

    | --- | --- | --- |

    |  canWrite | A boolean value indicating whether the current API user has write access to this resource. | provideAuthorizationMeta
    |

    |  canDelete | A boolean value indicating whether the current API user has delete access to this resource. | provideAuthorizationMeta
    |

    |  dataConnections | The set of connections a given Account has to external sources. | provideDataConnections |



    ## ⌵ Account Actions


    '
  name: Account
  x-internal: false
- description: '<SchemaDefinition schemaRef="#/components/schemas/accountNote" />


    ## Account Note Relationships


    <SchemaDefinition schemaRef="#/components/schemas/accountNoteRelationships" />


    ## ⌵ Account Note Actions


    '
  name: Account Note
  x-internal: false
- description: '<SchemaDefinition schemaRef="#/components/schemas/auditLog" />


    ## Audit Log Custom Filters


    | **NAME**| **VALUE TYPE** | **VALUE KIND** | **VALUE LENGTH** |

    | --- | --- | --- | --- |

    | agentEmail | string| single| N/A|

    | agentIpAddress | string| single| N/A|



    ## ⌵ Audit Log Actions


    '
  name: Audit Log
  x-internal: false
- description: '<SchemaDefinition schemaRef="#/components/schemas/batch" />


    ## Batch Relationships


    <SchemaDefinition schemaRef="#/components/schemas/batchRelationships" />


    ## Batch Resource Metadata


    | **METADATA NAME**| **DESCRIPTION** | **QUERY PARAM** |

    | --- | --- | --- |

    |  canWrite | A boolean value indicating whether the current API user has write access to this resource. | provideAuthorizationMeta
    |



    ## ⌵ Batch Actions


    '
  name: Batch
  x-internal: false
- description: '<SchemaDefinition schemaRef="#/components/schemas/batchItem" />


    ## Batch Item Relationships


    <SchemaDefinition schemaRef="#/components/schemas/batchItemRelationships" />


    ## ⌵ Batch Item Actions


    '
  name: Batch Item
  x-internal: false
- description: '<SchemaDefinition schemaRef="#/components/schemas/call" />


    ## Call Relationships


    <SchemaDefinition schemaRef="#/components/schemas/callRelationships" />


    ## Call Resource Metadata


    | **METADATA NAME**| **DESCRIPTION** | **QUERY PARAM** |

    | --- | --- | --- |

    |  canWrite | A boolean value indicating whether the current API user has write access to this resource. | provideAuthorizationMeta
    |

    |  canDelete | A boolean value indicating whether the current API user has delete access to this resource. | provideAuthorizationMeta
    |

    |  dataConnections | The set of connections a given Call has to external sources. | provideDataConnections |



    ## ⌵ Call Actions


    '
  name: Call
  x-internal: false
- description: '<SchemaDefinition schemaRef="#/components/schemas/callDisposition" />


    ## Call Disposition Relationships


    <SchemaDefinition schemaRef="#/components/schemas/callDispositionRelationships" />


    ## Call Disposition Resource Metadata


    | **METADATA NAME**| **DESCRIPTION** | **QUERY PARAM** |

    | --- | --- | --- |

    |  canWrite | A boolean value indicating whether the current API user has write access to this resource. | provideAuthorizationMeta
    |

    |  canDelete | A boolean value indicating whether the current API user has delete access to this resource. | provideAuthorizationMeta
    |



    ## ⌵ Call Disposition Actions


    '
  name: Call Disposition
  x-internal: false
- description: '<SchemaDefinition schemaRef="#/components/schemas/callPurpose" />


    ## Call Purpose Relationships


    <SchemaDefinition schemaRef="#/components/schemas/callPurposeRelationships" />


    ## Call Purpose Resource Metadata


    | **METADATA NAME**| **DESCRIPTION** | **QUERY PARAM** |

    | --- | --- | --- |

    |  canWrite | A boolean value indicating whether the current API user has write access to this resource. | provideAuthorizationMeta
    |

    |  canDelete | A boolean value indicating whether the current API user has delete access to this resource. | provideAuthorizationMeta
    |



    ## ⌵ Call Purpose Actions


    '
  name: Call Purpose
  x-internal: false
- description: '<SchemaDefinition schemaRef="#/components/schemas/complianceRequest" />


    ## Compliance Request Relationships


    <SchemaDefinition schemaRef="#/components/schemas/complianceRequestRelationships" />


    ## ⌵ Compliance Request Actions


    '
  name: Compliance Request
  x-internal: false
- description: '<SchemaDefinition schemaRef="#/components/schemas/contentCategory" />


    ## Content Category Relationships


    <SchemaDefinition schemaRef="#/components/schemas/contentCategoryRelationships" />


    ## Content Category Resource Metadata


    | **METADATA NAME**| **DESCRIPTION** | **QUERY PARAM** |

    | --- | --- | --- |

    |  canWrite | A boolean value indicating whether the current API user has write access to this resource. | provideAuthorizationMeta
    |

    |  canDelete | A boolean value indicating whether the current API user has delete access to this resource. | provideAuthorizationMeta
    |



    ## ⌵ Content Category Actions


    '
  name: Content Category
  x-internal: false
- description: '<SchemaDefinition schemaRef="#/components/schemas/contentCategoryMembership" />


    ## Content Category Membership Relationships


    <SchemaDefinition schemaRef="#/components/schemas/contentCategoryMembershipRelationships" />


    ## Content Category Membership Resource Metadata


    | **METADATA NAME**| **DESCRIPTION** | **QUERY PARAM** |

    | --- | --- | --- |

    |  canDelete | A boolean value indicating whether the current API user has delete access to this resource. | provideAuthorizationMeta
    |



    ## ⌵ Content Category Membership Actions


    '
  name: Content Category Membership
  x-internal: false
- description: '<SchemaDefinition schemaRef="#/components/schemas/contentCategoryOwnership" />


    ## Content Category Ownership Relationships


    <SchemaDefinition schemaRef="#/components/schemas/contentCategoryOwnershipRelationships" />


    ## Content Category Ownership Resource Metadata


    | **METADATA NAME**| **DESCRIPTION** | **QUERY PARAM** |

    | --- | --- | --- |

    |  canDelete | A boolean value indicating whether the current API user has delete access to this resource. | provideAuthorizationMeta
    |



    ## ⌵ Content Category Ownership Actions


    '
  name: Content Category Ownership
  x-internal: false
- description: '<SchemaDefinition schemaRef="#/components/schemas/customDuty" />


    ## ⌵ Custom Duty Actions


    '
  name: Custom Duty
  x-internal: false
- description: '<SchemaDefinition schemaRef="#/components/schemas/duty" />


    ## ⌵ Duty Actions


    '
  name: Duty
  x-internal: false
- description: '<SchemaDefinition schemaRef="#/components/schemas/emailAddress" />


    ## Email Address Relationships


    <SchemaDefinition schemaRef="#/components/schemas/emailAddressRelationships" />


    ## Email Address Resource Metadata


    | **METADATA NAME**| **DESCRIPTION** | **QUERY PARAM** |

    | --- | --- | --- |

    |  canWrite | A boolean value indicating whether the current API user has write access to this resource. | provideAuthorizationMeta
    |

    |  canDelete | A boolean value indicating whether the current API user has delete access to this resource. | provideAuthorizationMeta
    |



    ## ⌵ Email Address Actions


    '
  name: Email Address
  x-internal: false
- description: '<SchemaDefinition schemaRef="#/components/schemas/event" />


    ## Event Relationships


    <SchemaDefinition schemaRef="#/components/schemas/eventRelationships" />


    ## Event Resource Metadata


    | **METADATA NAME**| **DESCRIPTION** | **QUERY PARAM** |

    | --- | --- | --- |

    |  dataConnections | The set of connections a given Event has to external sources. | provideDataConnections |



    ## ⌵ Event Actions


    '
  name: Event
  x-internal: false
- description: '<SchemaDefinition schemaRef="#/components/schemas/favorite" />


    ## Favorite Relationships


    <SchemaDefinition schemaRef="#/components/schemas/favoriteRelationships" />


    ## Favorite Resource Metadata


    | **METADATA NAME**| **DESCRIPTION** | **QUERY PARAM** |

    | --- | --- | --- |

    |  canDelete | A boolean value indicating whether the current API user has delete access to this resource. | provideAuthorizationMeta
    |



    ## ⌵ Favorite Actions


    '
  name: Favorite
  x-internal: false
- description: '<SchemaDefinition schemaRef="#/components/schemas/import" />


    ## Import Relationships


    <SchemaDefinition schemaRef="#/components/schemas/importRelationships" />


    ## Import Resource Metadata


    | **METADATA NAME**| **DESCRIPTION** | **QUERY PARAM** |

    | --- | --- | --- |

    |  canWrite | A boolean value indicating whether the current API user has write access to this resource. | provideAuthorizationMeta
    |



    ## ⌵ Import Actions


    '
  name: Import
  x-internal: false
- description: '<SchemaDefinition schemaRef="#/components/schemas/kaiaRecording" />


    ## Kaia Recording Relationships


    <SchemaDefinition schemaRef="#/components/schemas/kaiaRecordingRelationships" />


    ## ⌵ Kaia Recording Actions


    '
  name: Kaia Recording
  x-internal: false
- description: '<SchemaDefinition schemaRef="#/components/schemas/kaiaVoiceImport" />


    ## ⌵ Kaia Voice Import Actions


    '
  name: Kaia Voice Import
  x-internal: false
- description: '<SchemaDefinition schemaRef="#/components/schemas/mailAlias" />


    ## Mail Alias Relationships


    <SchemaDefinition schemaRef="#/components/schemas/mailAliasRelationships" />


    ## ⌵ Mail Alias Actions


    '
  name: Mail Alias
  x-internal: false
- description: '<SchemaDefinition schemaRef="#/components/schemas/mailbox" />


    ## Mailbox Relationships


    <SchemaDefinition schemaRef="#/components/schemas/mailboxRelationships" />


    ## Mailbox Resource Metadata


    | **METADATA NAME**| **DESCRIPTION** | **QUERY PARAM** |

    | --- | --- | --- |

    |  canWrite | A boolean value indicating whether the current API user has write access to this resource. | provideAuthorizationMeta
    |

    |  canDelete | A boolean value indicating whether the current API user has delete access to this resource. | provideAuthorizationMeta
    |



    ## ⌵ Mailbox Actions


    '
  name: Mailbox
  x-internal: false
- description: '<SchemaDefinition schemaRef="#/components/schemas/mailing" />


    ## Mailing Relationships


    <SchemaDefinition schemaRef="#/components/schemas/mailingRelationships" />


    ## Mailing Resource Metadata


    | **METADATA NAME**| **DESCRIPTION** | **QUERY PARAM** |

    | --- | --- | --- |

    |  canWrite | A boolean value indicating whether the current API user has write access to this resource. | provideAuthorizationMeta
    |

    |  dataConnections | The set of connections a given Mailing has to external sources. | provideDataConnections |



    ## ⌵ Mailing Actions


    '
  name: Mailing
  x-internal: false
- description: '<SchemaDefinition schemaRef="#/components/schemas/opportunity" />


    ## Opportunity Relationships


    <SchemaDefinition schemaRef="#/components/schemas/opportunityRelationships" />


    ## Opportunity Resource Metadata


    | **METADATA NAME**| **DESCRIPTION** | **QUERY PARAM** |

    | --- | --- | --- |

    |  canWrite | A boolean value indicating whether the current API user has write access to this resource. | provideAuthorizationMeta
    |

    |  canDelete | A boolean value indicating whether the current API user has delete access to this resource. | provideAuthorizationMeta
    |

    |  dataConnections | The set of connections a given Opportunity has to external sources. | provideDataConnections |



    ## ⌵ Opportunity Actions


    '
  name: Opportunity
  x-internal: false
- description: '<SchemaDefinition schemaRef="#/components/schemas/opportunityProspectRole" />


    ## Opportunity Prospect Role Relationships


    <SchemaDefinition schemaRef="#/components/schemas/opportunityProspectRoleRelationships" />


    ## Opportunity Prospect Role Resource Metadata


    | **METADATA NAME**| **DESCRIPTION** | **QUERY PARAM** |

    | --- | --- | --- |

    |  canWrite | A boolean value indicating whether the current API user has write access to this resource. | provideAuthorizationMeta
    |

    |  canDelete | A boolean value indicating whether the current API user has delete access to this resource. | provideAuthorizationMeta
    |



    ## ⌵ Opportunity Prospect Role Actions


    '
  name: Opportunity Prospect Role
  x-internal: false
- description: '<SchemaDefinition schemaRef="#/components/schemas/opportunityStage" />


    ## Opportunity Stage Relationships


    <SchemaDefinition schemaRef="#/components/schemas/opportunityStageRelationships" />


    ## Opportunity Stage Resource Metadata


    | **METADATA NAME**| **DESCRIPTION** | **QUERY PARAM** |

    | --- | --- | --- |

    |  canWrite | A boolean value indicating whether the current API user has write access to this resource. | provideAuthorizationMeta
    |

    |  canDelete | A boolean value indicating whether the current API user has delete access to this resource. | provideAuthorizationMeta
    |

    |  dataConnections | The set of connections a given Opportunity Stage has to external sources. | provideDataConnections
    |



    ## ⌵ Opportunity Stage Actions


    '
  name: Opportunity Stage
  x-internal: false
- description: '<SchemaDefinition schemaRef="#/components/schemas/orgSetting" />


    ## ⌵ Org Setting Actions


    '
  name: Org Setting
  x-internal: false
- description: '<SchemaDefinition schemaRef="#/components/schemas/persona" />


    ## Persona Relationships


    <SchemaDefinition schemaRef="#/components/schemas/personaRelationships" />


    ## Persona Resource Metadata


    | **METADATA NAME**| **DESCRIPTION** | **QUERY PARAM** |

    | --- | --- | --- |

    |  canWrite | A boolean value indicating whether the current API user has write access to this resource. | provideAuthorizationMeta
    |

    |  canDelete | A boolean value indicating whether the current API user has delete access to this resource. | provideAuthorizationMeta
    |



    ## ⌵ Persona Actions


    '
  name: Persona
  x-internal: false
- description: '<SchemaDefinition schemaRef="#/components/schemas/phoneNumber" />


    ## Phone Number Relationships


    <SchemaDefinition schemaRef="#/components/schemas/phoneNumberRelationships" />


    ## Phone Number Resource Metadata


    | **METADATA NAME**| **DESCRIPTION** | **QUERY PARAM** |

    | --- | --- | --- |

    |  canWrite | A boolean value indicating whether the current API user has write access to this resource. | provideAuthorizationMeta
    |

    |  canDelete | A boolean value indicating whether the current API user has delete access to this resource. | provideAuthorizationMeta
    |



    ## ⌵ Phone Number Actions


    '
  name: Phone Number
  x-internal: false
- description: '<SchemaDefinition schemaRef="#/components/schemas/product" />


    ## Product Relationships


    <SchemaDefinition schemaRef="#/components/schemas/productRelationships" />


    ## Product Resource Metadata


    | **METADATA NAME**| **DESCRIPTION** | **QUERY PARAM** |

    | --- | --- | --- |

    |  canWrite | A boolean value indicating whether the current API user has write access to this resource. | provideAuthorizationMeta
    |

    |  canDelete | A boolean value indicating whether the current API user has delete access to this resource. | provideAuthorizationMeta
    |

    |  dataConnections | The set of connections a given Product has to external sources. | provideDataConnections |



    ## ⌵ Product Actions


    '
  name: Product
  x-internal: false
- description: '<SchemaDefinition schemaRef="#/components/schemas/profile" />


    ## Profile Resource Metadata


    | **METADATA NAME**| **DESCRIPTION** | **QUERY PARAM** |

    | --- | --- | --- |

    |  canWrite | A boolean value indicating whether the current API user has write access to this resource. | provideAuthorizationMeta
    |

    |  canDelete | A boolean value indicating whether the current API user has delete access to this resource. | provideAuthorizationMeta
    |



    ## ⌵ Profile Actions


    '
  name: Profile
  x-internal: false
- description: '<SchemaDefinition schemaRef="#/components/schemas/prospect" />


    ## Prospect Relationships


    <SchemaDefinition schemaRef="#/components/schemas/prospectRelationships" />


    ## Prospect Resource Metadata


    | **METADATA NAME**| **DESCRIPTION** | **QUERY PARAM** |

    | --- | --- | --- |

    |  canWrite | A boolean value indicating whether the current API user has write access to this resource. | provideAuthorizationMeta
    |

    |  canDelete | A boolean value indicating whether the current API user has delete access to this resource. | provideAuthorizationMeta
    |

    |  dataConnections | The set of connections a given Prospect has to external sources. | provideDataConnections |



    ## ⌵ Prospect Actions


    '
  name: Prospect
  x-internal: false
- description: '<SchemaDefinition schemaRef="#/components/schemas/prospectNote" />


    ## Prospect Note Relationships


    <SchemaDefinition schemaRef="#/components/schemas/prospectNoteRelationships" />


    ## ⌵ Prospect Note Actions


    '
  name: Prospect Note
  x-internal: false
- description: '<SchemaDefinition schemaRef="#/components/schemas/purchase" />


    ## Purchase Relationships


    <SchemaDefinition schemaRef="#/components/schemas/purchaseRelationships" />


    ## Purchase Resource Metadata


    | **METADATA NAME**| **DESCRIPTION** | **QUERY PARAM** |

    | --- | --- | --- |

    |  canWrite | A boolean value indicating whether the current API user has write access to this resource. | provideAuthorizationMeta
    |

    |  canDelete | A boolean value indicating whether the current API user has delete access to this resource. | provideAuthorizationMeta
    |

    |  dataConnections | The set of connections a given Purchase has to external sources. | provideDataConnections |



    ## ⌵ Purchase Actions


    '
  name: Purchase
  x-internal: false
- description: '<SchemaDefinition schemaRef="#/components/schemas/recipient" />


    ## Recipient Relationships


    <SchemaDefinition schemaRef="#/components/schemas/recipientRelationships" />


    ## Recipient Resource Metadata


    | **METADATA NAME**| **DESCRIPTION** | **QUERY PARAM** |

    | --- | --- | --- |

    |  canWrite | A boolean value indicating whether the current API user has write access to this resource. | provideAuthorizationMeta
    |

    |  canDelete | A boolean value indicating whether the current API user has delete access to this resource. | provideAuthorizationMeta
    |



    ## ⌵ Recipient Actions


    '
  name: Recipient
  x-internal: false
- description: '<SchemaDefinition schemaRef="#/components/schemas/role" />


    ## Role Relationships


    <SchemaDefinition schemaRef="#/components/schemas/roleRelationships" />


    ## Role Resource Metadata


    | **METADATA NAME**| **DESCRIPTION** | **QUERY PARAM** |

    | --- | --- | --- |

    |  canWrite | A boolean value indicating whether the current API user has write access to this resource. | provideAuthorizationMeta
    |

    |  canDelete | A boolean value indicating whether the current API user has delete access to this resource. | provideAuthorizationMeta
    |



    ## ⌵ Role Actions


    '
  name: Role
  x-internal: false
- description: '<SchemaDefinition schemaRef="#/components/schemas/ruleset" />


    ## Ruleset Relationships


    <SchemaDefinition schemaRef="#/components/schemas/rulesetRelationships" />


    ## Ruleset Resource Metadata


    | **METADATA NAME**| **DESCRIPTION** | **QUERY PARAM** |

    | --- | --- | --- |

    |  canWrite | A boolean value indicating whether the current API user has write access to this resource. | provideAuthorizationMeta
    |

    |  canDelete | A boolean value indicating whether the current API user has delete access to this resource. | provideAuthorizationMeta
    |



    ## ⌵ Ruleset Actions


    '
  name: Ruleset
  x-internal: false
- description: '<SchemaDefinition schemaRef="#/components/schemas/sequence" />


    ## Sequence Relationships


    <SchemaDefinition schemaRef="#/components/schemas/sequenceRelationships" />


    ## Sequence Resource Metadata


    | **METADATA NAME**| **DESCRIPTION** | **QUERY PARAM** |

    | --- | --- | --- |

    |  canWrite | A boolean value indicating whether the current API user has write access to this resource. | provideAuthorizationMeta
    |

    |  canDelete | A boolean value indicating whether the current API user has delete access to this resource. | provideAuthorizationMeta
    |



    ## ⌵ Sequence Actions


    '
  name: Sequence
  x-internal: false
- description: '<SchemaDefinition schemaRef="#/components/schemas/sequenceState" />


    ## Sequence State Relationships


    <SchemaDefinition schemaRef="#/components/schemas/sequenceStateRelationships" />


    ## Sequence State Resource Metadata


    | **METADATA NAME**| **DESCRIPTION** | **QUERY PARAM** |

    | --- | --- | --- |

    |  canDelete | A boolean value indicating whether the current API user has delete access to this resource. | provideAuthorizationMeta
    |



    ## ⌵ Sequence State Actions


    '
  name: Sequence State
  x-internal: false
- description: '<SchemaDefinition schemaRef="#/components/schemas/sequenceStep" />


    ## Sequence Step Relationships


    <SchemaDefinition schemaRef="#/components/schemas/sequenceStepRelationships" />


    ## Sequence Step Resource Metadata


    | **METADATA NAME**| **DESCRIPTION** | **QUERY PARAM** |

    | --- | --- | --- |

    |  canWrite | A boolean value indicating whether the current API user has write access to this resource. | provideAuthorizationMeta
    |

    |  canDelete | A boolean value indicating whether the current API user has delete access to this resource. | provideAuthorizationMeta
    |



    ## ⌵ Sequence Step Actions


    '
  name: Sequence Step
  x-internal: false
- description: '<SchemaDefinition schemaRef="#/components/schemas/sequenceTemplate" />


    ## Sequence Template Relationships


    <SchemaDefinition schemaRef="#/components/schemas/sequenceTemplateRelationships" />


    ## Sequence Template Resource Metadata


    | **METADATA NAME**| **DESCRIPTION** | **QUERY PARAM** |

    | --- | --- | --- |

    |  canWrite | A boolean value indicating whether the current API user has write access to this resource. | provideAuthorizationMeta
    |

    |  canDelete | A boolean value indicating whether the current API user has delete access to this resource. | provideAuthorizationMeta
    |



    ## ⌵ Sequence Template Actions


    '
  name: Sequence Template
  x-internal: false
- description: '<SchemaDefinition schemaRef="#/components/schemas/snippet" />


    ## Snippet Relationships


    <SchemaDefinition schemaRef="#/components/schemas/snippetRelationships" />


    ## Snippet Resource Metadata


    | **METADATA NAME**| **DESCRIPTION** | **QUERY PARAM** |

    | --- | --- | --- |

    |  canWrite | A boolean value indicating whether the current API user has write access to this resource. | provideAuthorizationMeta
    |

    |  canDelete | A boolean value indicating whether the current API user has delete access to this resource. | provideAuthorizationMeta
    |



    ## ⌵ Snippet Actions


    '
  name: Snippet
  x-internal: false
- description: '<SchemaDefinition schemaRef="#/components/schemas/stage" />


    ## Stage Relationships


    <SchemaDefinition schemaRef="#/components/schemas/stageRelationships" />


    ## Stage Resource Metadata


    | **METADATA NAME**| **DESCRIPTION** | **QUERY PARAM** |

    | --- | --- | --- |

    |  canWrite | A boolean value indicating whether the current API user has write access to this resource. | provideAuthorizationMeta
    |

    |  canDelete | A boolean value indicating whether the current API user has delete access to this resource. | provideAuthorizationMeta
    |

    |  dataConnections | The set of connections a given Stage has to external sources. | provideDataConnections |



    ## ⌵ Stage Actions


    '
  name: Stage
  x-internal: false
- description: '<SchemaDefinition schemaRef="#/components/schemas/task" />


    ## Task Relationships


    <SchemaDefinition schemaRef="#/components/schemas/taskRelationships" />


    ## Task Resource Metadata


    | **METADATA NAME**| **DESCRIPTION** | **QUERY PARAM** |

    | --- | --- | --- |

    |  canWrite | A boolean value indicating whether the current API user has write access to this resource. | provideAuthorizationMeta
    |

    |  canDelete | A boolean value indicating whether the current API user has delete access to this resource. | provideAuthorizationMeta
    |

    |  dataConnections | The set of connections a given Task has to external sources. | provideDataConnections |



    ## ⌵ Task Actions


    '
  name: Task
  x-internal: false
- description: '<SchemaDefinition schemaRef="#/components/schemas/taskDisposition" />


    ## Task Disposition Relationships


    <SchemaDefinition schemaRef="#/components/schemas/taskDispositionRelationships" />


    ## Task Disposition Resource Metadata


    | **METADATA NAME**| **DESCRIPTION** | **QUERY PARAM** |

    | --- | --- | --- |

    |  canWrite | A boolean value indicating whether the current API user has write access to this resource. | provideAuthorizationMeta
    |

    |  canDelete | A boolean value indicating whether the current API user has delete access to this resource. | provideAuthorizationMeta
    |



    ## ⌵ Task Disposition Actions


    '
  name: Task Disposition
  x-internal: false
- description: '<SchemaDefinition schemaRef="#/components/schemas/taskPriority" />


    ## Task Priority Relationships


    <SchemaDefinition schemaRef="#/components/schemas/taskPriorityRelationships" />


    ## ⌵ Task Priority Actions


    '
  name: Task Priority
  x-internal: false
- description: '<SchemaDefinition schemaRef="#/components/schemas/taskPurpose" />


    ## Task Purpose Relationships


    <SchemaDefinition schemaRef="#/components/schemas/taskPurposeRelationships" />


    ## Task Purpose Resource Metadata


    | **METADATA NAME**| **DESCRIPTION** | **QUERY PARAM** |

    | --- | --- | --- |

    |  canWrite | A boolean value indicating whether the current API user has write access to this resource. | provideAuthorizationMeta
    |

    |  canDelete | A boolean value indicating whether the current API user has delete access to this resource. | provideAuthorizationMeta
    |



    ## ⌵ Task Purpose Actions


    '
  name: Task Purpose
  x-internal: false
- description: '<SchemaDefinition schemaRef="#/components/schemas/team" />


    ## Team Relationships


    <SchemaDefinition schemaRef="#/components/schemas/teamRelationships" />


    ## Team Resource Metadata


    | **METADATA NAME**| **DESCRIPTION** | **QUERY PARAM** |

    | --- | --- | --- |

    |  canWrite | A boolean value indicating whether the current API user has write access to this resource. | provideAuthorizationMeta
    |

    |  canDelete | A boolean value indicating whether the current API user has delete access to this resource. | provideAuthorizationMeta
    |



    ## ⌵ Team Actions


    '
  name: Team
  x-internal: false
- description: '<SchemaDefinition schemaRef="#/components/schemas/template" />


    ## Template Relationships


    <SchemaDefinition schemaRef="#/components/schemas/templateRelationships" />


    ## Template Resource Metadata


    | **METADATA NAME**| **DESCRIPTION** | **QUERY PARAM** |

    | --- | --- | --- |

    |  canWrite | A boolean value indicating whether the current API user has write access to this resource. | provideAuthorizationMeta
    |

    |  canDelete | A boolean value indicating whether the current API user has delete access to this resource. | provideAuthorizationMeta
    |



    ## ⌵ Template Actions


    '
  name: Template
  x-internal: false
- description: '<SchemaDefinition schemaRef="#/components/schemas/user" />


    ## User Relationships


    <SchemaDefinition schemaRef="#/components/schemas/userRelationships" />


    ## User Resource Metadata


    | **METADATA NAME**| **DESCRIPTION** | **QUERY PARAM** |

    | --- | --- | --- |

    |  canWrite | A boolean value indicating whether the current API user has write access to this resource. | provideAuthorizationMeta
    |

    |  dataConnections | The set of connections a given User has to external sources. | provideDataConnections |



    ## ⌵ User Actions


    '
  name: User
  x-internal: false
- description: '<SchemaDefinition schemaRef="#/components/schemas/webhook" />


    ## Webhook Relationships


    <SchemaDefinition schemaRef="#/components/schemas/webhookRelationships" />


    ## Webhook Resource Metadata


    | **METADATA NAME**| **DESCRIPTION** | **QUERY PARAM** |

    | --- | --- | --- |

    |  canWrite | A boolean value indicating whether the current API user has write access to this resource. | provideAuthorizationMeta
    |

    |  canDelete | A boolean value indicating whether the current API user has delete access to this resource. | provideAuthorizationMeta
    |



    ## ⌵ Webhook Actions


    '
  name: Webhook
  x-internal: false
paths:
  /accountNotes:
    get:
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                properties:
                  data:
                    items:
                      $ref: '#/components/schemas/accountNoteResponse'
                    type: array
          description: OK
        '422':
          content:
            application/vnd.api+json:
              schema:
                properties:
                  errors:
                    items:
                      properties:
                        detail:
                          type: string
                        id:
                          type: string
                        title:
                          type: string
                      type: object
                    type: array
          description: JSON error message
      summary: Get a Collection of Account Notes
      tags:
      - Account Note
      x-internal: false
    post:
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              properties:
                data:
                  properties:
                    attributes:
                      $ref: '#/components/schemas/accountNote'
                    relationships:
                      $ref: '#/components/schemas/accountNoteRelationships'
                    type:
                      type: string
              type: object
        required: true
      responses:
        '201':
          content:
            application/vnd.api+json:
              schema:
                properties:
                  data:
                    $ref: '#/components/schemas/accountNoteResponse'
          description: Created
        '422':
          content:
            application/vnd.api+json:
              schema:
                properties:
                  errors:
                    items:
                      properties:
                        detail:
                          type: string
                        id:
                          type: string
                        title:
                          type: string
                      type: object
                    type: array
          description: JSON error message
      summary: Create a New Account Note
      tags:
      - Account Note
      x-internal: false
  /accountNotes/{id}:
    delete:
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: integer
      responses:
        '204':
          content:
            application/vnd.api+json: {}
          description: Deleted
        '422':
          content:
            application/vnd.api+json:
              schema:
                properties:
                  errors:
                    items:
                      properties:
                        detail:
                          type: string
                        id:
                          type: string
                        title:
                          type: string
                      type: object
                    type: array
          description: JSON error message
      summary: Delete an Existing Account Note by ID
      tags:
      - Account Note
      x-internal: false
    get:
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: integer
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                properties:
                  data:
                    $ref: '#/components/schemas/accountNoteResponse'
          description: OK
        '404':
          content:
            application/vnd.api+json:
              schema:
                properties:
                  errors:
                    items:
                      properties:
                        detail:
                          type: string
                        id:
                          type: string
                        title:
                          type: string
                      type: object
                    type: array
          description: Not Found
      summary: Get an Account Note by ID
      tags:
      - Account Note
      x-internal: false
    patch:
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: integer
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              properties:
                data:
                  properties:
                    attributes:
                      $ref: '#/components/schemas/accountNote'
                    id:
                      type: integer
                    relationships:
                      $ref: '#/components/schemas/accountNoteRelationships'
                    type:
                      type: string
                  required:
                  - type
                  - id
              type: object
        required: true
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                properties:
                  data:
                    properties:
                      attributes:
                        $ref: '#/components/schemas/accountNote'
                      id:
                        type: integer
                      relationships:
                        $ref: '#/components/schemas/accountNoteRelationships'
                      type:
                        type: string
                    required:
                    - type
                    - id
                type: object
          description: OK
        '422':
          content:
            application/vnd.api+json:
              schema:
                properties:
                  errors:
                    items:
                      properties:
                        detail:
                          type: string
                        id:
                          type: string
                        title:
                          type: string
                      type: object
                    type: array
          description: JSON error message
      summary: Update an Account Note
      tags:
      - Account Note
      x-internal: false
  /accounts:
    get:
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                properties:
                  data:
                    items:
                      $ref: '#/components/schemas/accountResponse'
                    type: array
          description: OK
        '422':
          content:
            application/vnd.api+json:
              schema:
                properties:
                  errors:
                    items:
                      properties:
                        detail:
                          type: string
                        id:
                          type: string
                        title:
                          type: string
                      type: object
                    type: array
          description: JSON error message
      security:
      - bearerAuth: []
        s2sAuthToken: []
      summary: Get a Collection of Accounts
      tags:
      - Account
      x-internal: false
    post:
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              properties:
                data:
                  properties:
                    attributes:
                      $ref: '#/components/schemas/account'
                    relationships:
                      $ref: '#/components/schemas/accountRelationships'
                    type:
                      type: string
              type: object
        required: true
      responses:
        '201':
          content:
            application/vnd.api+json:
              schema:
                properties:
                  data:
                    $ref: '#/components/schemas/accountResponse'
          description: Created
        '422':
          content:
            application/vnd.api+json:
              schema:
                properties:
                  errors:
                    items:
                      properties:
                        detail:
                          type: string
                        id:
                          type: string
                        title:
                          type: string
                      type: object
                    type: array
          description: JSON error message
      security:
      - bearerAuth: []
        s2sAuthToken: []
      summary: Create a New Account
      tags:
      - Account
      x-internal: false
  /accounts/{id}:
    delete:
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: integer
      responses:
        '204':
          content:
            application/vnd.api+json: {}
          description: Deleted
        '422':
          content:
            application/vnd.api+json:
              schema:
                properties:
                  errors:
                    items:
                      properties:
                        detail:
                          type: string
                        id:
                          type: string
                        title:
                          type: string
                      type: object
                    type: array
          description: JSON error message
      security:
      - bearerAuth: []
        s2sAuthToken: []
      summary: Delete an Existing Account by ID
      tags:
      - Account
      x-internal: false
    get:
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: integer
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                properties:
                  data:
                    $ref: '#/components/schemas/accountResponse'
          description: OK
        '404':
          content:
            application/vnd.api+json:
              schema:
                properties:
                  errors:
                    items:
                      properties:
                        detail:
                          type: string
                        id:
                          type: string
                        title:
                          type: string
                      type: object
                    type: array
          description: Not Found
      security:
      - bearerAuth: []
        s2sAuthToken: []
      summary: Get an Account by ID
      tags:
      - Account
      x-internal: false
    patch:
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: integer
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              properties:
                data:
                  properties:
                    attributes:
                      $ref: '#/components/schemas/account'
                    id:
                      type: integer
                    relationships:
                      $ref: '#/components/schemas/accountRelationships'
                    type:
                      type: string
                  required:
                  - type
                  - id
              type: object
        required: true
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                properties:
                  data:
                    properties:
                      attributes:
                        $ref: '#/components/schemas/account'
                      id:
                        type: integer
                      relationships:
                        $ref: '#/components/schemas/accountRelationships'
                      type:
                        type: string
                    required:
                    - type
                    - id
                type: object
          description: OK
        '422':
          content:
            application/vnd.api+json:
              schema:
                properties:
                  errors:
                    items:
                      properties:
                        detail:
                          type: string
                        id:
                          type: string
                        title:
                          type: string
                      type: object
                    type: array
          description: JSON error message
      security:
      - bearerAuth: []
        s2sAuthToken: []
      summary: Update an Account
      tags:
      - Account
      x-internal: false
  /auditLogs:
    get:
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                properties:
                  data:
                    items:
                      $ref: '#/components/schemas/auditLogResponse'
                    type: array
          description: OK
        '422':
          content:
            application/vnd.api+json:
              schema:
                properties:
                  errors:
                    items:
                      properties:
                        detail:
                          type: string
                        id:
                          type: string
                        title:
                          type: string
                      type: object
                    type: array
          description: JSON error message
      summary: Get a Collection of Audit Logs
      tags:
      - Audit Log
      x-internal: false
  /batchItems:
    get:
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                properties:
                  data:
                    items:
                      $ref: '#/components/schemas/batchItemResponse'
                    type: array
          description: OK
        '422':
          content:
            application/vnd.api+json:
              schema:
                properties:
                  errors:
                    items:
                      properties:
                        detail:
                          type: string
                        id:
                          type: string
                        title:
                          type: string
                      type: object
                    type: array
          description: JSON error message
      summary: Get a Collection of Batch Items
      tags:
      - Batch Item
      x-internal: false
  /batchItems/{id}:
    get:
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: integer
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                properties:
                  data:
                    $ref: '#/components/schemas/batchItemResponse'
          description: OK
        '404':
          content:
            application/vnd.api+json:
              schema:
                properties:
                  errors:
                    items:
                      properties:
                        detail:
                          type: string
                        id:
                          type: string
                        title:
                          type: string
                      type: object
                    type: array
          description: Not Found
      summary: Get a Batch Item by ID
      tags:
      - Batch Item
      x-internal: false
  /batches:
    get:
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                properties:
                  data:
                    items:
                      $ref: '#/components/schemas/batchResponse'
                    type: array
          description: OK
        '422':
          content:
            application/vnd.api+json:
              schema:
                properties:
                  errors:
                    items:
                      properties:
                        detail:
                          type: string
                        id:
                          type: string
                        title:
                          type: string
                      type: object
                    type: array
          description: JSON error message
      summary: Get a Collection of Batches
      tags:
      - Batch
      x-internal: false
  /batches/{id}:
    get:
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: integer
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                properties:
                  data:
                    $ref: '#/components/schemas/batchResponse'
          description: OK
        '404':
          content:
            application/vnd.api+json:
              schema:
                properties:
                  errors:
                    items:
                      properties:
                        detail:
                          type: string
                        id:
                          type: string
                        title:
                          type: string
                      type: object
                    type: array
          description: Not Found
      summary: Get a Batch by ID
      tags:
      - Batch
      x-internal: false
  /batches/{id}/actions/cancel:
    post:
      description: "### Member Action \n\nAction to call to cancel the batch"
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: integer
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                properties:
                  data:
                    $ref: '#/components/schemas/batchResponse'
          description: OK
        '422':
          content:
            application/vnd.api+json:
              schema:
                properties:
                  errors:
                    items:
                      properties:
                        detail:
                          type: string
                        id:
                          type: string
                        title:
                          type: string
                      type: object
                    type: array
          description: JSON error message
      summary: Cancel
      tags:
      - Batch
      x-internal: false
  /batches/{id}/actions/confirm:
    post:
      description: "### Member Action \n\nAction to call to confirm the batch"
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: integer
      - explode: true
        in: query
        name: actionParams
        schema:
          properties:
            confirmedCount:
              description: ''
        style: deepObject
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                properties:
                  data:
                    $ref: '#/components/schemas/batchResponse'
          description: OK
        '422':
          content:
            application/vnd.api+json:
              schema:
                properties:
                  errors:
                    items:
                      properties:
                        detail:
                          type: string
                        id:
                          type: string
                        title:
                          type: string
                      type: object
                    type: array
          description: JSON error message
      summary: Confirm
      tags:
      - Batch
      x-internal: false
  /batches/actions/accountAddTags:
    post:
      description: "### Bulk Action \n\nAdds tags to the accounts targeted by the query parameters (default: ALL) using the\
        \ {tags} array of strings passed in request body"
      parameters:
      - explode: true
        in: query
        name: actionParams
        schema:
          properties:
            filter:
              description: Filter to apply to select the records on which the action should be applied
            skipConfirmation:
              description: Boolean to specify whether or not the confirmation stop should be skipped
        style: deepObject
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              properties:
                data:
                  properties:
                    attributes:
                      properties:
                        ids:
                          description: List of IDs to apply the action to
                          items:
                            type: integer
                          type: array
                        tags:
                          description: ''
                          items:
                            type: string
                          type: array
                type:
                  type: string
              type: object
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                properties:
                  data:
                    $ref: '#/components/schemas/batchResponse'
          description: OK
        '422':
          content:
            application/vnd.api+json:
              schema:
                properties:
                  errors:
                    items:
                      properties:
                        detail:
                          type: string
                        id:
                          type: string
                        title:
                          type: string
                      type: object
                    type: array
          description: JSON error message
      summary: Account Add Tags
      tags:
      - Batch
      x-internal: false
  /batches/actions/accountsAddAssignments:
    post:
      description: "### Bulk Action \n\nAdds assignments to the accounts targeted by the query parameters (default: ALL) using\
        \ the {userIds} array of strings passed in request body"
      parameters:
      - explode: true
        in: query
        name: actionParams
        schema:
          properties:
            filter:
              description: Filter to apply to select the records on which the action should be applied
            skipConfirmation:
              description: Boolean to specify whether or not the confirmation stop should be skipped
        style: deepObject
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              properties:
                data:
                  properties:
                    attributes:
                      properties:
                        ids:
                          description: List of IDs to apply the action to
                          items:
                            type: integer
                          type: array
                        userIds:
                          description: A list of assignments to add.
                          items:
                            type: string
                          type: array
                type:
                  type: string
              type: object
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                properties:
                  data:
                    $ref: '#/components/schemas/batchResponse'
          description: OK
        '422':
          content:
            application/vnd.api+json:
              schema:
                properties:
                  errors:
                    items:
                      properties:
                        detail:
                          type: string
                        id:
                          type: string
                        title:
                          type: string
                      type: object
                    type: array
          description: JSON error message
      summary: Accounts Add Assignments
      tags:
      - Batch
      x-internal: false
  /batches/actions/accountsAssignOwner:
    post:
      description: "### Bulk Action \n\nassign an user with {ownerId} as owner to all the targeted accounts "
      parameters:
      - explode: true
        in: query
        name: actionParams
        schema:
          properties:
            filter:
              description: Filter to apply to select the records on which the action should be applied
            skipConfirmation:
              description: Boolean to specify whether or not the confirmation stop should be skipped
        style: deepObject
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              properties:
                data:
                  properties:
                    attributes:
                      properties:
                        ids:
                          description: List of IDs to apply the action to
                          items:
                            type: integer
                          type: array
                        ownerId:
                          description: The ID of the owner
                          type: integer
                type:
                  type: string
              type: object
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                properties:
                  data:
                    $ref: '#/components/schemas/batchResponse'
          description: OK
        '422':
          content:
            application/vnd.api+json:
              schema:
                properties:
                  errors:
                    items:
                      properties:
                        detail:
                          type: string
                        id:
                          type: string
                        title:
                          type: string
                      type: object
                    type: array
          description: JSON error message
      summary: Accounts Assign Owner
      tags:
      - Batch
      x-internal: false
  /batches/actions/accountsBulkModify:
    post:
      description: "### Bulk Action \n\nModifies the accounts targeted by the query parameters (default: ALL) using the {field:\
        \ value, ...} pairs passed in request body.\n\nAlternative request body for a single field modification is also supported:\n\
        ```\n{\n\t\"data\": {\n\t\t\"attributes\": {\n\t\t\t\"fieldName\": \"string\",\n\t\t\t\"fieldValue\": \"string\",\n\
        \t\t\t\"ids\": [0]\n\t\t}\n\t},\n\t\"type\": \"string\"\n}\n```"
      parameters:
      - explode: true
        in: query
        name: actionParams
        schema:
          properties:
            filter:
              description: Filter to apply to select the records on which the action should be applied
            skipConfirmation:
              description: Boolean to specify whether or not the confirmation stop should be skipped
        style: deepObject
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              properties:
                data:
                  properties:
                    attributes:
                      properties:
                        attribute1:
                          description: A pair of any field name and its value to modify
                          type: string
                        attribute2:
                          description: A pair of any field name and its value to modify
                          type: boolean
                        attributeN:
                          description: A pair of any field name and its value to modify
                          type: integer
                        ids:
                          description: List of IDs to apply the action to
                          items:
                            type: integer
                          type: array
                type:
                  type: string
              type: object
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                properties:
                  data:
                    $ref: '#/components/schemas/batchResponse'
          description: OK
        '422':
          content:
            application/vnd.api+json:
              schema:
                properties:
                  errors:
                    items:
                      properties:
                        detail:
                          type: string
                        id:
                          type: string
                        title:
                          type: string
                      type: object
                    type: array
          description: JSON error message
      summary: Accounts Bulk Modify
      tags:
      - Batch
      x-internal: false
  /batches/actions/accountsDestroyAll:
    post:
      description: "### Bulk Action \n\nDeletes the accounts targeted by the query parameters (default: ALL)"
      parameters:
      - explode: true
        in: query
        name: actionParams
        schema:
          properties:
            filter:
              description: Filter to apply to select the records on which the action should be applied
            skipConfirmation:
              description: Boolean to specify whether or not the confirmation stop should be skipped
        style: deepObject
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              properties:
                data:
                  properties:
                    attributes:
                      properties:
                        ids:
                          description: List of IDs to apply the action to
                          items:
                            type: integer
                          type: array
                type:
                  type: string
              type: object
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                properties:
                  data:
                    $ref: '#/components/schemas/batchResponse'
          description: OK
        '422':
          content:
            application/vnd.api+json:
              schema:
                properties:
                  errors:
                    items:
                      properties:
                        detail:
                          type: string
                        id:
                          type: string
                        title:
                          type: string
                      type: object
                    type: array
          description: JSON error message
      summary: Accounts Destroy All
      tags:
      - Batch
      x-internal: false
  /batches/actions/accountsRemoveAllAssignments:
    post:
      description: "### Bulk Action \n\nRemoves all assignments from the accounts targeted by the query parameters (default:\
        \ ALL)"
      parameters:
      - explode: true
        in: query
        name: actionParams
        schema:
          properties:
            filter:
              description: Filter to apply to select the records on which the action should be applied
            skipConfirmation:
              description: Boolean to specify whether or not the confirmation stop should be skipped
        style: deepObject
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              properties:
                data:
                  properties:
                    attributes:
                      properties:
                        ids:
                          description: List of IDs to apply the action to
                          items:
                            type: integer
                          type: array
                type:
                  type: string
              type: object
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                properties:
                  data:
                    $ref: '#/components/schemas/batchResponse'
          description: OK
        '422':
          content:
            application/vnd.api+json:
              schema:
                properties:
                  errors:
                    items:
                      properties:
                        detail:
                          type: string
                        id:
                          type: string
                        title:
                          type: string
                      type: object
                    type: array
          description: JSON error message
      summary: Accounts Remove All Assignments
      tags:
      - Batch
      x-internal: false
  /batches/actions/accountsRemoveAssignments:
    post:
      description: "### Bulk Action \n\nRemoves assignments from the accounts targeted by the query parameters (default: ALL)\
        \ using the {userIds} array of strings passed in request body"
      parameters:
      - explode: true
        in: query
        name: actionParams
        schema:
          properties:
            filter:
              description: Filter to apply to select the records on which the action should be applied
            skipConfirmation:
              description: Boolean to specify whether or not the confirmation stop should be skipped
        style: deepObject
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              properties:
                data:
                  properties:
                    attributes:
                      properties:
                        ids:
                          description: List of IDs to apply the action to
                          items:
                            type: integer
                          type: array
                        userIds:
                          description: A list of assignments to remove.
                          items:
                            type: string
                          type: array
                type:
                  type: string
              type: object
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                properties:
                  data:
                    $ref: '#/components/schemas/batchResponse'
          description: OK
        '422':
          content:
            application/vnd.api+json:
              schema:
                properties:
                  errors:
                    items:
                      properties:
                        detail:
                          type: string
                        id:
                          type: string
                        title:
                          type: string
                      type: object
                    type: array
          description: JSON error message
      summary: Accounts Remove Assignments
      tags:
      - Batch
      x-internal: false
  /batches/actions/accountsRemoveTags:
    post:
      description: "### Bulk Action \n\nRemoves tags from the accounts targeted by the query parameters (default: ALL) using\
        \ the {tags} array of strings passed in request body"
      parameters:
      - explode: true
        in: query
        name: actionParams
        schema:
          properties:
            filter:
              description: Filter to apply to select the records on which the action should be applied
            skipConfirmation:
              description: Boolean to specify whether or not the confirmation stop should be skipped
        style: deepObject
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              properties:
                data:
                  properties:
                    attributes:
                      properties:
                        ids:
                          description: List of IDs to apply the action to
                          items:
                            type: integer
                          type: array
                        tags:
                          description: ''
                          items:
                            type: string
                          type: array
                type:
                  type: string
              type: object
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                properties:
                  data:
                    $ref: '#/components/schemas/batchResponse'
          description: OK
        '422':
          content:
            application/vnd.api+json:
              schema:
                properties:
                  errors:
                    items:
                      properties:
                        detail:
                          type: string
                        id:
                          type: string
                        title:
                          type: string
                      type: object
                    type: array
          description: JSON error message
      summary: Accounts Remove Tags
      tags:
      - Batch
      x-internal: false
  /batches/actions/customObjectBulkDelete:
    post:
      description: "### Bulk Action \n\nAction to delete custom objects of type selected by the query parameter {objectName} "
      parameters:
      - explode: true
        in: query
        name: actionParams
        schema:
          properties:
            filter:
              description: Filter to apply to select the records on which the action should be applied
            objectName:
              description: name of the object type to which the records belong
            skipConfirmation:
              description: Boolean to specify whether or not the confirmation stop should be skipped
          required:
          - objectName
        style: deepObject
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              properties:
                data:
                  properties:
                    attributes:
                      properties:
                        ids:
                          description: List of IDs to apply the action to
                          items:
                            type: integer
                          type: array
                type:
                  type: string
              type: object
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                properties:
                  data:
                    $ref: '#/components/schemas/batchResponse'
          description: OK
        '422':
          content:
            application/vnd.api+json:
              schema:
                properties:
                  errors:
                    items:
                      properties:
                        detail:
                          type: string
                        id:
                          type: string
                        title:
                          type: string
                      type: object
                    type: array
          description: JSON error message
      summary: Custom Object Bulk Delete
      tags:
      - Batch
      x-internal: false
  /batches/actions/customObjectBulkModify:
    post:
      description: "### Bulk Action \n\nAction to modify custom objects of type selected by the query parameter {objectName} "
      parameters:
      - explode: true
        in: query
        name: actionParams
        schema:
          properties:
            filter:
              description: Filter to apply to select the records on which the action should be applied
            objectName:
              description: name of the object type to which the records belong
            skipConfirmation:
              description: Boolean to specify whether or not the confirmation stop should be skipped
          required:
          - objectName
        style: deepObject
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              properties:
                data:
                  properties:
                    attributes:
                      properties:
                        attribute1:
                          description: A pair of any field name and its value to modify
                          type: string
                        attribute2:
                          description: A pair of any field name and its value to modify
                          type: boolean
                        attributeN:
                          description: A pair of any field name and its value to modify
                          type: integer
                        ids:
                          description: List of IDs to apply the action to
                          items:
                            type: integer
                          type: array
                type:
                  type: string
              type: object
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                properties:
                  data:
                    $ref: '#/components/schemas/batchResponse'
          description: OK
        '422':
          content:
            application/vnd.api+json:
              schema:
                properties:
                  errors:
                    items:
                      properties:
                        detail:
                          type: string
                        id:
                          type: string
                        title:
                          type: string
                      type: object
                    type: array
          description: JSON error message
      summary: Custom Object Bulk Modify
      tags:
      - Batch
      x-internal: false
  /batches/actions/prospectsAddAssignments:
    post:
      description: "### Bulk Action \n\nAdds assignments to the prospects targeted by the query parameters (default: ALL)\
        \ using the {userIds} array of strings passed in request body"
      parameters:
      - explode: true
        in: query
        name: actionParams
        schema:
          properties:
            filter:
              description: Filter to apply to select the records on which the action should be applied
            skipConfirmation:
              description: Boolean to specify whether or not the confirmation stop should be skipped
        style: deepObject
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              properties:
                data:
                  properties:
                    attributes:
                      properties:
                        ids:
                          description: List of IDs to apply the action to
                          items:
                            type: integer
                          type: array
                        userIds:
                          description: A list of assignments to add.
                          items:
                            type: string
                          type: array
                type:
                  type: string
              type: object
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                properties:
                  data:
                    $ref: '#/components/schemas/batchResponse'
          description: OK
        '422':
          content:
            application/vnd.api+json:
              schema:
                properties:
                  errors:
                    items:
                      properties:
                        detail:
                          type: string
                        id:
                          type: string
                        title:
                          type: string
                      type: object
                    type: array
          description: JSON error message
      summary: Prospects Add Assignments
      tags:
      - Batch
      x-internal: false
  /batches/actions/prospectsAddTags:
    post:
      description: "### Bulk Action \n\nAdds tags to the prospects targeted by the query parameters (default: ALL) using the\
        \ {tags} array of strings passed in request body"
      parameters:
      - explode: true
        in: query
        name: actionParams
        schema:
          properties:
            filter:
              description: Filter to apply to select the records on which the action should be applied
            skipConfirmation:
              description: Boolean to specify whether or not the confirmation stop should be skipped
        style: deepObject
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              properties:
                data:
                  properties:
                    attributes:
                      properties:
                        ids:
                          description: List of IDs to apply the action to
                          items:
                            type: integer
                          type: array
                        tags:
                          description: A list of tags to add.
                          items:
                            type: string
                          type: array
                type:
                  type: string
              type: object
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                properties:
                  data:
                    $ref: '#/components/schemas/batchResponse'
          description: OK
        '422':
          content:
            application/vnd.api+json:
              schema:
                properties:
                  errors:
                    items:
                      properties:
                        detail:
                          type: string
                        id:
                          type: string
                        title:
                          type: string
                      type: object
                    type: array
          description: JSON error message
      summary: Prospects Add Tags
      tags:
      - Batch
      x-internal: false
  /batches/actions/prospectsAddToSequence:
    post:
      description: "### Bulk Action \n\nAdd Prospects To Sequence"
      parameters:
      - explode: true
        in: query
        name: actionParams
        schema:
          properties:
            filter:
              description: Filter to apply to select the records on which the action should be applied
            skipConfirmation:
              description: Boolean to specify whether or not the confirmation stop should be skipped
        style: deepObject
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              properties:
                data:
                  properties:
                    attributes:
                      properties:
                        ids:
                          description: List of IDs to apply the action to
                          items:
                            type: integer
                          type: array
                        mailboxId:
                          description: The ID of the mailbox of the sequencer.
                          type: integer
                        sequenceId:
                          description: The ID of the active sequence associated with the prospects.
                          type: integer
                        stepOverrides:
                          description: The array of object with stepOverrides attributes.
                          items:
                            type: object
                          type: array
                type:
                  type: string
              type: object
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                properties:
                  data:
                    $ref: '#/components/schemas/batchResponse'
          description: OK
        '422':
          content:
            application/vnd.api+json:
              schema:
                properties:
                  errors:
                    items:
                      properties:
                        detail:
                          type: string
                        id:
                          type: string
                        title:
                          type: string
                      type: object
                    type: array
          description: JSON error message
      summary: Prospects Add To Sequence
      tags:
      - Batch
      x-internal: false
  /batches/actions/prospectsAssignAccount:
    post:
      description: "### Bulk Action \n\nSets the account to the prospects targeted by the query parameters (default: ALL)\
        \ using the {accountId} which specifies the account to add to the prospects"
      parameters:
      - explode: true
        in: query
        name: actionParams
        schema:
          properties:
            filter:
              description: Filter to apply to select the records on which the action should be applied
            skipConfirmation:
              description: Boolean to specify whether or not the confirmation stop should be skipped
        style: deepObject
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              properties:
                data:
                  properties:
                    attributes:
                      properties:
                        accountId:
                          description: The account ID to associate with the prospects
                          type: string
                        ids:
                          description: List of IDs to apply the action to
                          items:
                            type: integer
                          type: array
                type:
                  type: string
              type: object
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                properties:
                  data:
                    $ref: '#/components/schemas/batchResponse'
          description: OK
        '422':
          content:
            application/vnd.api+json:
              schema:
                properties:
                  errors:
                    items:
                      properties:
                        detail:
                          type: string
                        id:
                          type: string
                        title:
                          type: string
                      type: object
                    type: array
          description: JSON error message
      summary: Prospects Assign Account
      tags:
      - Batch
      x-internal: false
  /batches/actions/prospectsAssignOpportunity:
    post:
      description: "### Bulk Action \n\nSets the opportunity to the prospects targeted by the query parameters (default: ALL)\
        \ using the {opportunityId} which specifies the account to add to the prospects"
      parameters:
      - explode: true
        in: query
        name: actionParams
        schema:
          properties:
            filter:
              description: Filter to apply to select the records on which the action should be applied
            skipConfirmation:
              description: Boolean to specify whether or not the confirmation stop should be skipped
        style: deepObject
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              properties:
                data:
                  properties:
                    attributes:
                      properties:
                        ids:
                          description: List of IDs to apply the action to
                          items:
                            type: integer
                          type: array
                        opportunityId:
                          description: The opportunity ID to associate with the prospects
                          type: string
                type:
                  type: string
              type: object
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                properties:
                  data:
                    $ref: '#/components/schemas/batchResponse'
          description: OK
        '422':
          content:
            application/vnd.api+json:
              schema:
                properties:
                  errors:
                    items:
                      properties:
                        detail:
                          type: string
                        id:
                          type: string
                        title:
                          type: string
                      type: object
                    type: array
          description: JSON error message
      summary: Prospects Assign Opportunity
      tags:
      - Batch
      x-internal: false
  /batches/actions/prospectsAssignOwner:
    post:
      description: "### Bulk Action \n\nassign an user with {ownerId} as owner to all the targeted prospects "
      parameters:
      - explode: true
        in: query
        name: actionParams
        schema:
          properties:
            filter:
              description: Filter to apply to select the records on which the action should be applied
            skipConfirmation:
              description: Boolean to specify whether or not the confirmation stop should be skipped
        style: deepObject
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              properties:
                data:
                  properties:
                    attributes:
                      properties:
                        ids:
                          description: List of IDs to apply the action to
                          items:
                            type: integer
                          type: array
                        ownerId:
                          description: The ID of the owner
                          type: integer
                type:
                  type: string
              type: object
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                properties:
                  data:
                    $ref: '#/components/schemas/batchResponse'
          description: OK
        '422':
          content:
            application/vnd.api+json:
              schema:
                properties:
                  errors:
                    items:
                      properties:
                        detail:
                          type: string
                        id:
                          type: string
                        title:
                          type: string
                      type: object
                    type: array
          description: JSON error message
      summary: Prospects Assign Owner
      tags:
      - Batch
      x-internal: false
  /batches/actions/prospectsBulkModify:
    post:
      description: "### Bulk Action \n\nModifies the prospects targeted by the query parameters (default: ALL) using the {field:\
        \ value, ...} pairs passed in request body\n\nAlternative request body for a single field modification is also supported:\n\
        ```\n{\n\t\"data\": {\n\t\t\"attributes\": {\n\t\t\t\"fieldName\": \"string\",\n\t\t\t\"fieldValue\": \"string\",\n\
        \t\t\t\"ids\": [0]\n\t\t}\n\t},\n\t\"type\": \"string\"\n}\n```"
      parameters:
      - explode: true
        in: query
        name: actionParams
        schema:
          properties:
            filter:
              description: Filter to apply to select the records on which the action should be applied
            skipConfirmation:
              description: Boolean to specify whether or not the confirmation stop should be skipped
        style: deepObject
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              properties:
                data:
                  properties:
                    attributes:
                      properties:
                        attribute1:
                          description: A pair of any field name and its value to modify
                          type: string
                        attribute2:
                          description: A pair of any field name and its value to modify
                          type: boolean
                        attributeN:
                          description: A pair of any field name and its value to modify
                          type: integer
                        ids:
                          description: List of IDs to apply the action to
                          items:
                            type: integer
                          type: array
                type:
                  type: string
              type: object
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                properties:
                  data:
                    $ref: '#/components/schemas/batchResponse'
          description: OK
        '422':
          content:
            application/vnd.api+json:
              schema:
                properties:
                  errors:
                    items:
                      properties:
                        detail:
                          type: string
                        id:
                          type: string
                        title:
                          type: string
                      type: object
                    type: array
          description: JSON error message
      summary: Prospects Bulk Modify
      tags:
      - Batch
      x-internal: false
  /batches/actions/prospectsDestroyAll:
    post:
      description: "### Bulk Action \n\nDeletes the prospects targeted by the query parameters (default: ALL)"
      parameters:
      - explode: true
        in: query
        name: actionParams
        schema:
          properties:
            filter:
              description: Filter to apply to select the records on which the action should be applied
            skipConfirmation:
              description: Boolean to specify whether or not the confirmation stop should be skipped
        style: deepObject
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              properties:
                data:
                  properties:
                    attributes:
                      properties:
                        ids:
                          description: List of IDs to apply the action to
                          items:
                            type: integer
                          type: array
                type:
                  type: string
              type: object
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                properties:
                  data:
                    $ref: '#/components/schemas/batchResponse'
          description: OK
        '422':
          content:
            application/vnd.api+json:
              schema:
                properties:
                  errors:
                    items:
                      properties:
                        detail:
                          type: string
                        id:
                          type: string
                        title:
                          type: string
                      type: object
                    type: array
          description: JSON error message
      summary: Prospects Destroy All
      tags:
      - Batch
      x-internal: false
  /batches/actions/prospectsFinishAll:
    post:
      description: "### Bulk Action \n\nFor all prospects targeted by the query parameters (default: ALL), attempt to finish\
        \ the associated prospect sequence"
      parameters:
      - explode: true
        in: query
        name: actionParams
        schema:
          properties:
            filter:
              description: Filter to apply to select the records on which the action should be applied
            skipConfirmation:
              description: Boolean to specify whether or not the confirmation stop should be skipped
        style: deepObject
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              properties:
                data:
                  properties:
                    attributes:
                      properties:
                        ids:
                          description: List of IDs to apply the action to
                          items:
                            type: integer
                          type: array
                type:
                  type: string
              type: object
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                properties:
                  data:
                    $ref: '#/components/schemas/batchResponse'
          description: OK
        '422':
          content:
            application/vnd.api+json:
              schema:
                properties:
                  errors:
                    items:
                      properties:
                        detail:
                          type: string
                        id:
                          type: string
                        title:
                          type: string
                      type: object
                    type: array
          description: JSON error message
      summary: Prospects Finish All
      tags:
      - Batch
      x-internal: false
  /batches/actions/prospectsPauseAll:
    post:
      description: "### Bulk Action \n\nFor all prospects targeted by the query parameters (default: ALL), attempt to pause\
        \ the associated prospect sequence"
      parameters:
      - explode: true
        in: query
        name: actionParams
        schema:
          properties:
            filter:
              description: Filter to apply to select the records on which the action should be applied
            skipConfirmation:
              description: Boolean to specify whether or not the confirmation stop should be skipped
        style: deepObject
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              properties:
                data:
                  properties:
                    attributes:
                      properties:
                        ids:
                          description: List of IDs to apply the action to
                          items:
                            type: integer
                          type: array
                type:
                  type: string
              type: object
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                properties:
                  data:
                    $ref: '#/components/schemas/batchResponse'
          description: OK
        '422':
          content:
            application/vnd.api+json:
              schema:
                properties:
                  errors:
                    items:
                      properties:
                        detail:
                          type: string
                        id:
                          type: string
                        title:
                          type: string
                      type: object
                    type: array
          description: JSON error message
      summary: Prospects Pause All
      tags:
      - Batch
      x-internal: false
  /batches/actions/prospectsRemoveAllAssignments:
    post:
      description: "### Bulk Action \n\nRemoves all assignments from the prospects targeted by the query parameters (default:\
        \ ALL)"
      parameters:
      - explode: true
        in: query
        name: actionParams
        schema:
          properties:
            filter:
              description: Filter to apply to select the records on which the action should be applied
            skipConfirmation:
              description: Boolean to specify whether or not the confirmation stop should be skipped
        style: deepObject
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              properties:
                data:
                  properties:
                    attributes:
                      properties:
                        ids:
                          description: List of IDs to apply the action to
                          items:
                            type: integer
                          type: array
                type:
                  type: string
              type: object
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                properties:
                  data:
                    $ref: '#/components/schemas/batchResponse'
          description: OK
        '422':
          content:
            application/vnd.api+json:
              schema:
                properties:
                  errors:
                    items:
                      properties:
                        detail:
                          type: string
                        id:
                          type: string
                        title:
                          type: string
                      type: object
                    type: array
          description: JSON error message
      summary: Prospects Remove All Assignments
      tags:
      - Batch
      x-internal: false
[...]
