openapi: 3.2.0
info:
  description: Outreach Public API is documented here, at the Development Portal, expand the link Outreach REST API Reference in the left navigation bar to see human-readable description of endpoints and data types.
  title: Outreach REST API Reference Prospect Note API
  version: ''
servers:
- url: https://api.outreach.io/api/v2
security:
- bearerAuth: []
tags:
- description: '## Prospect Note Relationships


    ## ⌵ Prospect Note Actions'
  name: Prospect Note
  x-internal: false
paths:
  /prospectNotes:
    get:
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                properties:
                  data:
                    items:
                      $ref: '#/components/schemas/prospectNoteResponse'
                    type: array
          description: OK
        '422':
          content:
            application/vnd.api+json:
              schema:
                properties:
                  errors:
                    items:
                      properties:
                        detail:
                          type: string
                        id:
                          type: string
                        title:
                          type: string
                      type: object
                    type: array
          description: JSON error message
      summary: Get a Collection of Prospect Notes
      tags:
      - Prospect Note
      x-internal: false
      operationId: getProspectNotes
      x-operation-id-source: derived
    post:
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              properties:
                data:
                  properties:
                    attributes:
                      $ref: '#/components/schemas/prospectNote'
                    relationships:
                      $ref: '#/components/schemas/prospectNoteRelationships'
                    type:
                      type: string
              type: object
        required: true
      responses:
        '201':
          content:
            application/vnd.api+json:
              schema:
                properties:
                  data:
                    $ref: '#/components/schemas/prospectNoteResponse'
          description: Created
        '422':
          content:
            application/vnd.api+json:
              schema:
                properties:
                  errors:
                    items:
                      properties:
                        detail:
                          type: string
                        id:
                          type: string
                        title:
                          type: string
                      type: object
                    type: array
          description: JSON error message
      summary: Create a New Prospect Note
      tags:
      - Prospect Note
      x-internal: false
      operationId: postProspectNotes
      x-operation-id-source: derived
  /prospectNotes/{id}:
    delete:
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: integer
      responses:
        '204':
          content:
            application/vnd.api+json: {}
          description: Deleted
        '422':
          content:
            application/vnd.api+json:
              schema:
                properties:
                  errors:
                    items:
                      properties:
                        detail:
                          type: string
                        id:
                          type: string
                        title:
                          type: string
                      type: object
                    type: array
          description: JSON error message
      summary: Delete an Existing Prospect Note by ID
      tags:
      - Prospect Note
      x-internal: false
      operationId: deleteProspectNotesById
      x-operation-id-source: derived
    get:
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: integer
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                properties:
                  data:
                    $ref: '#/components/schemas/prospectNoteResponse'
          description: OK
        '404':
          content:
            application/vnd.api+json:
              schema:
                properties:
                  errors:
                    items:
                      properties:
                        detail:
                          type: string
                        id:
                          type: string
                        title:
                          type: string
                      type: object
                    type: array
          description: Not Found
      summary: Get a Prospect Note by ID
      tags:
      - Prospect Note
      x-internal: false
      operationId: getProspectNotesById
      x-operation-id-source: derived
    patch:
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: integer
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              properties:
                data:
                  properties:
                    attributes:
                      $ref: '#/components/schemas/prospectNote'
                    id:
                      type: integer
                    relationships:
                      $ref: '#/components/schemas/prospectNoteRelationships'
                    type:
                      type: string
                  required:
                  - type
                  - id
              type: object
        required: true
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                properties:
                  data:
                    properties:
                      attributes:
                        $ref: '#/components/schemas/prospectNote'
                      id:
                        type: integer
                      relationships:
                        $ref: '#/components/schemas/prospectNoteRelationships'
                      type:
                        type: string
                    required:
                    - type
                    - id
                type: object
          description: OK
        '422':
          content:
            application/vnd.api+json:
              schema:
                properties:
                  errors:
                    items:
                      properties:
                        detail:
                          type: string
                        id:
                          type: string
                        title:
                          type: string
                      type: object
                    type: array
          description: JSON error message
      summary: Update a Prospect Note
      tags:
      - Prospect Note
      x-internal: false
      operationId: patchProspectNotesById
      x-operation-id-source: derived
components:
  schemas:
    prospectNoteRelationships:
      properties:
        creator:
          description: '<img src=https://developers.outreach.io/badges/readonly.svg>


            The creator of the prospect note. Relationship creator cannot be used as a filter.'
          properties:
            data:
              properties:
                id:
                  type: integer
                type:
                  enum:
                  - user
                  type: string
              type:
              - object
              - 'null'
            links:
              properties:
                related:
                  format: uri
                  type: string
              type: object
        opportunity:
          description: '<img src=https://developers.outreach.io/badges/readonly.svg>


            The opportunity this prospect note is related to. Relationship opportunity cannot be used as a filter.'
          properties:
            data:
              properties:
                id:
                  type: integer
                type:
                  enum:
                  - opportunity
                  type: string
              type:
              - object
              - 'null'
            links:
              properties:
                related:
                  format: uri
                  type: string
              type: object
        prospect:
          description: The prospect this prospect note is related to. You can use only the attribute id to filter prospectNotes by prospect (e.g. filter[prospect][id]=X).
          properties:
            data:
              properties:
                id:
                  type: integer
                type:
                  enum:
                  - prospect
                  type: string
              type:
              - object
              - 'null'
            links:
              properties:
                related:
                  format: uri
                  type: string
              type: object
      type: object
    prospectNote:
      description: 'Notes related to prospects

        '
      properties:
        createdAt:
          description: '<img src=https://developers.outreach.io/badges/readonly.svg> <img src=https://developers.outreach.io/badges/filterable.svg> <img src=https://developers.outreach.io/badges/sortable.svg>


            The date and time the prospect note was created.'
          format: date-time
          type:
          - string
          - 'null'
          x-internal: false
        message:
          description: '


            The text content of this prospect note.'
          maxLength: 65535
          type:
          - string
          - 'null'
          x-internal: false
        noteType:
          description: '


            The context of this prospect note, one of {note,call,coffee,beer,meeting}.'
          maxLength: 255
          type:
          - string
          - 'null'
          x-internal: false
        opportunityAssociationRule:
          description: '<img src=https://developers.outreach.io/badges/writeonly.svg>


            The rule used to associate the account note with an opportunity, one of {recent_created,recent_updated}.'
          maxLength: 255
          type:
          - string
          - 'null'
          x-internal: false
        pinned:
          description: '


            A boolean value indicating whether this prospect note is pinned.'
          type:
          - boolean
          - 'null'
          x-internal: false
      type: object
      x-internal: false
    prospectNoteResponse:
      properties:
        attributes:
          $ref: '#/components/schemas/prospectNote'
        id:
          type: integer
        relationships:
          $ref: '#/components/schemas/prospectNoteRelationships'
        type:
          type: string
      type: object
      x-internal: false
  securitySchemes:
    bearerAuth:
      bearerFormat: JWT
      scheme: bearer
      type: http
    s2sAuthToken:
      bearerFormat: JWT
      scheme: bearer
      type: http
