openapi: 3.2.0
info:
  description: Outreach Public API is documented here, at the Development Portal, expand the link Outreach REST API Reference in the left navigation bar to see human-readable description of endpoints and data types.
  title: Outreach REST API Reference Mail Alias API
  version: ''
servers:
- url: https://api.outreach.io/api/v2
security:
- bearerAuth: []
tags:
- description: '## Mail Alias Relationships


    ## ⌵ Mail Alias Actions'
  name: Mail Alias
  x-internal: false
paths:
  /mailAliases:
    get:
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                properties:
                  data:
                    items:
                      $ref: '#/components/schemas/mailAliasResponse'
                    type: array
          description: OK
        '422':
          content:
            application/vnd.api+json:
              schema:
                properties:
                  errors:
                    items:
                      properties:
                        detail:
                          type: string
                        id:
                          type: string
                        title:
                          type: string
                      type: object
                    type: array
          description: JSON error message
      summary: Get a Collection of Mail Aliases
      tags:
      - Mail Alias
      x-internal: false
      operationId: getMailAliases
      x-operation-id-source: derived
  /mailAliases/{id}:
    get:
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: integer
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                properties:
                  data:
                    $ref: '#/components/schemas/mailAliasResponse'
          description: OK
        '404':
          content:
            application/vnd.api+json:
              schema:
                properties:
                  errors:
                    items:
                      properties:
                        detail:
                          type: string
                        id:
                          type: string
                        title:
                          type: string
                      type: object
                    type: array
          description: Not Found
      summary: Get a Mail Alias by ID
      tags:
      - Mail Alias
      x-internal: false
      operationId: getMailAliasesById
      x-operation-id-source: derived
components:
  schemas:
    mailAlias:
      description: 'Alternative email name for a mailbox.

        '
      properties:
        canSend:
          description: '


            Can this alias send email.'
          type:
          - boolean
          - 'null'
          x-internal: false
        createdAt:
          description: '<img src=https://developers.outreach.io/badges/readonly.svg> <img src=https://developers.outreach.io/badges/filterable.svg> <img src=https://developers.outreach.io/badges/sortable.svg>


            The date the alias was created.'
          format: date-time
          type:
          - string
          - 'null'
          x-internal: false
        email:
          description: '


            The email alias.'
          maxLength: 255
          type:
          - string
          - 'null'
          x-internal: false
        emailHash:
          description: '


            Hashed email address of the alias.'
          maxLength: 255
          type:
          - string
          - 'null'
          x-internal: false
        updatedAt:
          description: '<img src=https://developers.outreach.io/badges/readonly.svg> <img src=https://developers.outreach.io/badges/filterable.svg> <img src=https://developers.outreach.io/badges/sortable.svg>


            The date the alias was last updated.'
          format: date-time
          type:
          - string
          - 'null'
          x-internal: false
      type: object
      x-internal: false
    mailAliasResponse:
      properties:
        attributes:
          $ref: '#/components/schemas/mailAlias'
        id:
          type: integer
        relationships:
          $ref: '#/components/schemas/mailAliasRelationships'
        type:
          type: string
      type: object
      x-internal: false
    mailAliasRelationships:
      properties:
        mailbox:
          description: The parent mailbox for this alias. You can use only the attribute id to filter mailAliases by mailbox (e.g. filter[mailbox][id]=X).
          properties:
            data:
              properties:
                id:
                  type: integer
                type:
                  enum:
                  - mailbox
                  type: string
              type:
              - object
              - 'null'
            links:
              properties:
                related:
                  format: uri
                  type: string
              type: object
      type: object
  securitySchemes:
    bearerAuth:
      bearerFormat: JWT
      scheme: bearer
      type: http
    s2sAuthToken:
      bearerFormat: JWT
      scheme: bearer
      type: http
