openapi: 3.2.0
info:
  description: Outreach Public API is documented here, at the Development Portal, expand the link Outreach REST API Reference in the left navigation bar to see human-readable description of endpoints and data types.
  title: Outreach REST API Reference Duty API
  version: ''
servers:
- url: https://api.outreach.io/api/v2
security:
- bearerAuth: []
tags:
- description: '## ⌵ Duty Actions'
  name: Duty
  x-internal: false
paths:
  /duties:
    get:
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                properties:
                  data:
                    items:
                      $ref: '#/components/schemas/dutyResponse'
                    type: array
          description: OK
        '422':
          content:
            application/vnd.api+json:
              schema:
                properties:
                  errors:
                    items:
                      properties:
                        detail:
                          type: string
                        id:
                          type: string
                        title:
                          type: string
                      type: object
                    type: array
          description: JSON error message
      summary: Get a Collection of Duties
      tags:
      - Duty
      x-internal: false
      operationId: getDuties
      x-operation-id-source: derived
components:
  schemas:
    duty:
      description: 'An Outreach-suggested role or job duty played by a user in their organization.

        '
      properties:
        dutyType:
          description: '


            The polymorphic type of the duty (not the Ruby type, the duty type).'
          type:
          - string
          - 'null'
          x-internal: false
        symbolicName:
          description: '


            The string constant used to refer to this duty which can be internationalized on the client.'
          maxLength: 255
          type:
          - string
          - 'null'
          x-internal: false
      type: object
      x-internal: false
    dutyResponse:
      properties:
        attributes:
          $ref: '#/components/schemas/duty'
        id:
          type: integer
        relationships:
          $ref: '#/components/schemas/dutyRelationships'
        type:
          type: string
      type: object
      x-internal: false
    dutyRelationships:
      type: object
  securitySchemes:
    bearerAuth:
      bearerFormat: JWT
      scheme: bearer
      type: http
    s2sAuthToken:
      bearerFormat: JWT
      scheme: bearer
      type: http
