openapi: 3.2.0
info:
  description: Outreach Public API is documented here, at the Development Portal, expand the link Outreach REST API Reference in the left navigation bar to see human-readable description of endpoints and data types.
  title: Outreach REST API Reference Batch API
  version: ''
servers:
- url: https://api.outreach.io/api/v2
security:
- bearerAuth: []
tags:
- description: '## Batch Relationships


    ## Batch Resource Metadata


    | **METADATA NAME**| **DESCRIPTION** | **QUERY PARAM** |

    | --- | --- | --- |

    | canWrite | A boolean value indicating whether the current API user has write access to this resource. | provideAuthorizationMeta |


    ## ⌵ Batch Actions'
  name: Batch
  x-internal: false
paths:
  /batches:
    get:
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                properties:
                  data:
                    items:
                      $ref: '#/components/schemas/batchResponse'
                    type: array
          description: OK
        '422':
          content:
            application/vnd.api+json:
              schema:
                properties:
                  errors:
                    items:
                      properties:
                        detail:
                          type: string
                        id:
                          type: string
                        title:
                          type: string
                      type: object
                    type: array
          description: JSON error message
      summary: Get a Collection of Batches
      tags:
      - Batch
      x-internal: false
      operationId: getBatches
      x-operation-id-source: derived
  /batches/{id}:
    get:
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: integer
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                properties:
                  data:
                    $ref: '#/components/schemas/batchResponse'
          description: OK
        '404':
          content:
            application/vnd.api+json:
              schema:
                properties:
                  errors:
                    items:
                      properties:
                        detail:
                          type: string
                        id:
                          type: string
                        title:
                          type: string
                      type: object
                    type: array
          description: Not Found
      summary: Get a Batch by ID
      tags:
      - Batch
      x-internal: false
      operationId: getBatchesById
      x-operation-id-source: derived
  /batches/{id}/actions/cancel:
    post:
      description: '### Member Action


        Action to call to cancel the batch'
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: integer
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                properties:
                  data:
                    $ref: '#/components/schemas/batchResponse'
          description: OK
        '422':
          content:
            application/vnd.api+json:
              schema:
                properties:
                  errors:
                    items:
                      properties:
                        detail:
                          type: string
                        id:
                          type: string
                        title:
                          type: string
                      type: object
                    type: array
          description: JSON error message
      summary: Cancel
      tags:
      - Batch
      x-internal: false
      operationId: postBatchesByIdActionsCancel
      x-operation-id-source: derived
  /batches/{id}/actions/confirm:
    post:
      description: '### Member Action


        Action to call to confirm the batch'
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: integer
      - explode: true
        in: query
        name: actionParams
        schema:
          properties:
            confirmedCount:
              description: ''
        style: deepObject
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                properties:
                  data:
                    $ref: '#/components/schemas/batchResponse'
          description: OK
        '422':
          content:
            application/vnd.api+json:
              schema:
                properties:
                  errors:
                    items:
                      properties:
                        detail:
                          type: string
                        id:
                          type: string
                        title:
                          type: string
                      type: object
                    type: array
          description: JSON error message
      summary: Confirm
      tags:
      - Batch
      x-internal: false
      operationId: postBatchesByIdActionsConfirm
      x-operation-id-source: derived
  /batches/actions/accountAddTags:
    post:
      description: '### Bulk Action


        Adds tags to the accounts targeted by the query parameters (default: ALL) using the {tags} array of strings passed in request body'
      parameters:
      - explode: true
        in: query
        name: actionParams
        schema:
          properties:
            filter:
              description: Filter to apply to select the records on which the action should be applied
            skipConfirmation:
              description: Boolean to specify whether or not the confirmation stop should be skipped
        style: deepObject
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              properties:
                data:
                  properties:
                    attributes:
                      properties:
                        ids:
                          description: List of IDs to apply the action to
                          items:
                            type: integer
                          type: array
                        tags:
                          description: ''
                          items:
                            type: string
                          type: array
                type:
                  type: string
              type: object
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                properties:
                  data:
                    $ref: '#/components/schemas/batchResponse'
          description: OK
        '422':
          content:
            application/vnd.api+json:
              schema:
                properties:
                  errors:
                    items:
                      properties:
                        detail:
                          type: string
                        id:
                          type: string
                        title:
                          type: string
                      type: object
                    type: array
          description: JSON error message
      summary: Account Add Tags
      tags:
      - Batch
      x-internal: false
      operationId: postBatchesActionsAccountAddTags
      x-operation-id-source: derived
  /batches/actions/accountsAddAssignments:
    post:
      description: '### Bulk Action


        Adds assignments to the accounts targeted by the query parameters (default: ALL) using the {userIds} array of strings passed in request body'
      parameters:
      - explode: true
        in: query
        name: actionParams
        schema:
          properties:
            filter:
              description: Filter to apply to select the records on which the action should be applied
            skipConfirmation:
              description: Boolean to specify whether or not the confirmation stop should be skipped
        style: deepObject
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              properties:
                data:
                  properties:
                    attributes:
                      properties:
                        ids:
                          description: List of IDs to apply the action to
                          items:
                            type: integer
                          type: array
                        userIds:
                          description: A list of assignments to add.
                          items:
                            type: string
                          type: array
                type:
                  type: string
              type: object
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                properties:
                  data:
                    $ref: '#/components/schemas/batchResponse'
          description: OK
        '422':
          content:
            application/vnd.api+json:
              schema:
                properties:
                  errors:
                    items:
                      properties:
                        detail:
                          type: string
                        id:
                          type: string
                        title:
                          type: string
                      type: object
                    type: array
          description: JSON error message
      summary: Accounts Add Assignments
      tags:
      - Batch
      x-internal: false
      operationId: postBatchesActionsAccountsAddAssignments
      x-operation-id-source: derived
  /batches/actions/accountsAssignOwner:
    post:
      description: '### Bulk Action


        assign an user with {ownerId} as owner to all the targeted accounts'
      parameters:
      - explode: true
        in: query
        name: actionParams
        schema:
          properties:
            filter:
              description: Filter to apply to select the records on which the action should be applied
            skipConfirmation:
              description: Boolean to specify whether or not the confirmation stop should be skipped
        style: deepObject
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              properties:
                data:
                  properties:
                    attributes:
                      properties:
                        ids:
                          description: List of IDs to apply the action to
                          items:
                            type: integer
                          type: array
                        ownerId:
                          description: The ID of the owner
                          type: integer
                type:
                  type: string
              type: object
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                properties:
                  data:
                    $ref: '#/components/schemas/batchResponse'
          description: OK
        '422':
          content:
            application/vnd.api+json:
              schema:
                properties:
                  errors:
                    items:
                      properties:
                        detail:
                          type: string
                        id:
                          type: string
                        title:
                          type: string
                      type: object
                    type: array
          description: JSON error message
      summary: Accounts Assign Owner
      tags:
      - Batch
      x-internal: false
      operationId: postBatchesActionsAccountsAssignOwner
      x-operation-id-source: derived
  /batches/actions/accountsBulkModify:
    post:
      description: '### Bulk Action


        Modifies the accounts targeted by the query parameters (default: ALL) using the {field: value, ...} pairs passed in request body.


        Alternative request body for a single field modification is also supported:

        ```

        {

        "data": {

        "attributes": {

        "fieldName": "string",

        "fieldValue": "string",

        "ids": [0]

        }

        },

        "type": "string"

        }

        ```'
      parameters:
      - explode: true
        in: query
        name: actionParams
        schema:
          properties:
            filter:
              description: Filter to apply to select the records on which the action should be applied
            skipConfirmation:
              description: Boolean to specify whether or not the confirmation stop should be skipped
        style: deepObject
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              properties:
                data:
                  properties:
                    attributes:
                      properties:
                        attribute1:
                          description: A pair of any field name and its value to modify
                          type: string
                        attribute2:
                          description: A pair of any field name and its value to modify
                          type: boolean
                        attributeN:
                          description: A pair of any field name and its value to modify
                          type: integer
                        ids:
                          description: List of IDs to apply the action to
                          items:
                            type: integer
                          type: array
                type:
                  type: string
              type: object
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                properties:
                  data:
                    $ref: '#/components/schemas/batchResponse'
          description: OK
        '422':
          content:
            application/vnd.api+json:
              schema:
                properties:
                  errors:
                    items:
                      properties:
                        detail:
                          type: string
                        id:
                          type: string
                        title:
                          type: string
                      type: object
                    type: array
          description: JSON error message
      summary: Accounts Bulk Modify
      tags:
      - Batch
      x-internal: false
      operationId: postBatchesActionsAccountsBulkModify
      x-operation-id-source: derived
  /batches/actions/accountsDestroyAll:
    post:
      description: '### Bulk Action


        Deletes the accounts targeted by the query parameters (default: ALL)'
      parameters:
      - explode: true
        in: query
        name: actionParams
        schema:
          properties:
            filter:
              description: Filter to apply to select the records on which the action should be applied
            skipConfirmation:
              description: Boolean to specify whether or not the confirmation stop should be skipped
        style: deepObject
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              properties:
                data:
                  properties:
                    attributes:
                      properties:
                        ids:
                          description: List of IDs to apply the action to
                          items:
                            type: integer
                          type: array
                type:
                  type: string
              type: object
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                properties:
                  data:
                    $ref: '#/components/schemas/batchResponse'
          description: OK
        '422':
          content:
            application/vnd.api+json:
              schema:
                properties:
                  errors:
                    items:
                      properties:
                        detail:
                          type: string
                        id:
                          type: string
                        title:
                          type: string
                      type: object
                    type: array
          description: JSON error message
      summary: Accounts Destroy All
      tags:
      - Batch
      x-internal: false
      operationId: postBatchesActionsAccountsDestroyAll
      x-operation-id-source: derived
  /batches/actions/accountsRemoveAllAssignments:
    post:
      description: '### Bulk Action


        Removes all assignments from the accounts targeted by the query parameters (default: ALL)'
      parameters:
      - explode: true
        in: query
        name: actionParams
        schema:
          properties:
            filter:
              description: Filter to apply to select the records on which the action should be applied
            skipConfirmation:
              description: Boolean to specify whether or not the confirmation stop should be skipped
        style: deepObject
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              properties:
                data:
                  properties:
                    attributes:
                      properties:
                        ids:
                          description: List of IDs to apply the action to
                          items:
                            type: integer
                          type: array
                type:
                  type: string
              type: object
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                properties:
                  data:
                    $ref: '#/components/schemas/batchResponse'
          description: OK
        '422':
          content:
            application/vnd.api+json:
              schema:
                properties:
                  errors:
                    items:
                      properties:
                        detail:
                          type: string
                        id:
                          type: string
                        title:
                          type: string
                      type: object
                    type: array
          description: JSON error message
      summary: Accounts Remove All Assignments
      tags:
      - Batch
      x-internal: false
      operationId: postBatchesActionsAccountsRemoveAllAssignments
      x-operation-id-source: derived
  /batches/actions/accountsRemoveAssignments:
    post:
      description: '### Bulk Action


        Removes assignments from the accounts targeted by the query parameters (default: ALL) using the {userIds} array of strings passed in request body'
      parameters:
      - explode: true
        in: query
        name: actionParams
        schema:
          properties:
            filter:
              description: Filter to apply to select the records on which the action should be applied
            skipConfirmation:
              description: Boolean to specify whether or not the confirmation stop should be skipped
        style: deepObject
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              properties:
                data:
                  properties:
                    attributes:
                      properties:
                        ids:
                          description: List of IDs to apply the action to
                          items:
                            type: integer
                          type: array
                        userIds:
                          description: A list of assignments to remove.
                          items:
                            type: string
                          type: array
                type:
                  type: string
              type: object
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                properties:
                  data:
                    $ref: '#/components/schemas/batchResponse'
          description: OK
        '422':
          content:
            application/vnd.api+json:
              schema:
                properties:
                  errors:
                    items:
                      properties:
                        detail:
                          type: string
                        id:
                          type: string
                        title:
                          type: string
                      type: object
                    type: array
          description: JSON error message
      summary: Accounts Remove Assignments
      tags:
      - Batch
      x-internal: false
      operationId: postBatchesActionsAccountsRemoveAssignments
      x-operation-id-source: derived
  /batches/actions/accountsRemoveTags:
    post:
      description: '### Bulk Action


        Removes tags from the accounts targeted by the query parameters (default: ALL) using the {tags} array of strings passed in request body'
      parameters:
      - explode: true
        in: query
        name: actionParams
        schema:
          properties:
            filter:
              description: Filter to apply to select the records on which the action should be applied
            skipConfirmation:
              description: Boolean to specify whether or not the confirmation stop should be skipped
        style: deepObject
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              properties:
                data:
                  properties:
                    attributes:
                      properties:
                        ids:
                          description: List of IDs to apply the action to
                          items:
                            type: integer
                          type: array
                        tags:
                          description: ''
                          items:
                            type: string
                          type: array
                type:
                  type: string
              type: object
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                properties:
                  data:
                    $ref: '#/components/schemas/batchResponse'
          description: OK
        '422':
          content:
            application/vnd.api+json:
              schema:
                properties:
                  errors:
                    items:
                      properties:
                        detail:
                          type: string
                        id:
                          type: string
                        title:
                          type: string
                      type: object
                    type: array
          description: JSON error message
      summary: Accounts Remove Tags
      tags:
      - Batch
      x-internal: false
      operationId: postBatchesActionsAccountsRemoveTags
      x-operation-id-source: derived
  /batches/actions/customObjectBulkDelete:
    post:
      description: '### Bulk Action


        Action to delete custom objects of type selected by the query parameter {objectName}'
      parameters:
      - explode: true
        in: query
        name: actionParams
        schema:
          properties:
            filter:
              description: Filter to apply to select the records on which the action should be applied
            objectName:
              description: name of the object type to which the records belong
            skipConfirmation:
              description: Boolean to specify whether or not the confirmation stop should be skipped
          required:
          - objectName
        style: deepObject
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              properties:
                data:
                  properties:
                    attributes:
                      properties:
                        ids:
                          description: List of IDs to apply the action to
                          items:
                            type: integer
                          type: array
                type:
                  type: string
              type: object
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                properties:
                  data:
                    $ref: '#/components/schemas/batchResponse'
          description: OK
        '422':
          content:
            application/vnd.api+json:
              schema:
                properties:
                  errors:
                    items:
                      properties:
                        detail:
                          type: string
                        id:
                          type: string
                        title:
                          type: string
                      type: object
                    type: array
          description: JSON error message
      summary: Custom Object Bulk Delete
      tags:
      - Batch
      x-internal: false
      operationId: postBatchesActionsCustomObjectBulkDelete
      x-operation-id-source: derived
  /batches/actions/customObjectBulkModify:
    post:
      description: '### Bulk Action


        Action to modify custom objects of type selected by the query parameter {objectName}'
      parameters:
      - explode: true
        in: query
        name: actionParams
        schema:
          properties:
            filter:
              description: Filter to apply to select the records on which the action should be applied
            objectName:
              description: name of the object type to which the records belong
            skipConfirmation:
              description: Boolean to specify whether or not the confirmation stop should be skipped
          required:
          - objectName
        style: deepObject
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              properties:
                data:
                  properties:
                    attributes:
                      properties:
                        attribute1:
                          description: A pair of any field name and its value to modify
                          type: string
                        attribute2:
                          description: A pair of any field name and its value to modify
                          type: boolean
                        attributeN:
                          description: A pair of any field name and its value to modify
                          type: integer
                        ids:
                          description: List of IDs to apply the action to
                          items:
                            type: integer
                          type: array
                type:
                  type: string
              type: object
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                properties:
                  data:
                    $ref: '#/components/schemas/batchResponse'
          description: OK
        '422':
          content:
            application/vnd.api+json:
              schema:
                properties:
                  errors:
                    items:
                      properties:
                        detail:
                          type: string
                        id:
                          type: string
                        title:
                          type: string
                      type: object
                    type: array
          description: JSON error message
      summary: Custom Object Bulk Modify
      tags:
      - Batch
      x-internal: false
      operationId: postBatchesActionsCustomObjectBulkModify
      x-operation-id-source: derived
  /batches/actions/prospectsAddAssignments:
    post:
      description: '### Bulk Action


        Adds assignments to the prospects targeted by the query parameters (default: ALL) using the {userIds} array of strings passed in request body'
      parameters:
      - explode: true
        in: query
        name: actionParams
        schema:
          properties:
            filter:
              description: Filter to apply to select the records on which the action should be applied
            skipConfirmation:
              description: Boolean to specify whether or not the confirmation stop should be skipped
        style: deepObject
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              properties:
                data:
                  properties:
                    attributes:
                      properties:
                        ids:
                          description: List of IDs to apply the action to
                          items:
                            type: integer
                          type: array
                        userIds:
                          description: A list of assignments to add.
                          items:
                            type: string
                          type: array
                type:
                  type: string
              type: object
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                properties:
                  data:
                    $ref: '#/components/schemas/batchResponse'
          description: OK
        '422':
          content:
            application/vnd.api+json:
              schema:
                properties:
                  errors:
                    items:
                      properties:
                        detail:
                          type: string
                        id:
                          type: string
                        title:
                          type: string
                      type: object
                    type: array
          description: JSON error message
      summary: Prospects Add Assignments
      tags:
      - Batch
      x-internal: false
      operationId: postBatchesActionsProspectsAddAssignments
      x-operation-id-source: derived
  /batches/actions/prospectsAddTags:
    post:
      description: '### Bulk Action


        Adds tags to the prospects targeted by the query parameters (default: ALL) using the {tags} array of strings passed in request body'
      parameters:
      - explode: true
        in: query
        name: actionParams
        schema:
          properties:
            filter:
              description: Filter to apply to select the records on which the action should be applied
            skipConfirmation:
              description: Boolean to specify whether or not the confirmation stop should be skipped
        style: deepObject
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              properties:
                data:
                  properties:
                    attributes:
                      properties:
                        ids:
                          description: List of IDs to apply the action to
                          items:
                            type: integer
                          type: array
                        tags:
                          description: A list of tags to add.
                          items:
                            type: string
                          type: array
                type:
                  type: string
              type: object
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                properties:
                  data:
                    $ref: '#/components/schemas/batchResponse'
          description: OK
        '422':
          content:
            application/vnd.api+json:
              schema:
                properties:
                  errors:
                    items:
                      properties:
                        detail:
                          type: string
                        id:
                          type: string
                        title:
                          type: string
                      type: object
                    type: array
          description: JSON error message
      summary: Prospects Add Tags
      tags:
      - Batch
      x-internal: false
      operationId: postBatchesActionsProspectsAddTags
      x-operation-id-source: derived
  /batches/actions/prospectsAddToSequence:
    post:
      description: '### Bulk Action


        Add Prospects To Sequence'
      parameters:
      - explode: true
        in: query
        name: actionParams
        schema:
          properties:
            filter:
              description: Filter to apply to select the records on which the action should be applied
            skipConfirmation:
              description: Boolean to specify whether or not the confirmation stop should be skipped
        style: deepObject
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              properties:
                data:
                  properties:
                    attributes:
                      properties:
                        ids:
                          description: List of IDs to apply the action to
                          items:
                            type: integer
                          type: array
                        mailboxId:
                          description: The ID of the mailbox of the sequencer.
                          type: integer
                        sequenceId:
                          description: The ID of the active sequence associated with the prospects.
                          type: integer
                        stepOverrides:
                          description: The array of object with stepOverrides attributes.
                          items:
                            type: object
                          type: array
                type:
                  type: string
              type: object
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                properties:
                  data:
                    $ref: '#/components/schemas/batchResponse'
          description: OK
        '422':
          content:
            application/vnd.api+json:
              schema:
                properties:
                  errors:
                    items:
                      properties:
                        detail:
                          type: string
                        id:
                          type: string
                        title:
                          type: string
                      type: object
                    type: array
          description: JSON error message
      summary: Prospects Add To Sequence
      tags:
      - Batch
      x-internal: false
      operationId: postBatchesActionsProspectsAddToSequence
      x-operation-id-source: derived
  /batches/actions/prospectsAssignAccount:
    post:
      description: '### Bulk Action


        Sets the account to the prospects targeted by the query parameters (default: ALL) using the {accountId} which specifies the account to add to the prospects'
      parameters:
      - explode: true
        in: query
        name: actionParams
        schema:
          properties:
            filter:
              description: Filter to apply to select the records on which the action should be applied
            skipConfirmation:
              description: Boolean to specify whether or not the confirmation stop should be skipped
        style: deepObject
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              properties:
                data:
                  properties:
                    attributes:
                      properties:
                        accountId:
                          description: The account ID to associate with the prospects
                          type: string
                        ids:
                          description: List of IDs to apply the action to
                          items:
                            type: integer
                          type: array
                type:
                  type: string
              type: object
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                properties:
                  data:
                    $ref: '#/components/schemas/batchResponse'
          description: OK
        '422':
          content:
            application/vnd.api+json:
              schema:
                properties:
                  errors:
                    items:
                      properties:
                        detail:
                          type: string
                        id:
                          type: string
                        title:
                          type: string
                      type: object
                    type: array
          description: JSON error message
      summary: Prospects Assign Account
      tags:
      - Batch
      x-internal: false
      operationId: postBatchesActionsProspectsAssignAccount
      x-operation-id-source: derived
  /batches/actions/prospectsAssignOpportunity:
    post:
      description: '### Bulk Action


        Sets the opportunity to the prospects targeted by the query parameters (default: ALL) using the {opportunityId} which specifies the account to add to the prospects'
      parameters:
      - explode: true
        in: query
        name: actionParams
        schema:
          properties:
            filter:
              description: Filter to apply to select the records on which the action should be applied
            skipConfirmation:
              description: Boolean to specify whether or not the confirmation stop should be skipped
        style: deepObject
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              properties:
                data:
                  properties:
                    attributes:
                      properties:
                        ids:
                          description: List of IDs to apply the action to
                          items:
                            type: integer
                          type: array
                        opportunityId:
                          description: The opportunity ID to associate with the prospects
                          type: string
                type:
                  type: string
              type: object
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                properties:
                  data:
                    $ref: '#/components/schemas/batchResponse'
          description: OK
        '422':
          content:
            application/vnd.api+json:
              schema:
                properties:
                  errors:
                    items:
                      properties:
                        detail:
                          type: string
                        id:
                          type: string
                        title:
                          type: string
                      type: object
                    type: array
          description: JSON error message
      summary: Prospects Assign Opportunity
      tags:
      - Batch
      x-internal: false
      operationId: postBatchesActionsProspectsAssignOpportunity
      x-operation-id-source: derived
  /batches/actions/prospectsAssignOwner:
    post:
      description: '### Bulk Action


        assign an user with {ownerId} as owner to all the targeted prospects'
      parameters:
      - explode: true
        in: query
        name: actionParams
        schema:
          properties:
            filter:
              description: Filter to apply to select the records on which the action should be applied
            skipConfirmation:
              description: Boolean to specify whether or not the confirmation stop should be skipped
        style: deepObject
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              properties:
                data:
                  properties:
                    attributes:
                      properties:
                        ids:
                          description: List of IDs to apply the action to
                          items:
                            type: integer
                          type: array
                        ownerId:
                          description: The ID of the owner
                          type: integer
                type:
                  type: string
              type: object
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                properties:
                  data:
                    $ref: '#/components/schemas/batchResponse'
          description: OK
        '422':
          content:
            application/vnd.api+json:
              schema:
                properties:
                  errors:
                    items:
                      properties:
                        detail:
                          type: string
                        id:
                          type: string
                        title:
                          type: string
                      type: object
                    type: array
          description: JSON error message
      summary: Prospects Assign Owner
      tags:
      - Batch
      x-internal: false
      operationId: postBatchesActionsProspectsAssignOwner
      x-operation-id-source: derived
  /batches/actions/prospectsBulkModify:
    post:
      description: '### Bulk Action


        Modifies the prospects targeted by the query parameters (default: ALL) using the {field: value, ...} pairs passed in request body


        Alternative request body for a single field modification is also supported:

        ```

        {

        "data": {

        "attributes": {

        "fieldName": "string",

        "fieldValue": "string",

        "ids": [0]

        }

        },

        "type": "string"

        }

        ```'
      parameters:
      - explode: true
        in: query
        name: actionParams
        schema:
          properties:
            filter:
              description: Filter to apply to select the records on which the action should be applied
            skipConfirmation:
              description: Boolean to specify whether or not the confirmation stop should be skipped
        style: deepObject
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              properties:
                data:
                  properties:
                    attributes:
                      properties:
                        attribute1:
                          description: A pair of any field name and its value to modify
                          type: string
                        attribute2:
                          description: A pair of any field name and its value to modify
                          type: boolean
                        attributeN:
                          description: A pair of any field name and its value to modify
                          type: integer
                        ids:
                          description: List of IDs to apply the action to
                          items:
                            type: integer
                          type: array
                type:
                  type: string
              type: object
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                properties:
                  data:
                    $ref: '#/components/schemas/batchResponse'
          description: OK
        '422':
          content:
            application/vnd.api+json:
              schema:
                properties:
                  errors:
                    items:
                      properties:
                        detail:
                          type: string
                        id:
                          type: string
                        title:
                          type: string
                      type: object
                    type: array
          description: JSON error message
      summary: Prospects Bulk Modify
      tags:
      - Batch
      x-internal: false
      operationId: postBatchesActionsProspectsBulkModify
      x-operation-id-source: derived
  /batches/actions/prospectsDestroyAll:
    post:
      description: '### Bulk Action


        Deletes the prospects targeted by the query parameters (default: ALL)'
      parameters:
      - explode: true
        in: query
        name: actionParams
        schema:
          properties:
            filter:
              description: Filter to apply to select the records on which the action should be applied
            skipConfirmation:
              description: Boolean to specify whether or not the confirmation stop should be skipped
        style: deepObject
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              properties:
                data:
                  properties:
                    attributes:
                      properties:
                        ids:
                          description: List of IDs to apply the action to
                          items:
                            type: integer
                          type: array
                type:
                  type: string
              type: object
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                properties:
                  data:
                    $ref: '#/components/schemas/batchResponse'
          description: OK
        '422':
          content:
            application/vnd.api+json:
              schema:
                properties:
                  errors:
                    items:
                      properties:
                        detail:
                          type: string
                        id:
                          type: string
                        title:
                          type: string
                      type: object
                    type: array
          description: JSON error message
      summary: Prospects Destroy All
      tags:
      - Batch
      x-internal: false
      operationId: postBatchesActionsProspectsDestroyAll
      x-operation-id-source: derived
  /batches/actions/prospectsFinishAll:
    post:
      description: '### Bulk Action


        For all prospects targeted by the query parameters (default: ALL), attempt to finish the associated prospect sequence'
      parameters:
      - explode: true
        in: query
        name: actionParams
        schema:
          properties:
            filter:
              description: Filter to apply to select the records on which the action should be applied
            skipConfirmation:
              description: Boolean to specify whether or not the confirmation stop should be skipped
        style: deepObject
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              properties:
                data:
                  properties:
                    attributes:
                      properties:
                        ids:
                          description: List of IDs to apply the action to
                          items:
                            type: integer
                          type: array
                type:
                  type: string
              type: object
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                properties:
                  data:
                    $ref: '#/components/schemas/batchResponse'
          description: OK
        '422':
          content:
            application/vnd.api+json:
              schema:
                properties:
                  errors:
                    items:
                      properties:
                        detail:
                          type: string
                        id:
                          type: string
                        title:
                          type: string
                      type: object
                    type: array
          description: JSON error message
      summary: Prospects Finish All
      tags:
      - Batch
      x-internal: false
      operationId: postBatchesActionsProspectsFinishAll
      x-operation-id-source: derived
  /batches/actions/prospectsPauseAll:
    post:
      description: '### Bulk Action


        For all prospects targeted by the query parameters (default: ALL), attempt to pause the associated prospect sequence'
      parameters:
      - explode: true
        in: query
        name: actionParams
        schema:
          properties:
            filter:
              description: Filter to apply to select the records on which the action should be applied
            skipConfirmation:
              description: Boolean to specify whether or not the confirmation stop should be skipped
        style: deepObject
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              properties:
                data:
                  properties:
                    attributes:
                      properties:
                        ids:
                          description: List of IDs to apply the action to
                          items:
                            type: integer
                          type: array
                type:
                  type: string
              type: object
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                properties:
                  data:
                    $ref: '#/components/schemas/batchResponse'
          description: OK
        '422':
          content:
            application/vnd.api+json:
              schema:
                properties:
                  errors:
                    items:
                      properties:
                        detail:
                          type: string
                        id:
                          type: string
                        title:
                          type: string
                      type: object
                    type: array
          description: JSON error message
      summary: Prospects Pause All
      tags:
      - Batch
      x-internal: false
      operationId: postBatchesActionsProspectsPauseAll
      x-operation-id-source: derived
  /batches/actions/prospectsRemoveAllAssignments:
    post:
      description: '### Bulk Action


        Removes all assignments from the prospects targeted by the query parameters (default: ALL)'
      parameters:
      - explode: true
        in: query
        name: actionParams
        schema:
          properties:
            filter:
              description: Filter to apply to select the records on which the action should be applied
            skipConfirmation:
              description: Boolean to specify whether or not the confirmation stop should be skipped
        style: deepObject
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              properties:
                data:
                  properties:
                    attributes:
                      properties:
                        ids:
                          description: List of IDs to apply the action to
                          items:
                            type: integer
                          type: array
                type:
                  type: string
              type: object
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                properties:
                  data:
                    $ref: '#/components/schemas/batchResponse'
          description: OK
        '422':
          content:
            application/vnd.api+json:
              schema:
                properties:
                  errors:
                    items:
                      properties:
                        detail:
                          type: string
                        id:
                          type: string
                        title:
                          type: string
                      type: object
                    type: array
          description: JSON error message
      summary: Prospects Remove All Assignments
      tags:
      - Batch
      x-internal: false
      operationId: postBatchesActionsProspectsRemoveAllAssignments
      x-operation-id-source: derived
  /batches/actions/prospectsRemoveAssignments:
    post:
      description: '### Bulk Action


        Removes assignments from the prospects targeted by the query parameters (default: ALL) using the {userIds} array of strings passed in request body'
      parameters:
      - explode: true
        in: query
        name: actionParams
        schema:
          properties:
            filter:
              description: Filter to apply to select the records on which the action should be applied
            skipConfirmation:
              description: Boolean to specify whether or not the confirmation stop should be skipped
        style: deepObject
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              properties:
                data:
                  properties:
                    attributes:
                      properties:
                        ids:
                          description: List of IDs to apply the action to
                          items:
                            type: integer
                          type: array
                        userIds:
                          description: A list of assignments to remove.
                          items:
                            type: string
                          type: array
                type:
                  type: string
              type: object
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                properties:
                  data:
                    $ref: '#/components/schemas/batchResponse'
          description: OK
        '422':
          content:
            application/vnd.api+json:
              schema:
                properties:
                  errors:
                    items:
                      properties:
                        detail:
                          type: string
                        id:
                          type: string
                        title:
                          type: string
                      type: object
                    type: array
          description: JSON error message
      summary: Prospects Remove Assignments
      tags:
      - Batch
      x-internal: false
      operationId: postBatchesActionsProspectsRemoveAssignments
      x-operation-id-source: derived
  /batches/actions/prospectsRemoveTags:
    post:
      description: '### Bulk Action


        Removes tags from the prospects targeted by the query parameters (default: ALL) using the {tags} array of strings passed in request body'
      parameters:
      - explode: true
        in: query
        name: actionParams
        schema:
          properties:
            filter:
              description: Filter to apply to select the records on which the action should be applied
            skipConfirmation:
              description: Boolean to specify whether or not the confirmation stop should be skipped
        style: deepObject
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              properties:
                data:
                  properties:
                    attributes:
                      properties:
                        ids:
                          description: List of IDs to apply the action to
                          items:
                            type: integer
                          type: array
                        tags:
                          description: A list of tags to remove.
                          items:
                            type: string
                          type: array
                type:
                  type: string
              type: object
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                properties:
                  data:
                    $ref: '#/components/schemas/batchResponse'
          description: OK
        '422':
          content:
            application/vnd.api+json:
              schema:
                properties:
                  errors:
                    items:
                      properties:
                        detail:
                          type: string
                        id:
                          type: string
                        title:
                          type: string
                      type: object
                    type: array
          description: JSON error message
      summary: Prospects Remove Tags
      tags:
      - Batch
      x-internal: false
      operationId: postBatchesActionsProspectsRemoveTags
      x-operation-id-source: derived
components:
  schemas:
    batchRelationships:
      properties:
        batchItems:
          description: '<img src=https://developers.outreach.io/badges/readonly.svg>


            The batch items associated with this batch.'
          properties:
            links:
              properties:
                related:
                  format: uri
                  type: string
              type: object
        creator:
          description: '<img src=https://developers.outreach.io/badges/readonly.svg>


            '
          properties:
            data:
              properties:
                id:
                  type: integer
                type:
                  enum:
                  - user
                  type: string
              type:
              - object
              - 'null'
            links:
              properties:
                related:
                  format: uri
                  type: string
              type: object
      type: object
    batchResponse:
      properties:
        attributes:
          $ref: '#/components/schemas/batch'
        id:
          type: integer
        relationships:
          $ref: '#/components/schemas/batchRelationships'
        type:
          type: string
      type: object
      x-internal: false
    batch:
      description: 'A group of records (Prospect, Account, etc.) in which the same particular action was performed.

        '
      properties:
        action:
          description: '<img src=https://developers.outreach.io/badges/filterable.svg>


            Action performed on the batch.'
          maxLength: 255
          type:
          - string
          - 'null'
          x-internal: false
        canceledAt:
          description: '


            The date and time the batch was canceled.'
          format: date-time
          type:
          - string
          - 'null'
          x-internal: false
        confirmCount:
          description: '<img src=https://developers.outreach.io/badges/readonly.svg>


            The number of items in the batch to be confirmed.'
          type:
          - integer
          - 'null'
          x-internal: false
        confirmedAt:
          description: '<img src=https://developers.outreach.io/badges/readonly.svg>


            The date and time the batch was confirmed.'
          format: date-time
          type:
          - string
          - 'null'
          x-internal: false
        confirmedCountRequired:
          description: '<img src=https://developers.outreach.io/badges/readonly.svg>


            Require the user to explicitly confirm the confirm_count.'
          type:
          - boolean
          - 'null'
          x-internal: false
        createdAt:
          description: '<img src=https://developers.outreach.io/badges/readonly.svg> <img src=https://developers.outreach.io/badges/sortable.svg>


            The date and time the batch was created.'
          format: date-time
          type:
          - string
          - 'null'
          x-internal: false
        externalStartPayload:
          description: '


            Optional parameter used to handle external batch operations'
          maxLength: 16777215
          type:
          - string
          - 'null'
          x-internal: false
        failures:
          description: '<img src=https://developers.outreach.io/badges/readonly.svg>


            The number of failed batch items associated with this batch.'
          type:
          - integer
          - 'null'
          x-internal: false
        finishedAt:
          description: '<img src=https://developers.outreach.io/badges/sortable.svg>


            The date and time the batch was finished.'
          format: date-time
          type:
          - string
          - 'null'
          x-internal: false
        payload:
          description: '


            The input payload for the batch operation.'
          type:
          - object
          - 'null'
          x-internal: false
        pending:
          description: '<img src=https://developers.outreach.io/badges/readonly.svg>


            The number of pending batch items associated with this batch.'
          type:
          - integer
          - 'null'
          x-internal: false
        startedAt:
          description: '


            The date and time the batch was started.'
          format: date-time
          type:
          - string
          - 'null'
          x-internal: false
        state:
          description: '<img src=https://developers.outreach.io/badges/filterable.svg> <img src=https://developers.outreach.io/badges/sortable.svg>


            The current state of the batch.'
          maxLength: 255
          type:
          - string
          - 'null'
          x-internal: false
        summary:
          description: '


            The summary of the batch including failure information.'
          type:
          - object
          - 'null'
          x-internal: false
        total:
          description: '<img src=https://developers.outreach.io/badges/readonly.svg> <img src=https://developers.outreach.io/badges/filterable.svg> <img src=https://developers.outreach.io/badges/sortable.svg>


            The total number of batch items associated with this batch.'
          type:
          - integer
          - 'null'
          x-internal: false
        updatedAt:
          description: '<img src=https://developers.outreach.io/badges/readonly.svg>


            The date and time the batch was last updated.'
          format: date-time
          type:
          - string
          - 'null'
          x-internal: false
      type: object
      x-internal: false
  securitySchemes:
    bearerAuth:
      bearerFormat: JWT
      scheme: bearer
      type: http
    s2sAuthToken:
      bearerFormat: JWT
      scheme: bearer
      type: http
