openapi: 3.2.0
info:
  description: Outreach Public API is documented here, at the Development Portal, expand the link Outreach REST API Reference in the left navigation bar to see human-readable description of endpoints and data types.
  title: Outreach REST API Reference Task Priority API
  version: ''
servers:
- url: https://api.outreach.io/api/v2
security:
- bearerAuth: []
tags:
- description: '## Task Priority Relationships


    ## ⌵ Task Priority Actions'
  name: Task Priority
  x-internal: false
paths:
  /taskPriorities:
    get:
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                properties:
                  data:
                    items:
                      $ref: '#/components/schemas/taskPriorityResponse'
                    type: array
          description: OK
        '422':
          content:
            application/vnd.api+json:
              schema:
                properties:
                  errors:
                    items:
                      properties:
                        detail:
                          type: string
                        id:
                          type: string
                        title:
                          type: string
                      type: object
                    type: array
          description: JSON error message
      summary: Get a Collection of Task Priorities
      tags:
      - Task Priority
      x-internal: false
      operationId: getTaskPriorities
      x-operation-id-source: derived
  /taskPriorities/{id}:
    get:
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: integer
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                properties:
                  data:
                    $ref: '#/components/schemas/taskPriorityResponse'
          description: OK
        '404':
          content:
            application/vnd.api+json:
              schema:
                properties:
                  errors:
                    items:
                      properties:
                        detail:
                          type: string
                        id:
                          type: string
                        title:
                          type: string
                      type: object
                    type: array
          description: Not Found
      summary: Get a Task Priority by ID
      tags:
      - Task Priority
      x-internal: false
      operationId: getTaskPrioritiesById
      x-operation-id-source: derived
components:
  schemas:
    taskPriorityRelationships:
      properties:
        sequenceSteps:
          description: '<img src=https://developers.outreach.io/badges/readonly.svg>


            The associated sequence steps. Relationship sequenceSteps cannot be used as a filter.'
          properties:
            links:
              properties:
                related:
                  format: uri
                  type: string
              type: object
        tasks:
          description: '<img src=https://developers.outreach.io/badges/readonly.svg>


            The associated tasks. Relationship tasks cannot be used as a filter.'
          properties:
            links:
              properties:
                related:
                  format: uri
                  type: string
              type: object
      type: object
    taskPriority:
      description: 'A descriptor of importance used for categorizing Tasks.

        '
      properties:
        color:
          description: '


            The color the task priority label will be highlighted in the interface, specified as a hexadecimal value (e.g. "0xFF5951FF").'
          type:
          - integer
          - 'null'
          x-internal: false
        createdAt:
          description: '<img src=https://developers.outreach.io/badges/readonly.svg> <img src=https://developers.outreach.io/badges/filterable.svg> <img src=https://developers.outreach.io/badges/sortable.svg>


            The date and time the task priority was created.'
          format: date-time
          type:
          - string
          - 'null'
          x-internal: false
        name:
          description: '<img src=https://developers.outreach.io/badges/filterable.svg> <img src=https://developers.outreach.io/badges/sortable.svg>


            The name of the task priority (e.g. "High").'
          maxLength: 255
          type:
          - string
          - 'null'
          x-internal: false
        updatedAt:
          description: '<img src=https://developers.outreach.io/badges/readonly.svg> <img src=https://developers.outreach.io/badges/filterable.svg> <img src=https://developers.outreach.io/badges/sortable.svg>


            The date and time the task priority was last updated.'
          format: date-time
          type:
          - string
          - 'null'
          x-internal: false
        weight:
          description: '<img src=https://developers.outreach.io/badges/filterable.svg> <img src=https://developers.outreach.io/badges/sortable.svg>


            A relative value used for display order. Task priorities are listed from lowest to highest weight.'
          type:
          - integer
          - 'null'
          x-internal: false
      type: object
      x-internal: false
    taskPriorityResponse:
      properties:
        attributes:
          $ref: '#/components/schemas/taskPriority'
        id:
          type: integer
        relationships:
          $ref: '#/components/schemas/taskPriorityRelationships'
        type:
          type: string
      type: object
      x-internal: false
  securitySchemes:
    bearerAuth:
      bearerFormat: JWT
      scheme: bearer
      type: http
    s2sAuthToken:
      bearerFormat: JWT
      scheme: bearer
      type: http
