openapi: 3.2.0
info:
  description: Outreach Public API is documented here, at the Development Portal, expand the link Outreach REST API Reference in the left navigation bar to see human-readable description of endpoints and data types.
  title: Outreach REST API Reference Compliance Request API
  version: ''
servers:
- url: https://api.outreach.io/api/v2
security:
- bearerAuth: []
tags:
- description: '## Compliance Request Relationships


    ## ⌵ Compliance Request Actions'
  name: Compliance Request
  x-internal: false
paths:
  /complianceRequests:
    get:
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                properties:
                  data:
                    items:
                      $ref: '#/components/schemas/complianceRequestResponse'
                    type: array
          description: OK
        '422':
          content:
            application/vnd.api+json:
              schema:
                properties:
                  errors:
                    items:
                      properties:
                        detail:
                          type: string
                        id:
                          type: string
                        title:
                          type: string
                      type: object
                    type: array
          description: JSON error message
      summary: Get a Collection of Compliance Requests
      tags:
      - Compliance Request
      x-internal: false
      operationId: getComplianceRequests
      x-operation-id-source: derived
    post:
      description: This is a non-standard case please read this section
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              properties:
                data:
                  properties:
                    attributes:
                      properties:
                        object_type:
                          type: string
                        request_object_email:
                          type: string
                        request_type:
                          type: string
                        requester_email:
                          type: string
                      type: object
                    type:
                      type: string
                  type: object
              type: object
        required: true
      responses:
        '201':
          content:
            application/vnd.api+json:
              schema:
                properties:
                  data:
                    properties:
                      batch_compliance_request_id:
                        type: string
                    type: object
          description: Created
        '422':
          content:
            application/vnd.api+json:
              schema:
                properties:
                  errors:
                    items:
                      properties:
                        detail:
                          type: string
                        id:
                          type: string
                        title:
                          type: string
                      type: object
                    type: array
          description: JSON error message
      summary: Create a New Compliance Request
      tags:
      - Compliance Request
      x-internal: false
      operationId: postComplianceRequests
      x-operation-id-source: derived
  /complianceRequests/{id}:
    get:
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: integer
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                properties:
                  data:
                    $ref: '#/components/schemas/complianceRequestResponse'
          description: OK
        '404':
          content:
            application/vnd.api+json:
              schema:
                properties:
                  errors:
                    items:
                      properties:
                        detail:
                          type: string
                        id:
                          type: string
                        title:
                          type: string
                      type: object
                    type: array
          description: Not Found
      summary: Get a Compliance Request by ID
      tags:
      - Compliance Request
      x-internal: false
      operationId: getComplianceRequestsById
      x-operation-id-source: derived
components:
  schemas:
    complianceRequestRelationships:
      properties:
        requester:
          description: '<img src=https://developers.outreach.io/badges/readonly.svg>


            The Outreach user who submitted the compliance request. Relationship requester cannot be used as a filter.'
          properties:
            data:
              properties:
                id:
                  type: integer
                type:
                  enum:
                  - user
                  type: string
              type:
              - object
              - 'null'
            links:
              properties:
                related:
                  format: uri
                  type: string
              type: object
      type: object
    complianceRequest:
      description: 'A regulatory request to delete or export an individual''s PII.

        '
      properties:
        batchComplianceRequestUuid:
          description: '


            The UUID of the batch the compliance request belongs to.'
          type:
          - string
          - 'null'
          x-internal: false
        createdAt:
          description: '<img src=https://developers.outreach.io/badges/readonly.svg>


            The date and time the compliance request was created.'
          format: date-time
          type:
          - string
          - 'null'
          x-internal: false
        objectType:
          description: '


            The type of record to process, can be ''Prospect'' or ''Recipient'' for e-mail addresses unassociated with a prospect.'
          maxLength: 255
          type:
          - string
          - 'null'
          x-internal: false
        pii:
          description: '


            A JSON object of personal information required for processing the compliance request.'
          type:
          - object
          - 'null'
          x-internal: false
        requestObjectId:
          description: '


            The identifier for the record processed, for Prospects this is the Prospect ID, for Recipients this is an e-mail address.'
          maxLength: 255
          type:
          - string
          - 'null'
          x-internal: false
        requestType:
          description: '


            The type of compliance request (only ''Delete'' is supported at this time).'
          maxLength: 32
          type:
          - string
          - 'null'
          x-internal: false
        requesterId:
          description: '


            The ID of the Outreach user who submitted the compliance request.'
          type:
          - integer
          - 'null'
          x-internal: false
        state:
          description: '<img src=https://developers.outreach.io/badges/filterable.svg> <img src=https://developers.outreach.io/badges/sortable.svg>


            The current state of the compliance request, can be ''pending'', ''running'', ''failed'', or ''done''. The states on the higher level abstraction, the batch compliance request, do not map 1:1 to these states. The only states that the batch compliance request will report are either ''pending'' or ''done''.'
          maxLength: 32
          type:
          - string
          - 'null'
          x-internal: false
        updatedAt:
          description: '<img src=https://developers.outreach.io/badges/readonly.svg>


            The date and time at which the compliance request was last updated.'
          format: date-time
          type:
          - string
          - 'null'
          x-internal: false
        uuid:
          description: '<img src=https://developers.outreach.io/badges/filterable.svg> <img src=https://developers.outreach.io/badges/sortable.svg>


            The UUID of the compliance request.'
          maxLength: 255
          type:
          - string
          - 'null'
          x-internal: false
      type: object
      x-internal: false
    complianceRequestResponse:
      properties:
        attributes:
          $ref: '#/components/schemas/complianceRequest'
        id:
          type: integer
        relationships:
          $ref: '#/components/schemas/complianceRequestRelationships'
        type:
          type: string
      type: object
      x-internal: false
  securitySchemes:
    bearerAuth:
      bearerFormat: JWT
      scheme: bearer
      type: http
    s2sAuthToken:
      bearerFormat: JWT
      scheme: bearer
      type: http
