openapi: 3.2.0
info:
  description: "Outreach Public API is documented here, at the Development Portal, expand the link [Outreach REST API Reference](https://developers.outreach.io/api/reference/overview/) in the left navigation bar to see human-readable description of endpoints and data types.\n\nHowever, if you would like to get machine-readable schema definition there are two other options available:\n\n* [https://api.outreach.io/api/v2/schema.json](https://api.outreach.io/api/v2/schema.json) contains the API definition in  the [json-schema format](https://json-schema.org/) and if you provide `Authorization` header with valid token (same as actual API call) all the custom objects defined for the organization will be included as well.\n\n* [https://api.outreach.io/api/v2/schema/openapi.json](https://api.outreach.io/api/v2/schema/openapi.json) contains the API definition in the [OpenAPI / Swagger format](https://swagger.io/specification/). Unfortunately custom objects are not included in this file.\n\nAdditionally to these standard definitions Outreach provides detailed list of validations applied to custom fields. Custom objects will be included later, the work is in progress.\n\n* [https://api.outreach.io/api/v2/types](https://api.outreach.io/api/v2/types) endpoint returns a list of all `customXXX` fields on standard objects with their type, label, options or other constraints defined by the administrator. This endpoint requires valid token in the `Authorization` header. The format of the definitions is described below.\n\n### Custom field types\n\n```json\n{\n  \"data\": [\n    {\n      \"type\": \"<object_name>\",\n      \"meta\": {\n        \"validations\": {\n          \"<field_name>\": {\n            \"type\": \"<validation_type>\",\n            \"required\": true / false,\n            \"label\": \"...\",\n            \"definition\": null / [\"...\", ...] / \"...\"\n          },\n          ...\n          }\n        }\n      }\n    },\n    ...\n  ]\n}\n```\n\n#### Objects with custom fields\n\n* Account\n* Opportunity\n* OpportunityLineItem\n* OpportunityProspectRole\n* Product\n* Prospect\n* Purchase\n\n#### Validation types\n\n* `boolean` - true or false\n* `currency` - monetary value, `definition` contains an abbreviation of the currency like `\"USD\"` or `\"EUR\"`\n* `date` - a date stored in ISO8601 format: YYYY-MM-DD.\n* `date_time` a date and time stored as YYYY-MM-DDThh:mm:ss.\n* `inclusion` - a pick list with predefined set of options available in `definition` attribute as a list of strings\n* multi_inclusion - a pick list with several options selectable at once with predefined set of options available in `definition` attribute as a list of strings\n* `numerical`\n* `percentage`\n* `phone_number`\n* `string`\n* `url`\n"
  title: Outreach REST API Reference Kaia Voice Import API
  version: ''
servers:
- url: https://api.outreach.io/api/v2
security:
- bearerAuth: []
tags:
- description: '<SchemaDefinition schemaRef="#/components/schemas/kaiaVoiceImport" />


    ## ⌵ Kaia Voice Import Actions


    '
  name: Kaia Voice Import
  x-internal: false
paths:
  /kaiaVoiceImports:
    post:
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              properties:
                data:
                  properties:
                    attributes:
                      $ref: '#/components/schemas/kaiaVoiceImport'
                    relationships:
                      $ref: '#/components/schemas/kaiaVoiceImportRelationships'
                    type:
                      type: string
              type: object
        required: true
      responses:
        '201':
          content:
            application/vnd.api+json:
              schema:
                properties:
                  data:
                    $ref: '#/components/schemas/kaiaVoiceImportResponse'
          description: Created
        '422':
          content:
            application/vnd.api+json:
              schema:
                properties:
                  errors:
                    items:
                      properties:
                        detail:
                          type: string
                        id:
                          type: string
                        title:
                          type: string
                      type: object
                    type: array
          description: JSON error message
      security:
      - bearerAuth: []
        s2sAuthToken: []
      summary: Create a New Kaia Voice Import
      tags:
      - Kaia Voice Import
      x-internal: false
components:
  schemas:
    kaiaVoiceImportRelationships:
      type: object
    kaiaVoiceImportResponse:
      properties:
        attributes:
          $ref: '#/components/schemas/kaiaVoiceImport'
        id:
          type: integer
        relationships:
          $ref: '#/components/schemas/kaiaVoiceImportRelationships'
        type:
          type: string
      type: object
      x-internal: false
    kaiaVoiceImport:
      description: 'Import third party recording. Prerequisite is CreateCall API should be called before.

        '
      properties:
        callId:
          description: '


            Required: call_id from Create Call Record API.'
          maxLength: 255
          type:
          - string
          - 'null'
          x-internal: false
        instanceId:
          description: '<img src=https://developers.outreach.io/badges/readonly.svg>


            Unique identifier for the voice import instance.'
          maxLength: 255
          type:
          - string
          - 'null'
          x-internal: false
        metadata:
          description: '


            Optional: partner metadata in JSON format. We support dual channel audio input for now, where channel 0 is buyer, and channel 1 is seller by default. For example, {"sellerChannel":0}. If sellerChannel = 1, it is default and metadata can be empty.'
          maxLength: 4096
          type:
          - string
          - 'null'
          x-internal: false
        recordingUrl:
          description: '


            Required: signed recording URL. The recording URL in import request should be valid for at least 8 hours'
          maxLength: 1024
          type:
          - string
          - 'null'
          x-internal: false
      type: object
      x-internal: false
  securitySchemes:
    bearerAuth:
      bearerFormat: JWT
      scheme: bearer
      type: http
    s2sAuthToken:
      bearerFormat: JWT
      scheme: bearer
      type: http
