openapi: 3.2.0
info:
  description: Outreach Public API is documented here, at the Development Portal, expand the link Outreach REST API Reference in the left navigation bar to see human-readable description of endpoints and data types.
  title: Outreach REST API Reference Batch Item API
  version: ''
servers:
- url: https://api.outreach.io/api/v2
security:
- bearerAuth: []
tags:
- description: '## Batch Item Relationships


    ## ⌵ Batch Item Actions'
  name: Batch Item
  x-internal: false
paths:
  /batchItems:
    get:
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                properties:
                  data:
                    items:
                      $ref: '#/components/schemas/batchItemResponse'
                    type: array
          description: OK
        '422':
          content:
            application/vnd.api+json:
              schema:
                properties:
                  errors:
                    items:
                      properties:
                        detail:
                          type: string
                        id:
                          type: string
                        title:
                          type: string
                      type: object
                    type: array
          description: JSON error message
      summary: Get a Collection of Batch Items
      tags:
      - Batch Item
      x-internal: false
      operationId: getBatchItems
      x-operation-id-source: derived
  /batchItems/{id}:
    get:
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: integer
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                properties:
                  data:
                    $ref: '#/components/schemas/batchItemResponse'
          description: OK
        '404':
          content:
            application/vnd.api+json:
              schema:
                properties:
                  errors:
                    items:
                      properties:
                        detail:
                          type: string
                        id:
                          type: string
                        title:
                          type: string
                      type: object
                    type: array
          description: Not Found
      summary: Get a Batch Item by ID
      tags:
      - Batch Item
      x-internal: false
      operationId: getBatchItemsById
      x-operation-id-source: derived
components:
  schemas:
    batchItemResponse:
      properties:
        attributes:
          $ref: '#/components/schemas/batchItem'
        id:
          type: integer
        relationships:
          $ref: '#/components/schemas/batchItemRelationships'
        type:
          type: string
      type: object
      x-internal: false
    batchItemRelationships:
      properties:
        batch:
          description: '<img src=https://developers.outreach.io/badges/readonly.svg>


            The batch associated with this record.'
          properties:
            data:
              properties:
                id:
                  type: integer
                type:
                  enum:
                  - batch
                  type: string
              type:
              - object
              - 'null'
            links:
              properties:
                related:
                  format: uri
                  type: string
              type: object
      type: object
    batchItem:
      description: 'A record associated with a batch in which a particular action was performed.

        '
      properties:
        batchId:
          description: '<img src=https://developers.outreach.io/badges/readonly.svg> <img src=https://developers.outreach.io/badges/filterable.svg> <img src=https://developers.outreach.io/badges/sortable.svg>


            The id of the batch this item belongs to.'
          type:
          - integer
          - 'null'
          x-internal: false
        createdAt:
          description: '<img src=https://developers.outreach.io/badges/readonly.svg>


            The time the batch_item was created at.'
          format: date-time
          type:
          - string
          - 'null'
          x-internal: false
        data:
          description: '


            The data requested to execute the batch item.'
          maxLength: 16777215
          type:
          - string
          - 'null'
          x-internal: false
        failed:
          description: '<img src=https://developers.outreach.io/badges/readonly.svg> <img src=https://developers.outreach.io/badges/filterable.svg> <img src=https://developers.outreach.io/badges/sortable.svg>


            Whether this batch item failed during processing.'
          type:
          - boolean
          - 'null'
          x-internal: false
        info:
          description: '


            A description of the failure if one exists.'
          maxLength: 767
          type:
          - string
          - 'null'
          x-internal: false
        state:
          description: '<img src=https://developers.outreach.io/badges/readonly.svg> <img src=https://developers.outreach.io/badges/filterable.svg> <img src=https://developers.outreach.io/badges/sortable.svg>


            The current state of the batch item.'
          maxLength: 255
          type:
          - string
          - 'null'
          x-internal: false
      type: object
      x-internal: false
  securitySchemes:
    bearerAuth:
      bearerFormat: JWT
      scheme: bearer
      type: http
    s2sAuthToken:
      bearerFormat: JWT
      scheme: bearer
      type: http
