openapi: 3.2.0
info:
  description: Outreach Public API is documented here, at the Development Portal, expand the link Outreach REST API Reference in the left navigation bar to see human-readable description of endpoints and data types.
  title: Outreach REST API Reference Kaia Voice Import API
  version: ''
servers:
- url: https://api.outreach.io/api/v2
security:
- bearerAuth: []
tags:
- description: '## ⌵ Kaia Voice Import Actions'
  name: Kaia Voice Import
  x-internal: false
paths:
  /kaiaVoiceImports:
    post:
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              properties:
                data:
                  properties:
                    attributes:
                      $ref: '#/components/schemas/kaiaVoiceImport'
                    relationships:
                      $ref: '#/components/schemas/kaiaVoiceImportRelationships'
                    type:
                      type: string
              type: object
        required: true
      responses:
        '201':
          content:
            application/vnd.api+json:
              schema:
                properties:
                  data:
                    $ref: '#/components/schemas/kaiaVoiceImportResponse'
          description: Created
        '422':
          content:
            application/vnd.api+json:
              schema:
                properties:
                  errors:
                    items:
                      properties:
                        detail:
                          type: string
                        id:
                          type: string
                        title:
                          type: string
                      type: object
                    type: array
          description: JSON error message
      security:
      - bearerAuth: []
        s2sAuthToken: []
      summary: Create a New Kaia Voice Import
      tags:
      - Kaia Voice Import
      x-internal: false
      operationId: postKaiaVoiceImports
      x-operation-id-source: derived
components:
  schemas:
    kaiaVoiceImportRelationships:
      type: object
    kaiaVoiceImportResponse:
      properties:
        attributes:
          $ref: '#/components/schemas/kaiaVoiceImport'
        id:
          type: integer
        relationships:
          $ref: '#/components/schemas/kaiaVoiceImportRelationships'
        type:
          type: string
      type: object
      x-internal: false
    kaiaVoiceImport:
      description: 'Import third party recording. Prerequisite is CreateCall API should be called before.

        '
      properties:
        callId:
          description: '


            Required: call_id from Create Call Record API.'
          maxLength: 255
          type:
          - string
          - 'null'
          x-internal: false
        instanceId:
          description: '<img src=https://developers.outreach.io/badges/readonly.svg>


            Unique identifier for the voice import instance.'
          maxLength: 255
          type:
          - string
          - 'null'
          x-internal: false
        metadata:
          description: '


            Optional: partner metadata in JSON format. We support dual channel audio input for now, where channel 0 is buyer, and channel 1 is seller by default. For example, {"sellerChannel":0}. If sellerChannel = 1, it is default and metadata can be empty.'
          maxLength: 4096
          type:
          - string
          - 'null'
          x-internal: false
        recordingUrl:
          description: '


            Required: signed recording URL. The recording URL in import request should be valid for at least 8 hours'
          maxLength: 1024
          type:
          - string
          - 'null'
          x-internal: false
      type: object
      x-internal: false
  securitySchemes:
    bearerAuth:
      bearerFormat: JWT
      scheme: bearer
      type: http
    s2sAuthToken:
      bearerFormat: JWT
      scheme: bearer
      type: http
