openapi: 3.2.0
info:
  description: "Outreach Public API is documented here, at the Development Portal, expand the link [Outreach REST API Reference](https://developers.outreach.io/api/reference/overview/) in the left navigation bar to see human-readable description of endpoints and data types.\n\nHowever, if you would like to get machine-readable schema definition there are two other options available:\n\n* [https://api.outreach.io/api/v2/schema.json](https://api.outreach.io/api/v2/schema.json) contains the API definition in  the [json-schema format](https://json-schema.org/) and if you provide `Authorization` header with valid token (same as actual API call) all the custom objects defined for the organization will be included as well.\n\n* [https://api.outreach.io/api/v2/schema/openapi.json](https://api.outreach.io/api/v2/schema/openapi.json) contains the API definition in the [OpenAPI / Swagger format](https://swagger.io/specification/). Unfortunately custom objects are not included in this file.\n\nAdditionally to these standard definitions Outreach provides detailed list of validations applied to custom fields. Custom objects will be included later, the work is in progress.\n\n* [https://api.outreach.io/api/v2/types](https://api.outreach.io/api/v2/types) endpoint returns a list of all `customXXX` fields on standard objects with their type, label, options or other constraints defined by the administrator. This endpoint requires valid token in the `Authorization` header. The format of the definitions is described below.\n\n### Custom field types\n\n```json\n{\n  \"data\": [\n    {\n      \"type\": \"<object_name>\",\n      \"meta\": {\n        \"validations\": {\n          \"<field_name>\": {\n            \"type\": \"<validation_type>\",\n            \"required\": true / false,\n            \"label\": \"...\",\n            \"definition\": null / [\"...\", ...] / \"...\"\n          },\n          ...\n          }\n        }\n      }\n    },\n    ...\n  ]\n}\n```\n\n#### Objects with custom fields\n\n* Account\n* Opportunity\n* OpportunityLineItem\n* OpportunityProspectRole\n* Product\n* Prospect\n* Purchase\n\n#### Validation types\n\n* `boolean` - true or false\n* `currency` - monetary value, `definition` contains an abbreviation of the currency like `\"USD\"` or `\"EUR\"`\n* `date` - a date stored in ISO8601 format: YYYY-MM-DD.\n* `date_time` a date and time stored as YYYY-MM-DDThh:mm:ss.\n* `inclusion` - a pick list with predefined set of options available in `definition` attribute as a list of strings\n* multi_inclusion - a pick list with several options selectable at once with predefined set of options available in `definition` attribute as a list of strings\n* `numerical`\n* `percentage`\n* `phone_number`\n* `string`\n* `url`\n"
  title: Outreach REST API Reference Template API
  version: ''
servers:
- url: https://api.outreach.io/api/v2
security:
- bearerAuth: []
tags:
- description: '<SchemaDefinition schemaRef="#/components/schemas/template" />


    ## Template Relationships


    <SchemaDefinition schemaRef="#/components/schemas/templateRelationships" />


    ## Template Resource Metadata


    | **METADATA NAME**| **DESCRIPTION** | **QUERY PARAM** |

    | --- | --- | --- |

    |  canWrite | A boolean value indicating whether the current API user has write access to this resource. | provideAuthorizationMeta |

    |  canDelete | A boolean value indicating whether the current API user has delete access to this resource. | provideAuthorizationMeta |



    ## ⌵ Template Actions


    '
  name: Template
  x-internal: false
paths:
  /templates:
    get:
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                properties:
                  data:
                    items:
                      $ref: '#/components/schemas/templateResponse'
                    type: array
          description: OK
        '422':
          content:
            application/vnd.api+json:
              schema:
                properties:
                  errors:
                    items:
                      properties:
                        detail:
                          type: string
                        id:
                          type: string
                        title:
                          type: string
                      type: object
                    type: array
          description: JSON error message
      security:
      - bearerAuth: []
        s2sAuthToken: []
      summary: Get a Collection of Templates
      tags:
      - Template
      x-internal: false
    post:
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              properties:
                data:
                  properties:
                    attributes:
                      $ref: '#/components/schemas/template'
                    relationships:
                      $ref: '#/components/schemas/templateRelationships'
                    type:
                      type: string
              type: object
        required: true
      responses:
        '201':
          content:
            application/vnd.api+json:
              schema:
                properties:
                  data:
                    $ref: '#/components/schemas/templateResponse'
          description: Created
        '422':
          content:
            application/vnd.api+json:
              schema:
                properties:
                  errors:
                    items:
                      properties:
                        detail:
                          type: string
                        id:
                          type: string
                        title:
                          type: string
                      type: object
                    type: array
          description: JSON error message
      summary: Create a New Template
      tags:
      - Template
      x-internal: false
  /templates/{id}:
    delete:
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: integer
      responses:
        '204':
          content:
            application/vnd.api+json: {}
          description: Deleted
        '422':
          content:
            application/vnd.api+json:
              schema:
                properties:
                  errors:
                    items:
                      properties:
                        detail:
                          type: string
                        id:
                          type: string
                        title:
                          type: string
                      type: object
                    type: array
          description: JSON error message
      summary: Delete an Existing Template by ID
      tags:
      - Template
      x-internal: false
    get:
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: integer
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                properties:
                  data:
                    $ref: '#/components/schemas/templateResponse'
          description: OK
        '404':
          content:
            application/vnd.api+json:
              schema:
                properties:
                  errors:
                    items:
                      properties:
                        detail:
                          type: string
                        id:
                          type: string
                        title:
                          type: string
                      type: object
                    type: array
          description: Not Found
      security:
      - bearerAuth: []
        s2sAuthToken: []
      summary: Get a Template by ID
      tags:
      - Template
      x-internal: false
    patch:
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: integer
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              properties:
                data:
                  properties:
                    attributes:
                      $ref: '#/components/schemas/template'
                    id:
                      type: integer
                    relationships:
                      $ref: '#/components/schemas/templateRelationships'
                    type:
                      type: string
                  required:
                  - type
                  - id
              type: object
        required: true
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                properties:
                  data:
                    properties:
                      attributes:
                        $ref: '#/components/schemas/template'
                      id:
                        type: integer
                      relationships:
                        $ref: '#/components/schemas/templateRelationships'
                      type:
                        type: string
                    required:
                    - type
                    - id
                type: object
          description: OK
        '422':
          content:
            application/vnd.api+json:
              schema:
                properties:
                  errors:
                    items:
                      properties:
                        detail:
                          type: string
                        id:
                          type: string
                        title:
                          type: string
                      type: object
                    type: array
          description: JSON error message
      summary: Update a Template
      tags:
      - Template
      x-internal: false
components:
  schemas:
    template:
      description: 'A reusable template for building emails.

        '
      properties:
        archived:
          description: '


            Boolean value indicating if the template has been archived.'
          type:
          - boolean
          - 'null'
          x-internal: false
        archivedAt:
          description: '<img src=https://developers.outreach.io/badges/readonly.svg> <img src=https://developers.outreach.io/badges/filterable.svg> <img src=https://developers.outreach.io/badges/sortable.svg>


            The date and time the template was archived.'
          format: date-time
          type:
          - string
          - 'null'
          x-internal: false
        bccRecipients:
          description: '


            A list of default person and email address pairs to receive this template in the "bcc" field (e.g. [Billy Bob `<billy.bob@seattle.city>`])'
          items:
            type: string
          type:
          - array
          - 'null'
          x-internal: false
        bodyHtml:
          description: '


            The body HTML of the template.'
          maxLength: 16777215
          type:
          - string
          - 'null'
          x-internal: false
        bodyText:
          description: '<img src=https://developers.outreach.io/badges/readonly.svg>


            The body text of the template.'
          maxLength: 16777215
          type:
          - string
          - 'null'
          x-internal: false
        bounceCount:
          description: '<img src=https://developers.outreach.io/badges/readonly.svg>


            The total count of bounced mailings during this template.'
          type:
          - integer
          - 'null'
          x-internal: false
        ccRecipients:
          description: '


            A list of default person and email address pairs to receive this template in the "cc" field (e.g. [Billy Bob `<billy.bob@seattle.city>`])'
          items:
            type: string
          type:
          - array
          - 'null'
          x-internal: false
        clickCount:
          description: '<img src=https://developers.outreach.io/badges/readonly.svg> <img src=https://developers.outreach.io/badges/filterable.svg> <img src=https://developers.outreach.io/badges/sortable.svg>


            The total count of clicked mailings from this template.'
          type:
          - integer
          - 'null'
          x-internal: false
        createdAt:
          description: '<img src=https://developers.outreach.io/badges/readonly.svg> <img src=https://developers.outreach.io/badges/filterable.svg> <img src=https://developers.outreach.io/badges/sortable.svg>


            The date and time the template was created.'
          format: date-time
          type:
          - string
          - 'null'
          x-internal: false
        deliverCount:
          description: '<img src=https://developers.outreach.io/badges/readonly.svg> <img src=https://developers.outreach.io/badges/filterable.svg> <img src=https://developers.outreach.io/badges/sortable.svg>


            The total count of delivered mailings from this template.'
          type:
          - integer
          - 'null'
          x-internal: false
        failureCount:
          description: '<img src=https://developers.outreach.io/badges/readonly.svg>


            The total count of failed mailings from this template.'
          type:
          - integer
          - 'null'
          x-internal: false
        lastUsedAt:
          description: '<img src=https://developers.outreach.io/badges/readonly.svg> <img src=https://developers.outreach.io/badges/filterable.svg> <img src=https://developers.outreach.io/badges/sortable.svg>


            The last time the template was used.'
          format: date-time
          type:
          - string
          - 'null'
          x-internal: false
        name:
          description: '<img src=https://developers.outreach.io/badges/filterable.svg> <img src=https://developers.outreach.io/badges/sortable.svg>


            The name of the template.'
          maxLength: 225
          type:
          - string
          - 'null'
          x-internal: false
        negativeReplyCount:
          description: '<img src=https://developers.outreach.io/badges/readonly.svg>


            The total count of negative reply mailings from this template.'
          type:
          - integer
          - 'null'
          x-internal: false
        neutralReplyCount:
          description: '<img src=https://developers.outreach.io/badges/readonly.svg>


            The total count of neutral reply mailings from this template.'
          type:
          - integer
          - 'null'
          x-internal: false
        openCount:
          description: '<img src=https://developers.outreach.io/badges/readonly.svg> <img src=https://developers.outreach.io/badges/filterable.svg> <img src=https://developers.outreach.io/badges/sortable.svg>


            The total count of opened mailings from this template.'
          type:
          - integer
          - 'null'
          x-internal: false
        optOutCount:
          description: '<img src=https://developers.outreach.io/badges/readonly.svg>


            The total count of opted out mailings from this template.'
          type:
          - integer
          - 'null'
          x-internal: false
        positiveReplyCount:
          description: '<img src=https://developers.outreach.io/badges/readonly.svg>


            The total count of positive reply mailings from this template.'
          type:
          - integer
          - 'null'
          x-internal: false
        replyCount:
          description: '<img src=https://developers.outreach.io/badges/readonly.svg> <img src=https://developers.outreach.io/badges/filterable.svg> <img src=https://developers.outreach.io/badges/sortable.svg>


            The total count of replied mailings from this template.'
          type:
          - integer
          - 'null'
          x-internal: false
        scheduleCount:
          description: '<img src=https://developers.outreach.io/badges/readonly.svg>


            The total count of scheduled mailings from this template.'
          type:
          - integer
          - 'null'
          x-internal: false
        shareType:
          description: '<img src=https://developers.outreach.io/badges/filterable.svg> <img src=https://developers.outreach.io/badges/sortable.svg>


            The share type must be one of "read_only," "private," or "shared".'
          maxLength: 255
          type:
          - string
          - 'null'
          x-internal: false
        subject:
          description: '


            The subject line for the email to be sent.'
          type:
          - string
          - 'null'
          x-internal: false
        tags:
          description: '


            A list of tag values associated with the template (e.g. ["Sequencing", "Quick Response"]).'
          items:
            type: string
          type:
          - array
          - 'null'
          x-internal: false
        toRecipients:
          description: '


            A list of default person and email address pairs to receive this template in the "to" field (e.g. ["Billy Bob <billy.bob@seattle.city>"])'
          items:
            type: string
          type:
          - array
          - 'null'
          x-internal: false
        trackLinks:
          description: '


            Boolean value indicating if link tracking is on for the template.'
          type:
          - boolean
          - 'null'
          x-internal: false
        trackOpens:
          description: '


            Boolean value indicating if open tracking is on for the template.'
          type:
          - boolean
          - 'null'
          x-internal: false
        updatedAt:
          description: '<img src=https://developers.outreach.io/badges/readonly.svg> <img src=https://developers.outreach.io/badges/filterable.svg> <img src=https://developers.outreach.io/badges/sortable.svg>


            The date and time the template was last updated.'
          format: date-time
          type:
          - string
          - 'null'
          x-internal: false
      type: object
      x-internal: false
    templateResponse:
      properties:
        attributes:
          $ref: '#/components/schemas/template'
        id:
          type: integer
        relationships:
          $ref: '#/components/schemas/templateRelationships'
        type:
          type: string
      type: object
      x-internal: false
    templateRelationships:
      properties:
        attachments:
          description: The attachments to be sent with this template.
          properties:
            data:
              items:
                properties:
                  id:
                    type: integer
                  type:
                    enum:
                    - attachment
                    type: string
                type: object
              type: array
            links:
              properties:
                related:
                  format: uri
                  type: string
              type: object
        contentCategoryMemberships:
          description: The content cateogories with which this template is associated. Relationship contentCategoryMemberships cannot be used as a filter.
          properties:
            data:
              items:
                properties:
                  id:
                    type: integer
                  type:
                    enum:
                    - contentCategoryMembership
                    type: string
                type: object
              type: array
            links:
              properties:
                related:
                  format: uri
                  type: string
              type: object
        creator:
          description: '<img src=https://developers.outreach.io/badges/readonly.svg>


            The creator of the template. You can use only the attribute id to filter templates by creator (e.g. filter[creator][id]=X).'
          properties:
            data:
              properties:
                id:
                  type: integer
                type:
                  enum:
                  - user
                  type: string
              type:
              - object
              - 'null'
            links:
              properties:
                related:
                  format: uri
                  type: string
              type: object
        favorites:
          description: The template favorited by the user.
          properties:
            data:
              items:
                properties:
                  id:
                    type: integer
                  type:
                    enum:
                    - favorite
                    type: string
                type: object
              type: array
            links:
              properties:
                related:
                  format: uri
                  type: string
              type: object
        owner:
          description: The owner of the template. You can use only the attribute id to filter templates by owner (e.g. filter[owner][id]=X).
          properties:
            data:
              properties:
                id:
                  type: integer
                type:
                  enum:
                  - user
                  type: string
              type:
              - object
              - 'null'
            links:
              properties:
                related:
                  format: uri
                  type: string
              type: object
        recipients:
          description: '<img src=https://developers.outreach.io/badges/readonly.svg>


            A list of default email addresses to receive this template. You can use only the attribute id to filter templates by recipients (e.g. filter[recipients][id]=X).'
          properties:
            data:
              items:
                properties:
                  id:
                    type: integer
                  type:
                    enum:
                    - recipient
                    type: string
                type: object
              type: array
            links:
              properties:
                related:
                  format: uri
                  type: string
              type: object
        sequenceTemplates:
          description: '<img src=https://developers.outreach.io/badges/readonly.svg>


            The sequence templates using the template for their content. Relationship sequenceTemplates cannot be used as a filter.'
          properties:
            data:
              items:
                properties:
                  id:
                    type: integer
                  type:
                    enum:
                    - sequenceTemplate
                    type: string
                type: object
              type: array
            links:
              properties:
                related:
                  format: uri
                  type: string
              type: object
        statsTarget:
          description: The template that collects all the metrics instead of current one.
          properties:
            data:
              properties:
                id:
                  type: integer
                type:
                  enum:
                  - template
                  type: string
              type:
              - object
              - 'null'
            links:
              properties:
                related:
                  format: uri
                  type: string
              type: object
        updater:
          description: '<img src=https://developers.outreach.io/badges/readonly.svg>


            The creator of the template. You can use only the attribute id to filter templates by updater (e.g. filter[updater][id]=X).'
          properties:
            data:
              properties:
                id:
                  type: integer
                type:
                  enum:
                  - user
                  type: string
              type:
              - object
              - 'null'
            links:
              properties:
                related:
                  format: uri
                  type: string
              type: object
      type: object
  securitySchemes:
    bearerAuth:
      bearerFormat: JWT
      scheme: bearer
      type: http
    s2sAuthToken:
      bearerFormat: JWT
      scheme: bearer
      type: http
