openapi: 3.2.0
info:
  description: "Outreach Public API is documented here, at the Development Portal, expand the link [Outreach REST API Reference](https://developers.outreach.io/api/reference/overview/) in the left navigation bar to see human-readable description of endpoints and data types.\n\nHowever, if you would like to get machine-readable schema definition there are two other options available:\n\n* [https://api.outreach.io/api/v2/schema.json](https://api.outreach.io/api/v2/schema.json) contains the API definition in  the [json-schema format](https://json-schema.org/) and if you provide `Authorization` header with valid token (same as actual API call) all the custom objects defined for the organization will be included as well.\n\n* [https://api.outreach.io/api/v2/schema/openapi.json](https://api.outreach.io/api/v2/schema/openapi.json) contains the API definition in the [OpenAPI / Swagger format](https://swagger.io/specification/). Unfortunately custom objects are not included in this file.\n\nAdditionally to these standard definitions Outreach provides detailed list of validations applied to custom fields. Custom objects will be included later, the work is in progress.\n\n* [https://api.outreach.io/api/v2/types](https://api.outreach.io/api/v2/types) endpoint returns a list of all `customXXX` fields on standard objects with their type, label, options or other constraints defined by the administrator. This endpoint requires valid token in the `Authorization` header. The format of the definitions is described below.\n\n### Custom field types\n\n```json\n{\n  \"data\": [\n    {\n      \"type\": \"<object_name>\",\n      \"meta\": {\n        \"validations\": {\n          \"<field_name>\": {\n            \"type\": \"<validation_type>\",\n            \"required\": true / false,\n            \"label\": \"...\",\n            \"definition\": null / [\"...\", ...] / \"...\"\n          },\n          ...\n          }\n        }\n      }\n    },\n    ...\n  ]\n}\n```\n\n#### Objects with custom fields\n\n* Account\n* Opportunity\n* OpportunityLineItem\n* OpportunityProspectRole\n* Product\n* Prospect\n* Purchase\n\n#### Validation types\n\n* `boolean` - true or false\n* `currency` - monetary value, `definition` contains an abbreviation of the currency like `\"USD\"` or `\"EUR\"`\n* `date` - a date stored in ISO8601 format: YYYY-MM-DD.\n* `date_time` a date and time stored as YYYY-MM-DDThh:mm:ss.\n* `inclusion` - a pick list with predefined set of options available in `definition` attribute as a list of strings\n* multi_inclusion - a pick list with several options selectable at once with predefined set of options available in `definition` attribute as a list of strings\n* `numerical`\n* `percentage`\n* `phone_number`\n* `string`\n* `url`\n"
  title: Outreach REST API Reference Prospect API
  version: ''
servers:
- url: https://api.outreach.io/api/v2
security:
- bearerAuth: []
tags:
- description: '<SchemaDefinition schemaRef="#/components/schemas/prospect" />


    ## Prospect Relationships


    <SchemaDefinition schemaRef="#/components/schemas/prospectRelationships" />


    ## Prospect Resource Metadata


    | **METADATA NAME**| **DESCRIPTION** | **QUERY PARAM** |

    | --- | --- | --- |

    |  canWrite | A boolean value indicating whether the current API user has write access to this resource. | provideAuthorizationMeta |

    |  canDelete | A boolean value indicating whether the current API user has delete access to this resource. | provideAuthorizationMeta |

    |  dataConnections | The set of connections a given Prospect has to external sources. | provideDataConnections |



    ## ⌵ Prospect Actions


    '
  name: Prospect
  x-internal: false
paths:
  /prospects:
    get:
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                properties:
                  data:
                    items:
                      $ref: '#/components/schemas/prospectResponse'
                    type: array
          description: OK
        '422':
          content:
            application/vnd.api+json:
              schema:
                properties:
                  errors:
                    items:
                      properties:
                        detail:
                          type: string
                        id:
                          type: string
                        title:
                          type: string
                      type: object
                    type: array
          description: JSON error message
      security:
      - bearerAuth: []
        s2sAuthToken: []
      summary: Get a Collection of Prospects
      tags:
      - Prospect
      x-internal: false
    post:
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              properties:
                data:
                  properties:
                    attributes:
                      $ref: '#/components/schemas/prospect'
                    relationships:
                      $ref: '#/components/schemas/prospectRelationships'
                    type:
                      type: string
              type: object
        required: true
      responses:
        '201':
          content:
            application/vnd.api+json:
              schema:
                properties:
                  data:
                    $ref: '#/components/schemas/prospectResponse'
          description: Created
        '422':
          content:
            application/vnd.api+json:
              schema:
                properties:
                  errors:
                    items:
                      properties:
                        detail:
                          type: string
                        id:
                          type: string
                        title:
                          type: string
                      type: object
                    type: array
          description: JSON error message
      security:
      - bearerAuth: []
        s2sAuthToken: []
      summary: Create a New Prospect
      tags:
      - Prospect
      x-internal: false
  /prospects/{id}:
    delete:
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: integer
      responses:
        '204':
          content:
            application/vnd.api+json: {}
          description: Deleted
        '422':
          content:
            application/vnd.api+json:
              schema:
                properties:
                  errors:
                    items:
                      properties:
                        detail:
                          type: string
                        id:
                          type: string
                        title:
                          type: string
                      type: object
                    type: array
          description: JSON error message
      security:
      - bearerAuth: []
        s2sAuthToken: []
      summary: Delete an Existing Prospect by ID
      tags:
      - Prospect
      x-internal: false
    get:
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: integer
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                properties:
                  data:
                    $ref: '#/components/schemas/prospectResponse'
          description: OK
        '404':
          content:
            application/vnd.api+json:
              schema:
                properties:
                  errors:
                    items:
                      properties:
                        detail:
                          type: string
                        id:
                          type: string
                        title:
                          type: string
                      type: object
                    type: array
          description: Not Found
      security:
      - bearerAuth: []
        s2sAuthToken: []
      summary: Get a Prospect by ID
      tags:
      - Prospect
      x-internal: false
    patch:
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: integer
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              properties:
                data:
                  properties:
                    attributes:
                      $ref: '#/components/schemas/prospect'
                    id:
                      type: integer
                    relationships:
                      $ref: '#/components/schemas/prospectRelationships'
                    type:
                      type: string
                  required:
                  - type
                  - id
              type: object
        required: true
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                properties:
                  data:
                    properties:
                      attributes:
                        $ref: '#/components/schemas/prospect'
                      id:
                        type: integer
                      relationships:
                        $ref: '#/components/schemas/prospectRelationships'
                      type:
                        type: string
                    required:
                    - type
                    - id
                type: object
          description: OK
        '422':
          content:
            application/vnd.api+json:
              schema:
                properties:
                  errors:
                    items:
                      properties:
                        detail:
                          type: string
                        id:
                          type: string
                        title:
                          type: string
                      type: object
                    type: array
          description: JSON error message
      security:
      - bearerAuth: []
        s2sAuthToken: []
      summary: Update a Prospect
      tags:
      - Prospect
      x-internal: false
components:
  schemas:
    prospectResponse:
      properties:
        attributes:
          $ref: '#/components/schemas/prospect'
        id:
          type: integer
        relationships:
          $ref: '#/components/schemas/prospectRelationships'
        type:
          type: string
      type: object
      x-internal: false
    prospectRelationships:
      properties:
        account:
          description: The prospect's associated account. You can use attributes id, customId, name, named and updatedAt to filter prospects by account (e.g. filter[account][id]=X). You can force a null return on unnamed account by adding in the request actionParams[withUnnamedAccount]=false.
          properties:
            data:
              properties:
                id:
                  type: integer
                type:
                  enum:
                  - account
                  type: string
              type:
              - object
              - 'null'
            links:
              properties:
                related:
                  format: uri
                  type: string
              type: object
        activeSequenceStates:
          description: '<img src=https://developers.outreach.io/badges/readonly.svg>


            The non-finished sequence states where this prospect is the primary recipient. This includes states of "active", "paused", "failed", "bounced", "pending" and "disabled." You can use attributes id and state to filter prospects by activeSequenceStates (e.g. filter[activeSequenceStates][id]=X).'
          properties:
            data:
              items:
                properties:
                  id:
                    type: integer
                  type:
                    enum:
                    - sequenceState
                    type: string
                type: object
              type: array
            links:
              properties:
                related:
                  format: uri
                  type: string
              type: object
        assignedTeams:
          description: ''
          properties:
            data:
              items:
                properties:
                  id:
                    type: integer
                  type:
                    enum:
                    - team
                    type: string
                type: object
              type: array
            links:
              properties:
                related:
                  format: uri
                  type: string
              type: object
        assignedUsers:
          description: ''
          properties:
            data:
              items:
                properties:
                  id:
                    type: integer
                  type:
                    enum:
                    - user
                    type: string
                type: object
              type: array
            links:
              properties:
                related:
                  format: uri
                  type: string
              type: object
        batches:
          description: '<img src=https://developers.outreach.io/badges/readonly.svg>


            The batches associated with the prospect.'
          properties:
            links:
              properties:
                related:
                  format: uri
                  type: string
              type: object
        calls:
          description: '<img src=https://developers.outreach.io/badges/readonly.svg>


            The calls associated with the prospect. Relationship calls cannot be used as a filter.'
          properties:
            links:
              properties:
                related:
                  format: uri
                  type: string
              type: object
        creator:
          description: '<img src=https://developers.outreach.io/badges/readonly.svg>


            The creater of the prospect. Relationship creator cannot be used as a filter.'
          properties:
            data:
              properties:
                id:
                  type: integer
                type:
                  enum:
                  - user
                  type: string
              type:
              - object
              - 'null'
            links:
              properties:
                related:
                  format: uri
                  type: string
              type: object
        defaultPluginMapping:
          description: '<img src=https://developers.outreach.io/badges/readonly.svg>


            The default plugin mapping associated with the prospect. If no plugin mapping is enabled, it will return the first plugin mapping associated with the prospect.'
          properties:
            data:
              properties:
                id:
                  type: integer
                type:
                  enum:
                  - pluginMapping
                  type: string
              type:
              - object
              - 'null'
            links:
              properties:
                related:
                  format: uri
                  type: string
              type: object
        emailAddresses:
          description: The prospect's email addresses. Relationship emailAddresses cannot be used as a filter.
          properties:
            data:
              items:
                properties:
                  id:
                    type: integer
                  type:
                    enum:
                    - emailAddress
                    type: string
                type: object
              type: array
            links:
              properties:
                related:
                  format: uri
                  type: string
              type: object
        favorites:
          description: The prospect's favorites. Relationship favorites cannot be used as a filter.
          properties:
            data:
              items:
                properties:
                  id:
                    type: integer
                  type:
                    enum:
                    - favorite
                    type: string
                type: object
              type: array
            links:
              properties:
                related:
                  format: uri
                  type: string
              type: object
        mailings:
          description: '<img src=https://developers.outreach.io/badges/readonly.svg>


            The mailings associated with the prospect. Relationship mailings cannot be used as a filter.'
          properties:
            links:
              properties:
                related:
                  format: uri
                  type: string
              type: object
        opportunities:
          description: The opportunities associated with the prospect. Requires the Opportunities SKU to be enabled in order to have access. Please contact support@outreach.io for more assistance. You can use only the attribute id to filter prospects by opportunities (e.g. filter[opportunities][id]=X).
          properties:
            data:
              items:
                properties:
                  id:
                    type: integer
                  type:
                    enum:
                    - opportunity
                    type: string
                type: object
              type: array
            links:
              properties:
                related:
                  format: uri
                  type: string
              type: object
        opportunityProspectRoles:
          description: The roles that associate the prospect with opportunities. Relationship opportunityProspectRoles cannot be used as a filter.
          properties:
            data:
              items:
                properties:
                  id:
                    type: integer
                  type:
                    enum:
                    - opportunityProspectRole
                    type: string
                type: object
              type: array
            links:
              properties:
                related:
                  format: uri
                  type: string
              type: object
        owner:
          description: The owner of the prospect. You can use only the attribute id to filter prospects by owner (e.g. filter[owner][id]=X).
          properties:
            data:
              properties:
                id:
                  type: integer
                type:
                  enum:
                  - user
                  type: string
              type:
              - object
              - 'null'
            links:
              properties:
                related:
                  format: uri
                  type: string
              type: object
        persona:
          description: The persona of the prospect, if it has one. You can use only the attribute id to filter prospects by persona (e.g. filter[persona][id]=X).
          properties:
            data:
              properties:
                id:
                  type: integer
                type:
                  enum:
                  - persona
                  type: string
              type:
              - object
              - 'null'
            links:
              properties:
                related:
                  format: uri
                  type: string
              type: object
        phoneNumbers:
          description: The prospect's phone numbers Relationship phoneNumbers cannot be used as a filter.
          properties:
            data:
              items:
                properties:
                  id:
                    type: integer
                  type:
                    enum:
                    - phoneNumber
                    type: string
                type: object
              type: array
            links:
              properties:
                related:
                  format: uri
                  type: string
              type: object
        sequenceStates:
          description: '<img src=https://developers.outreach.io/badges/readonly.svg>


            The sequence states where this prospect is the primary recipient. You can use attributes id and state to filter prospects by sequenceStates (e.g. filter[sequenceStates][id]=X).'
          properties:
            links:
              properties:
                related:
                  format: uri
                  type: string
              type: object
        stage:
          description: The stage the prospect is in. You can use attributes id and name to filter prospects by stage (e.g. filter[stage][id]=X).
          properties:
            data:
              properties:
                id:
                  type: integer
                type:
                  enum:
                  - stage
                  type: string
              type:
              - object
              - 'null'
            links:
              properties:
                related:
                  format: uri
                  type: string
              type: object
        tasks:
          description: '<img src=https://developers.outreach.io/badges/readonly.svg>


            The tasks associated with the prospect. Relationship tasks cannot be used as a filter.'
          properties:
            links:
              properties:
                related:
                  format: uri
                  type: string
              type: object
        trashedByAccount:
          description: The account that soft deleted this prospect.
          properties:
            data:
              properties:
                id:
                  type: integer
                type:
                  enum:
                  - account
                  type: string
              type:
              - object
              - 'null'
            links:
              properties:
                related:
                  format: uri
                  type: string
              type: object
        updater:
          description: '<img src=https://developers.outreach.io/badges/readonly.svg>


            The most recent updater of the prospect. Relationship updater cannot be used as a filter.'
          properties:
            data:
              properties:
                id:
                  type: integer
                type:
                  enum:
                  - user
                  type: string
              type:
              - object
              - 'null'
            links:
              properties:
                related:
                  format: uri
                  type: string
              type: object
      type: object
    prospect:
      description: 'A descriptor of a person.

        '
      properties:
        addedAt:
          description: '


            The date and time the prospect was added to any system.'
          format: date-time
          type:
          - string
          - 'null'
          x-internal: false
        addressCity:
          description: '


            The prospect’s city (e.g. "Seattle").'
          maxLength: 255
          type:
          - string
          - 'null'
          x-internal: false
        addressCountry:
          description: '


            The prospect’s country (e.g. "USA").'
          maxLength: 255
          type:
          - string
          - 'null'
          x-internal: false
        addressState:
          description: '


            The prospect’s state (e.g. "Washington").'
          maxLength: 255
          type:
          - string
          - 'null'
          x-internal: false
        addressStreet:
          description: '


            The prospect’s street address (e.g. "1441 N 34th St").'
          maxLength: 255
          type:
          - string
          - 'null'
          x-internal: false
        addressStreet2:
          description: '


            The prospect’s second street address, if applicable.'
          maxLength: 255
          type:
          - string
          - 'null'
          x-internal: false
        addressZip:
          description: '


            The prospect’s postal code (e.g. "98103").'
          maxLength: 255
          type:
          - string
          - 'null'
          x-internal: false
        angelListUrl:
          description: '


            The prospect’s AngelList URL.'
          maxLength: 255
          type:
          - string
          - 'null'
          x-internal: false
        availableAt:
          description: '


            The date and time the prospect is available to contact again.'
          format: date-time
          type:
          - string
          - 'null'
          x-internal: false
        callOptedOut:
          description: '


            Whether the prospect is opted out of calling, or opted out in general if granular opt-out is not enabled.'
          type:
          - boolean
          - 'null'
          x-internal: false
        callsOptStatus:
          description: '


            A string ("opted_in", "opted_out", "null") that represents whether a prospect has opted into or out of calls.'
          maxLength: 255
          type:
          - string
          - 'null'
          x-internal: false
        callsOptedAt:
          description: '<img src=https://developers.outreach.io/badges/readonly.svg>


            The date and time the prospect opted in/out of calls.'
          format: date-time
          type:
          - string
          - 'null'
          x-internal: false
        campaignName:
          description: '


            The name of the campaign the prospect is associated with.'
          maxLength: 255
          type:
          - string
          - 'null'
          x-internal: false
        clickCount:
          description: '<img src=https://developers.outreach.io/badges/readonly.svg>


            The number of clicks the prospect has made since the last touch point.'
          type:
          - integer
          - 'null'
          x-internal: false
        company:
          description: '


            The name of the company the prospect works at. If associated with an account, this is the name of the account. (e.g. Acme International).'
          type:
          - string
          - 'null'
          x-internal: false
        contactHistogram:
          description: '<img src=https://developers.outreach.io/badges/readonly.svg>


            The last 12 months of email contact history with the prospect, with the current month being the last element. The format for each month is ''[inboundCount, outboundCount]''. Note: Retrieving this field will slow down the queries. Unless this field is required, it is best to filter it out. See Specify Sparse Fieldsets for examples'
          items:
            format: contact histogram
          type:
          - array
          - 'null'
          x-internal: false
        createdAt:
          description: '<img src=https://developers.outreach.io/badges/readonly.svg> <img src=https://developers.outreach.io/badges/filterable.svg> <img src=https://developers.outreach.io/badges/sortable.svg>


            The date and time the prospect was created.'
          format: date-time
          type:
          - string
          - 'null'
          x-internal: false
        custom1:
          description: '


            The value of the prospect’s first custom field.'
          maxLength: 32000
          type:
          - string
          - 'null'
          x-internal: false
        custom2:
          description: '


            The value of the prospect’s second custom field.'
          maxLength: 32000
          type:
          - string
          - 'null'
          x-internal: false
        custom3:
          description: '


            The value of the prospect’s third custom field.'
          maxLength: 32000
          type:
          - string
          - 'null'
          x-internal: false
        custom4:
          description: '


            The value of the prospect’s fourth custom field.'
          maxLength: 32000
          type:
          - string
          - 'null'
          x-internal: false
        custom5:
          description: '


            The value of the prospect’s fifth custom field.'
          maxLength: 32000
          type:
          - string
          - 'null'
          x-internal: false
        custom6:
          description: '


            The value of the prospect’s sixth custom field.'
          maxLength: 32000
          type:
          - string
          - 'null'
          x-internal: false
        custom7:
          description: '


            The value of the prospect’s seventh custom field.'
          maxLength: 32000
          type:
          - string
          - 'null'
          x-internal: false
        custom8:
          description: '


            The value of the prospect’s eight custom field.'
          maxLength: 32000
          type:
          - string
          - 'null'
          x-internal: false
        custom9:
          description: '


            The value of the prospect’s ninth custom field.'
          maxLength: 32000
          type:
          - string
          - 'null'
          x-internal: false
        custom10:
          description: '


            The value of the prospect’s 10th custom field.'
          maxLength: 32000
          type:
          - string
          - 'null'
          x-internal: false
        custom11:
          description: '


            The value of the prospect’s 11th custom field.'
          maxLength: 32000
          type:
          - string
          - 'null'
          x-internal: false
        custom12:
          description: '


            The value of the prospect’s 12th custom field.'
          maxLength: 32000
          type:
          - string
          - 'null'
          x-internal: false
        custom13:
          description: '


            The value of the prospect’s 13th custom field.'
          maxLength: 32000
          type:
          - string
          - 'null'
          x-internal: false
        custom14:
          description: '


            The value of the prospect’s 14th custom field.'
          maxLength: 32000
          type:
          - string
          - 'null'
          x-internal: false
        custom15:
          description: '


            The value of the prospect’s 15th custom field.'
          maxLength: 32000
          type:
          - string
          - 'null'
          x-internal: false
        custom16:
          description: '


            The value of the prospect’s 16th custom field.'
          maxLength: 32000
          type:
          - string
          - 'null'
          x-internal: false
        custom17:
          description: '


            The value of the prospect’s 17th custom field.'
          maxLength: 32000
          type:
          - string
          - 'null'
          x-internal: false
        custom18:
          description: '


            The value of the prospect’s 18th custom field.'
          maxLength: 32000
          type:
          - string
          - 'null'
          x-internal: false
        custom19:
          description: '


            The value of the prospect’s 19th custom field.'
          maxLength: 32000
          type:
          - string
          - 'null'
          x-internal: false
        custom20:
          description: '


            The value of the prospect’s 20th custom field.'
          maxLength: 32000
          type:
          - string
          - 'null'
          x-internal: false
        custom21:
          description: '


            The value of the prospect’s 21st custom field.'
          maxLength: 32000
          type:
          - string
          - 'null'
          x-internal: false
        custom22:
          description: '


            The value of the prospect’s 22nd custom field.'
          maxLength: 32000
          type:
          - string
          - 'null'
          x-internal: false
        custom23:
          description: '


            The value of the prospect’s 23rd custom field.'
          maxLength: 32000
          type:
          - string
          - 'null'
          x-internal: false
        custom24:
          description: '


            The value of the prospect’s 24th custom field.'
          maxLength: 32000
          type:
          - string
          - 'null'
          x-internal: false
        custom25:
          description: '


            The value of the prospect’s 25th custom field.'
          maxLength: 32000
          type:
          - string
          - 'null'
          x-internal: false
        custom26:
          description: '


            The value of the prospect’s 26th custom field.'
          maxLength: 32000
          type:
          - string
          - 'null'
          x-internal: false
        custom27:
          description: '


            The value of the prospect’s 27th custom field.'
          maxLength: 32000
          type:
          - string
          - 'null'
          x-internal: false
        custom28:
          description: '


            The value of the prospect’s 28th custom field.'
          maxLength: 32000
          type:
          - string
          - 'null'
          x-internal: false
        custom29:
          description: '


            The value of the prospect’s 29th custom field.'
          maxLength: 32000
          type:
          - string
          - 'null'
          x-internal: false
        custom30:
          description: '


            The value of the prospect’s 30th custom field.'
          maxLength: 32000
          type:
          - string
          - 'null'
          x-internal: false
        custom31:
          description: '


            The value of the prospect’s 31st custom field.'
          maxLength: 32000
          type:
          - string
          - 'null'
          x-internal: false
        custom32:
          description: '


            The value of the prospect’s 32nd custom field.'
          maxLength: 32000
          type:
          - string
          - 'null'
          x-internal: false
        custom33:
          description: '


            The value of the prospect’s 33rd custom field.'
          maxLength: 32000
          type:
          - string
          - 'null'
          x-internal: false
        custom34:
          description: '


            The value of the prospect’s 34th custom field.'
          maxLength: 32000
          type:
          - string
          - 'null'
          x-internal: false
        custom35:
          description: '


            The value of the prospect’s 35th custom field.'
          maxLength: 32000
          type:
          - string
          - 'null'
          x-internal: false
        custom36:
          description: '


            The value of the prospect’s 36th custom field.'
          maxLength: 32000
          type:
          - string
          - 'null'
          x-internal: false
        custom37:
          description: '


            The value of the prospect’s 37th custom field.'
          maxLength: 32000
          type:
          - string
          - 'null'
          x-internal: false
        custom38:
          description: '


            The value of the prospect’s 38th custom field.'
          maxLength: 32000
          type:
          - string
          - 'null'
          x-internal: false
        custom39:
          description: '


            The value of the prospect’s 39th custom field.'
          maxLength: 32000
          type:
          - string
          - 'null'
          x-internal: false
        custom40:
          description: '


            The value of the prospect’s 40th custom field.'
          maxLength: 32000
          type:
          - string
          - 'null'
          x-internal: false
        custom41:
          description: '


            The value of the prospect’s 41st custom field.'
          maxLength: 32000
          type:
          - string
          - 'null'
          x-internal: false
        custom42:
          description: '


            The value of the prospect’s 42nd custom field.'
          maxLength: 32000
          type:
          - string
          - 'null'
          x-internal: false
        custom43:
          description: '


            The value of the prospect’s 43rd custom field.'
          maxLength: 32000
          type:
          - string
          - 'null'
          x-internal: false
        custom44:
          description: '


            The value of the prospect’s 44th custom field.'
          maxLength: 32000
          type:
          - string
          - 'null'
          x-internal: false
        custom45:
          description: '


            The value of the prospect’s 45th custom field.'
          maxLength: 32000
          type:
          - string
          - 'null'
          x-internal: false
        custom46:
          description: '


            The value of the prospect’s 46th custom field.'
          maxLength: 32000
          type:
          - string
          - 'null'
          x-internal: false
        custom47:
          description: '


            The value of the prospect’s 47th custom field.'
          maxLength: 32000
          type:
          - string
          - 'null'
          x-internal: false
        custom48:
          description: '


            The value of the prospect’s 48th custom field.'
          maxLength: 32000
          type:
          - string
          - 'null'
          x-internal: false
        custom49:
          description: '


            The value of the prospect’s 49th custom field.'
          maxLength: 32000
          type:
          - string
          - 'null'
          x-internal: false
        custom50:
          description: '


            The value of the prospect’s 50th custom field.'
          maxLength: 32000
          type:
          - string
          - 'null'
          x-internal: false
        custom51:
          description: '


            The value of the prospect’s 51st custom field.'
          maxLength: 32000
          type:
          - string
          - 'null'
          x-internal: false
        custom52:
          description: '


            The value of the prospect’s 52nd custom field.'
          maxLength: 32000
          type:
          - string
          - 'null'
          x-internal: false
        custom53:
          description: '


            The value of the prospect’s 53rd custom field.'
          maxLength: 32000
          type:
          - string
          - 'null'
          x-internal: false
        custom54:
          description: '


            The value of the prospect’s 54th custom field.'
          maxLength: 32000
          type:
          - string
          - 'null'
          x-internal: false
        custom55:
          description: '


            The value of the prospect’s 55th custom field.'
          maxLength: 32000
          type:
          - string
          - 'null'
          x-internal: false
        custom56:
          description: '


            The value of the prospect’s 56th custom field.'
          maxLength: 32000
          type:
          - string
          - 'null'
          x-internal: false
        custom57:
          description: '


            The value of the prospect’s 57th custom field.'
          maxLength: 32000
          type:
          - string
          - 'null'
          x-internal: false
        custom58:
          description: '


            The value of the prospect’s 58th custom field.'
          maxLength: 32000
          type:
          - string
          - 'null'
          x-internal: false
        custom59:
          description: '


            The value of the prospect’s 59th custom field.'
          maxLength: 32000
          type:
          - string
          - 'null'
          x-internal: false
        custom60:
          description: '


            The value of the prospect’s 60th custom field.'
          maxLength: 32000
          type:
          - string
          - 'null'
          x-internal: false
        custom61:
          description: '


            The value of the prospect’s 61st custom field.'
          maxLength: 32000
          type:
          - string
          - 'null'
          x-internal: false
        custom62:
          description: '


            The value of the prospect’s 62nd custom field.'
          maxLength: 32000
          type:
          - string
          - 'null'
          x-internal: false
        custom63:
          description: '


            The value of the prospect’s 63rd custom field.'
          maxLength: 32000
          type:
          - string
          - 'null'
          x-internal: false
        custom64:
          description: '


            The value of the prospect’s 64th custom field.'
          maxLength: 32000
          type:
          - string
          - 'null'
          x-internal: false
        custom65:
          description: '


            The value of the prospect’s 65th custom field.'
          maxLength: 32000
          type:
          - string
          - 'null'
          x-internal: false
        custom66:
          description: '


            The value of the prospect’s 66th custom field.'
          maxLength: 32000
          type:
          - string
          - 'null'
          x-internal: false
        custom67:
          description: '


            The value of the prospect’s 67th custom field.'
          maxLength: 32000
          type:
          - string
          - 'null'
          x-internal: false
        custom68:
          description: '


            The value of the prospect’s 68th custom field.'
          maxLength: 32000
          type:
          - string
          - 'null'
          x-internal: false
        custom69:
          description: '


            The value of the prospect’s 69th custom field.'
          maxLength: 32000
          type:
          - string
          - 'null'
          x-internal: false
        custom70:
          description: '


            The value of the prospect’s 70th custom field.'
          maxLength: 32000
          type:
          - string
          - 'null'
          x-internal: false
        custom71:
          description: '


            The value of the prospect’s 71st custom field.'
          maxLength: 32000
          type:
          - string
          - 'null'
          x-internal: false
        custom72:
          description: '


            The value of the prospect’s 72nd custom field.'
          maxLength: 32000
          type:
          - string
          - 'null'
          x-internal: false
        custom73:
          description: '


            The value of the prospect’s 73rd custom field.'
          maxLength: 32000
          type:
          - string
          - 'null'
          x-internal: false
        custom74:
          description: '


            The value of the prospect’s 74th custom field.'
          maxLength: 32000
          type:
          - string
          - 'null'
          x-internal: false
        custom75:
          description: '


            The value of the prospect’s 75th custom field.'
          maxLength: 32000
          type:
          - string
          - 'null'
          x-internal: false
        custom76:
          description: '


            The value of the prospect’s 76th custom field.'
          maxLength: 32000
          type:
          - string
          - 'null'
          x-internal: false
        custom77:
          description: '


            The value of the prospect’s 77th custom field.'
          maxLength: 32000
          type:
          - string
          - 'null'
          x-internal: false
        custom78:
          description: '


            The value of the prospect’s 78th custom field.'
          maxLength: 32000
          type:
          - string
          - 'null'
          x-internal: false
        custom79:
          description: '


            The value of the prospect’s 79th custom field.'
          maxLength: 32000
          type:
          - string
          - 'null'
          x-internal: false
        custom80:
          description: '


            The value of the prospect’s 80th custom field.'
          maxLength: 32000
          type:
          - string
          - 'null'
          x-internal: false
        custom81:
          description: '


            The value of the prospect’s 81st custom field.'
          maxLength: 32000
          type:
          - string
          - 'null'
          x-internal: false
        custom82:
          description: '


            The value of the prospect’s 82nd custom field.'
          maxLength: 32000
          type:
          - string
          - 'null'
          x-internal: false
        custom83:
          description: '


            The value of the prospect’s 83rd custom field.'
          maxLength: 32000
          type:
          - string
          - 'null'
          x-internal: false
        custom84:
          description: '


            The value of the prospect’s 84th custom field.'
          maxLength: 32000
          type:
          - string
          - 'null'
          x-internal: false
        custom85:
          description: '


            The value of the prospect’s 85th custom field.'
          maxLength: 32000
          type:
          - string
          - 'null'
          x-internal: false
        custom86:
          description: '


            The value of the prospect’s 86th custom field.'
          maxLength: 32000
          type:
          - string
          - 'null'
          x-internal: false
        custom87:
          description: '


            The value of the prospect’s 87th custom field.'
          maxLength: 32000
          type:
          - string
          - 'null'
          x-internal: false
        custom88:
          description: '


            The value of the prospect’s 88th custom field.'
          maxLength: 32000
          type:
          - string
          - 'null'
          x-internal: false
        custom89:
          description: '


            The value of the prospect’s 89th custom field.'
          maxLength: 32000
          type:
          - string
          - 'null'
          x-internal: false
        custom90:
          description: '


            The value of the prospect’s 90th custom field.'
          maxLength: 32000
          type:
          - string
          - 'null'
          x-internal: false
        custom91:
          description: '


            The value of the prospect’s 91st custom field.'
          maxLength: 32000
          type:
          - string
          - 'null'
          x-internal: false
        custom92:
          description: '


            The value of the prospect’s 92nd custom field.'
          maxLength: 32000
          type:
          - string
          - 'null'
          x-internal: false
        custom93:
          description: '


            The value of the prospect’s 93rd custom field.'
          maxLength: 32000
          type:
          - string
          - 'null'
          x-internal: false
        custom94:
          description: '


            The value of the prospect’s 94th custom field.'
          maxLength: 32000
          type:
          - string
          - 'null'
          x-internal: false
        custom95:
          description: '


            The value of the prospect’s 95th custom field.'
          maxLength: 32000
          type:
          - string
          - 'null'
          x-internal: false
        custom96:
          description: '


            The value of the prospect’s 96th custom field.'
          maxLength: 32000
          type:
          - string
          - 'null'
          x-internal: false
        custom97:
          description: '


            The value of the prospect’s 97th custom field.'
          maxLength: 32000
          type:
          - string
          - 'null'
          x-internal: false
        custom98:
          description: '


            The value of the prospect’s 98th custom field.'
          maxLength: 32000
          type:
          - string
          - 'null'
          x-internal: false
        custom99:
          description: '


            The value of the prospect’s 99th custom field.'
          maxLength: 32000
          type:
          - string
          - 'null'
          x-internal: false
        custom100:
          description: '


            The value of the prospect’s 100th custom field.'
          maxLength: 32000
          type:
          - string
          - 'null'
          x-internal: false
        custom101:
          description: '


            The value of the prospect’s 101st custom field.'
          maxLength: 32000
          type:
          - string
          - 'null'
          x-internal: false
        custom102:
          description: '


            The value of the prospect’s 102nd custom field.'
          maxLength: 32000
          type:
          - string
          - 'null'
          x-internal: false
        custom103:
          description: '


            The value of the prospect’s 103rd custom field.'
          maxLength: 32000
          type:
          - string
          - 'null'
          x-internal: false
        custom104:
          description: '


            The value of the prospect’s 104th custom field.'
          maxLength: 32000
          type:
          - string
          - 'null'
          x-internal: false
        custom105:
          description: '


            The value of the prospect’s 105th custom field.'
          maxLength: 32000
          type:
          - string
          - 'null'
          x-internal: false
        custom106:
          description: '


            The value of the prospect’s 106th custom field.'
          maxLength: 32000
          type:
          - string
          - 'null'
          x-internal: false
        custom107:
          description: '


            The value of the prospect’s 107th custom field.'
          maxLength: 32000
          type:
          - string
          - 'null'
          x-internal: false
        custom108:
          description: '


            The value of the prospect’s 108th custom field.'
          maxLength: 32000
          type:
          - string
          - 'null'
          x-internal: false
        custom109:
          description: '


            The value of the prospect’s 109th custom field.'
          maxLength: 32000
          type:
          - string
          - 'null'
          x-internal: false
        custom110:
          description: '


            The value of the prospect’s 110th custom field.'
          maxLength: 32000
          type:
          - string
          - 'null'
          x-internal: false
        custom111:
          description: '


            The value of the prospect’s 111th custom field.'
          maxLength: 32000
          type:
          - string
          - 'null'
          x-internal: false
        custom112:
          description: '


            The value of the prospect’s 112th custom field.'
          maxLength: 32000
          type:
          - string
          - 'null'
          x-internal: false
        custom113:
          description: '


            The value of the prospect’s 113th custom field.'
          maxLength: 32000
          type:
          - string
          - 'null'
          x-internal: false
        custom114:
          description: '


            The value of the prospect’s 114th custom field.'
          maxLength: 32000
          type:
          - string
          - 'null'
          x-internal: false
        custom115:
          description: '


            The value of the prospect’s 115th custom field.'
          maxLength: 32000
          type:
          - string
          - 'null'
          x-internal: false
        custom116:
          description: '


            The value of the prospect’s 116th custom field.'
          maxLength: 32000
          type:
          - string
          - 'null'
          x-internal: false
        custom117:
          description: '


            The value of the prospect’s 117th custom field.'
          maxLength: 32000
          type:
          - string
          - 'null'
          x-internal: false
        custom118:
          description: '


            The value of the prospect’s 118th custom field.'
          maxLength: 32000
          type:
          - string
          - 'null'
          x-internal: false
        custom119:
          description: '


            The value of the prospect’s 119th custom field.'
          maxLength: 32000
          type:
          - string
          - 'null'
          x-internal: false
        custom120:
          description: '


            The value of the prospect’s 120th custom field.'
          maxLength: 32000
          type:
          - string
          - 'null'
          x-internal: false
        custom121:
          description: '


            The value of the prospect’s 121st custom field.'
          maxLength: 32000
          type:
          - string
          - 'null'
          x-internal: false
        custom122:
          description: '


            The value of the prospect’s 122nd custom field.'
          maxLength: 32000
          type:
          - string
          - 'null'
          x-internal: false
        custom123:
          description: '


            The value of the prospect’s 123rd custom field.'
          maxLength: 32000
          type:
          - string
          - 'null'
          x-internal: false
        custom124:
          description: '


            The value of the prospect’s 124th custom field.'
          maxLength: 32000
          type:
          - string
          - 'null'
          x-internal: false
        custom125:
          description: '


            The value of the prospect’s 125th custom field.'
          maxLength: 32000
          type:
          - string
          - 'null'
          x-internal: false
        custom126:
          description: '


            The value of the prospect’s 126th custom field.'
          maxLength: 32000
          type:
          - string
          - 'null'
          x-internal: false
        custom127:
          description: '


            The value of the prospect’s 127th custom field.'
          maxLength: 32000
          type:
          - string
          - 'null'
          x-internal: false
        custom128:
          description: '


            The value of the prospect’s 128th custom field.'
          maxLength: 32000
          type:
          - string
          - 'null'
          x-internal: false
        custom129:
          description: '


            The value of the prospect’s 129th custom field.'
          maxLength: 32000
          type:
          - string
          - 'null'
          x-internal: false
        custom130:
          description: '


            The value of the prospect’s 130th custom field.'
          maxLength: 32000
          type:
          - string
          - 'null'
          x-internal: false
        custom131:
          description: '


            The value of the prospect’s 131st custom field.'
          maxLength: 32000
          type:
          - string
          - 'null'
          x-internal: false
        custom132:
          description: '


            The value of the prospect’s 132nd custom field.'
          maxLength: 32000
          type:
          - string
          - 'null'
          x-internal: false
        custom133:
          description: '


            The value of the prospect’s 133rd custom field.'
          maxLength: 32000
          type:
          - string
          - 'null'
          x-internal: false
        custom134:
          description: '


            The value of the prospect’s 134th custom field.'
          maxLength: 32000
          type:
          - string
          - 'null'
          x-internal: false
        custom135:
          description: '


            The value of the prospect’s 135th custom field.'
          maxLength: 32000
          type:
          - string
          - 'null'
          x-internal: false
        custom136:
          description: '


            The value of the prospect’s 136th custom field.'
          maxLength: 32000
          type:
          - string
          - 'null'
          x-internal: false
        custom137:
          description: '


            The value of the prospect’s 137th custom field.'
          maxLength: 32000
          type:
          - string
          - 'null'
          x-internal: false
        custom138:
          description: '


            The value of the prospect’s 138th custom field.'
          maxLength: 32000
          type:
          - string
          - 'null'
          x-internal: false
        custom139:
          description: '


            The value of the prospect’s 139th custom field.'
          maxLength: 32000
          type:
          - string
          - 'null'
          x-internal: false
        custom140:
          description: '


            The value of the prospect’s 140th custom field.'
          maxLength: 32000
          type:
          - string
          - 'null'
          x-internal: false
        custom141:
          description: '


            The value of the prospect’s 141st custom field.'
          maxLength: 32000
          type:
          - string
          - 'null'
          x-internal: false
        custom142:
          description: '


            The value of the prospect’s 142nd custom field.'
          maxLength: 32000
          type:
          - string
          - 'null'
          x-internal: false
        custom143:
          description: '


            The value of the prospect’s 143rd custom field.'
          maxLength: 32000
          type:
          - string
          - 'null'
          x-internal: false
        custom144:
          description: '


            The value of the prospect’s 144th custom field.'
          maxLength: 32000
          type:
          - string
          - 'null'
          x-internal: false
        custom145:
          description: '


            The value of the prospect’s 145th custom field.'
          maxLength: 32000
          type:
          - string
          - 'null'
          x-internal: false
        custom146:
          description: '


            The value of the prospect’s 146th custom field.'
          maxLength: 32000
          type:
          - string
          - 'null'
          x-internal: false
        custom147:
          description: '


            The value of the prospect’s 147th custom field.'
          maxLength: 32000
          type:
          - string
          - 'null'
          x-internal: false
        custom148:
          description: '


            The value of the prospect’s 148th custom field.'
          maxLength: 32000
          type:
          - string
          - 'null'
          x-internal: false
        custom149:
          description: '


            The value of the prospect’s 149th custom field.'
          maxLength: 32000
          type:
          - string
          - 'null'
          x-internal: false
        custom150:
          description: '


            The value of the prospect’s 150th custom field.'
          maxLength: 32000
          type:
          - string
          - 'null'
          x-internal: false
        dateOfBirth:
          description: '


            The date the prospect was born.'
          format: date
          type:
          - string
          - 'null'
          x-internal: false
        degree:
          description: '


            The degree(s) the prospect has received.'
          maxLength: 255
          type:
          - string
          - 'null'
          x-internal: false
        emailOptedOut:
          description: '


            Whether the prospect is opted out of email, or opted out in general if granular opt-out is not enabled.'
          type:
          - boolean
          - 'null'
          x-internal: false
        emails:
          description: '<img src=https://developers.outreach.io/badges/filterable.svg>


            A list of email addresses associated with the prospect.'
          items:
            format: email
            type: string
          type:
          - array
          - 'null'
          x-internal: false
        emailsOptStatus:
          description: '


            A string ("opted_in", "opted_out", "null") that represents whether a prospect has opted into or out of emails.'
          maxLength: 255
          type:
          - string
          - 'null'
          x-internal: false
        emailsOptedAt:
          description: '<img src=https://developers.outreach.io/badges/readonly.svg>


            The date and time the prospect opted in/out of emails.'
          format: date-time
          type:
          - string
          - 'null'
          x-internal: false
        engagedAt:
          description: '<img src=https://developers.outreach.io/badges/readonly.svg> <img src=https://developers.outreach.io/badges/filterable.svg> <img src=https://developers.outreach.io/badges/sortable.svg>


            The date and time the prospect last engaged.'
          format: date-time
          type:
          - string
          - 'null'
          x-internal: false
        engagedScore:
          description: '<img src=https://developers.outreach.io/badges/readonly.svg> <img src=https://developers.outreach.io/badges/filterable.svg> <img src=https://developers.outreach.io/badges/sortable.svg>


            A number representing the quality of the lead, based on the number of the prospect’s opens, clicks and mailing replies.'
          format: float
          type:
          - number
          - 'null'
          x-internal: false
        eventName:
          description: '


            The name of the event the prospect was met at.'
          maxLength: 255
          type:
          - string
          - 'null'
          x-internal: false
        externalId:
          description: '


            A custom ID for the prospect, often referencing an ID in an external system.'
          maxLength: 255
          type:
          - string
          - 'null'
          x-internal: false
        externalOwner:
          description: '


            A custom owner for the prospect, often referencing an ownering in an external system.'
          maxLength: 255
          type:
          - string
          - 'null'
          x-internal: false
        externalSource:
          description: '<img src=https://developers.outreach.io/badges/filterable.svg> <img src=https://developers.outreach.io/badges/sortable.svg>


            The source of the resource’s creation (e.g. "outreach-api").'
          maxLength: 255
          type:
          - string
          - 'null'
          x-internal: false
        facebookUrl:
          description: '


            The prospect’s Facebook URL.'
          maxLength: 255
          type:
          - string
          - 'null'
          x-internal: false
        firstName:
          description: '<img src=https://developers.outreach.io/badges/filterable.svg> <img src=https://developers.outreach.io/badges/sortable.svg>


            The first name of the prospect.'
          maxLength: 255
          type:
          - string
          - 'null'
          x-internal: false
        gender:
          description: '


            The gender of the prospect.'
          maxLength: 255
          type:
          - string
          - 'null'
          x-internal: false
        githubUrl:
          description: '


            The prospect’s GitHub URL.'
          maxLength: 1000
          type:
          - string
          - 'null'
          x-internal: false
        githubUsername:
          description: '<img src=https://developers.outreach.io/badges/filterable.svg> <img src=https://developers.outreach.io/badges/sortable.svg>


            The prospect’s GitHub username.'
          maxLength: 255
          type:
          - string
          - 'null'
          x-internal: false
        googlePlusUrl:
          description: '


            The prospect’s Google+ URL.'
          maxLength: 255
          type:
          - string
          - 'null'
          x-internal: false
        graduationDate:
          description: '


            The graduation date of the prospect.'
          format: date
          type:
          - string
          - 'null'
          x-internal: false
        homePhones:
          description: '


            A list of home phone numbers associated with the prospect.'
          items:
            type: string
          type:
          - array
          - 'null'
          x-internal: false
        jobStartDate:
          description: '


            The starting date of the prospect’s current job.'
          format: date
          type:
          - string
          - 'null'
          x-internal: false
        lastName:
          description: '<img src=https://developers.outreach.io/badges/filterable.svg> <img src=https://developers.outreach.io/badges/sortable.svg>


            The last name of the prospect.'
          maxLength: 255
          type:
          - string
          - 'null'
          x-internal: false
        linkedInConnections:
          description: '


            The number of connections on the prospect’s LinkedIn profile.'
          type:
          - integer
          - 'null'
          x-internal: false
        linkedInId:
          description: '<img src=https://developers.outreach.io/badges/filterable.svg> <img src=https://developers.outreach.io/badges/sortable.svg>


            The prospect’s LinkedIn ID.'
          maxLength: 255
          type:
          - string
          - 'null'
          x-internal: false
        linkedInSlug:
          description: '<img src=https://developers.outreach.io/badges/readonly.svg> <img src=https://developers.outreach.io/badges/filterable.svg> <img src=https://developers.outreach.io/badges/sortable.svg>


            The prospect’s LinkedIn slug.'
          maxLength: 255
          type:
          - string
          - 'null'
          x-internal: false
        linkedInUrl:
          description: '


            The prospect’s LinkedIn URL.'
          maxLength: 1000
          type:
          - string
          - 'null'
          x-internal: false
        middleName:
          description: '


            The middle name of the prospect.'
          maxLength: 255
          type:
          - string
          - 'null'
          x-internal: false
        mobilePhones:
          description: '


            A list of mobile phone numbers associated with the prospect.'
          items:
            type: string
          type:
          - array
          - 'null'
          x-internal: false
        name:
          description: '<img src=https://developers.outreach.io/badges/readonly.svg>


            The full name of the prospect.'
          type:
          - string
          - 'null'
          x-internal: false
        nickname:
          description: '


            The nickname of the prospect.'
          maxLength: 255
          type:
          - string
          - 'null'
          x-internal: false
        occupation:
          description: '


            The occupation of the prospect (e.g. "Purchasing Manager").'
          maxLength: 255
          type:
          - string
          - 'null'
          x-internal: false
        openCount:
          description: '<img src=https://developers.outreach.io/badges/readonly.svg>


            The number of opens the prospect has made since the last touch point.'
          type:
          - integer
          - 'null'
          x-internal: false
        optedOut:
          description: '


            A boolean value representing whether this prospect is currently opted out of all mailings. Set this value to true to opt out the prospect; the ''opted_out'' timestamp will be updated to the time of the request. Set this value to false to revert the opt at and clear the opted out timestamp.'
          type:
          - boolean
          - 'null'
          x-internal: false
        optedOutAt:
          description: '<img src=https://developers.outreach.io/badges/readonly.svg>


            The date and time the prospect opted out of emails.'
          format: date-time
          type:
          - string
          - 'null'
          x-internal: false
        otherPhones:
          description: '


            A list of other phone numbers associated with the prospect.'
          items:
            type: string
          type:
          - array
          - 'null'
          x-internal: false
        personalNote1:
          description: '


            A custom note field related to the prospect.'
          maxLength: 65535
          type:
          - string
          - 'null'
          x-internal: false
        personalNote2:
          description: '


            A second note field related to the prospect.'
          maxLength: 65535
          type:
          - string
          - 'null'
          x-internal: false
        preferredContact:
          description: '


            The preferred contact method for the prospect.'
          maxLength: 255
          type:
          - string
          - 'null'
          x-internal: false
        quoraUrl:
          description: '


            The prospect’s Quora URL.'
          maxLength: 255
          type:
          - string
          - 'null'
          x-internal: false
        region:
          description: '


            The primary geographic region of the prospect.'
          maxLength: 255
          type:
          - string
          - 'null'
          x-internal: false
        replyCount:
          description: '<img src=https://developers.outreach.io/badges/readonly.svg>


            The number of replies the prospect has made since the last touch point.'
          type:
          - integer
          - 'null'
          x-internal: false
        school:
          description: '


            The school(s) the prospect has attended.'
          maxLength: 255
          type:
          - string
          - 'null'
          x-internal: false
        score:
          description: '


            A custom score given to measure the quality of the lead.'
          format: float
          type:
          - number
          - 'null'
          x-internal: false
        sharingTeamId:
          description: '<img src=https://developers.outreach.io/badges/filterable.svg>


            The ID of the sharing team associated with this object. Access is currently in beta.'
          maxLength: 255
          type:
          - string
          - 'null'
          x-internal: false
        source:
          description: '


            A custom source representing where the lead was first acquired.'
          maxLength: 255
          type:
          - string
          - 'null'
          x-internal: false
        specialties:
          description: '


            A description of the prospect’s specialties.'
          maxLength: 65535
          type:
          - string
          - 'null'
          x-internal: false
        stackOverflowId:
          description: '<img src=https://developers.outreach.io/badges/filterable.svg> <img src=https://developers.outreach.io/badges/sortable.svg>


            The prospect’s StackOverflow ID.'
          maxLength: 255
          type:
          - string
          - 'null'
          x-internal: false
        stackOverflowUrl:
          description: '


            The prospect’s StackOverflow URL.'
          maxLength: 1000
          type:
          - string
          - 'null'
          x-internal: false
        tags:
          description: '


            A list of tag values associated with the account (e.g. ["Interested", "2017 Expo"]).'
          items:
            type: string
          type:
          - array
          - 'null'
          x-internal: false
        timeZone:
          description: '<img src=https://developers.outreach.io/badges/filterable.svg>


            The prospect’s current timezone, preferably in the IANA format (e.g. "America/LosAngeles").'
          maxLength: 255
          type:
          - string
          - 'null'
          x-internal: false
        timeZoneIana:
          description: '<img src=https://developers.outreach.io/badges/readonly.svg>


            The prospect’s current IANA timezone, if available.'
          type:
          - string
          - 'null'
          x-internal: false
        timeZoneInferred:
          description: '<img src=https://developers.outreach.io/badges/readonly.svg>


            The prospect’s current inferred IANA timezone, if available.'
          maxLength: 255
          type:
          - string
          - 'null'
          x-internal: false
        title:
          description: '<img src=https://developers.outreach.io/badges/filterable.svg> <img src=https://developers.outreach.io/badges/sortable.svg>


            The title of the prospect.'
          maxLength: 255
          type:
          - string
          - 'null'
          x-internal: false
        touchedAt:
          description: '<img src=https://developers.outreach.io/badges/readonly.svg> <img src=https://developers.outreach.io/badges/filterable.svg> <img src=https://developers.outreach.io/badges/sortable.svg>


            The date and time the prospect was last touched.'
          format: date-time
          type:
          - string
          - 'null'
          x-internal: false
        trashedAt:
          description: '


            The date a prospect was soft deleted.'
          format: date-time
          type:
          - string
          - 'null'
          x-internal: false
        twitterUrl:
          description: '


            The prospect’s Twitter URL.'
          maxLength: 1000
          type:
          - string
          - 'null'
          x-internal: false
        twitterUsername:
          description: '<img src=https://developers.outreach.io/badges/filterable.svg> <img src=https://developers.outreach.io/badges/sortable.svg>


            The prospect’s Twitter username.'
          maxLength: 255
          type:
          - string
          - 'null'
          x-internal: false
        updatedAt:
          description: '<img src=https://developers.outreach.io/badges/readonly.svg> <img src=https://developers.outreach.io/badges/filterable.svg> <img src=https://developers.outreach.io/badges/sortable.svg>


            The date and time the prospect was last updated.'
          format: date-time
          type:
          - string
          - 'null'
          x-internal: false
        voipPhones:
          description: '


            A list of voip phone numbers associated with the prospect.'
          items:
            type: string
          type:
          - array
          - 'null'
          x-internal: false
        websiteUrl1:
          description: '


            The URL of the prospect’s website.'
          maxLength: 65535
          type:
          - string
          - 'null'
          x-internal: false
        websiteUrl2:
          description: '


            The value of the prospect’s second website URL field.'
          maxLength: 65535
          type:
          - string
          - 'null'
          x-internal: false
        websiteUrl3:
          description: '


            The value of the prospect’s third website URL field.'
          maxLength: 65535
          type:
          - string
          - 'null'
          x-internal: false
        workPhones:
          description: '


            A list of work phone numbers associated with the prospect.'
          items:
            type: string
          type:
          - array
          - 'null'
          x-internal: false
      type: object
      x-internal: false
  securitySchemes:
    bearerAuth:
      bearerFormat: JWT
      scheme: bearer
      type: http
    s2sAuthToken:
      bearerFormat: JWT
      scheme: bearer
      type: http
