openapi: 3.2.0
info:
  description: "Outreach Public API is documented here, at the Development Portal, expand the link [Outreach REST API Reference](https://developers.outreach.io/api/reference/overview/) in the left navigation bar to see human-readable description of endpoints and data types.\n\nHowever, if you would like to get machine-readable schema definition there are two other options available:\n\n* [https://api.outreach.io/api/v2/schema.json](https://api.outreach.io/api/v2/schema.json) contains the API definition in  the [json-schema format](https://json-schema.org/) and if you provide `Authorization` header with valid token (same as actual API call) all the custom objects defined for the organization will be included as well.\n\n* [https://api.outreach.io/api/v2/schema/openapi.json](https://api.outreach.io/api/v2/schema/openapi.json) contains the API definition in the [OpenAPI / Swagger format](https://swagger.io/specification/). Unfortunately custom objects are not included in this file.\n\nAdditionally to these standard definitions Outreach provides detailed list of validations applied to custom fields. Custom objects will be included later, the work is in progress.\n\n* [https://api.outreach.io/api/v2/types](https://api.outreach.io/api/v2/types) endpoint returns a list of all `customXXX` fields on standard objects with their type, label, options or other constraints defined by the administrator. This endpoint requires valid token in the `Authorization` header. The format of the definitions is described below.\n\n### Custom field types\n\n```json\n{\n  \"data\": [\n    {\n      \"type\": \"<object_name>\",\n      \"meta\": {\n        \"validations\": {\n          \"<field_name>\": {\n            \"type\": \"<validation_type>\",\n            \"required\": true / false,\n            \"label\": \"...\",\n            \"definition\": null / [\"...\", ...] / \"...\"\n          },\n          ...\n          }\n        }\n      }\n    },\n    ...\n  ]\n}\n```\n\n#### Objects with custom fields\n\n* Account\n* Opportunity\n* OpportunityLineItem\n* OpportunityProspectRole\n* Product\n* Prospect\n* Purchase\n\n#### Validation types\n\n* `boolean` - true or false\n* `currency` - monetary value, `definition` contains an abbreviation of the currency like `\"USD\"` or `\"EUR\"`\n* `date` - a date stored in ISO8601 format: YYYY-MM-DD.\n* `date_time` a date and time stored as YYYY-MM-DDThh:mm:ss.\n* `inclusion` - a pick list with predefined set of options available in `definition` attribute as a list of strings\n* multi_inclusion - a pick list with several options selectable at once with predefined set of options available in `definition` attribute as a list of strings\n* `numerical`\n* `percentage`\n* `phone_number`\n* `string`\n* `url`\n"
  title: Outreach REST API Reference Sequence Template API
  version: ''
servers:
- url: https://api.outreach.io/api/v2
security:
- bearerAuth: []
tags:
- description: '<SchemaDefinition schemaRef="#/components/schemas/sequenceTemplate" />


    ## Sequence Template Relationships


    <SchemaDefinition schemaRef="#/components/schemas/sequenceTemplateRelationships" />


    ## Sequence Template Resource Metadata


    | **METADATA NAME**| **DESCRIPTION** | **QUERY PARAM** |

    | --- | --- | --- |

    |  canWrite | A boolean value indicating whether the current API user has write access to this resource. | provideAuthorizationMeta |

    |  canDelete | A boolean value indicating whether the current API user has delete access to this resource. | provideAuthorizationMeta |



    ## ⌵ Sequence Template Actions


    '
  name: Sequence Template
  x-internal: false
paths:
  /sequenceTemplates:
    get:
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                properties:
                  data:
                    items:
                      $ref: '#/components/schemas/sequenceTemplateResponse'
                    type: array
          description: OK
        '422':
          content:
            application/vnd.api+json:
              schema:
                properties:
                  errors:
                    items:
                      properties:
                        detail:
                          type: string
                        id:
                          type: string
                        title:
                          type: string
                      type: object
                    type: array
          description: JSON error message
      summary: Get a Collection of Sequence Templates
      tags:
      - Sequence Template
      x-internal: false
    post:
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              properties:
                data:
                  properties:
                    attributes:
                      $ref: '#/components/schemas/sequenceTemplate'
                    relationships:
                      $ref: '#/components/schemas/sequenceTemplateRelationships'
                    type:
                      type: string
              type: object
        required: true
      responses:
        '201':
          content:
            application/vnd.api+json:
              schema:
                properties:
                  data:
                    $ref: '#/components/schemas/sequenceTemplateResponse'
          description: Created
        '422':
          content:
            application/vnd.api+json:
              schema:
                properties:
                  errors:
                    items:
                      properties:
                        detail:
                          type: string
                        id:
                          type: string
                        title:
                          type: string
                      type: object
                    type: array
          description: JSON error message
      summary: Create a New Sequence Template
      tags:
      - Sequence Template
      x-internal: false
  /sequenceTemplates/{id}:
    delete:
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: integer
      responses:
        '204':
          content:
            application/vnd.api+json: {}
          description: Deleted
        '422':
          content:
            application/vnd.api+json:
              schema:
                properties:
                  errors:
                    items:
                      properties:
                        detail:
                          type: string
                        id:
                          type: string
                        title:
                          type: string
                      type: object
                    type: array
          description: JSON error message
      summary: Delete an Existing Sequence Template by ID
      tags:
      - Sequence Template
      x-internal: false
    get:
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: integer
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                properties:
                  data:
                    $ref: '#/components/schemas/sequenceTemplateResponse'
          description: OK
        '404':
          content:
            application/vnd.api+json:
              schema:
                properties:
                  errors:
                    items:
                      properties:
                        detail:
                          type: string
                        id:
                          type: string
                        title:
                          type: string
                      type: object
                    type: array
          description: Not Found
      summary: Get a Sequence Template by ID
      tags:
      - Sequence Template
      x-internal: false
    patch:
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: integer
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              properties:
                data:
                  properties:
                    attributes:
                      $ref: '#/components/schemas/sequenceTemplate'
                    id:
                      type: integer
                    relationships:
                      $ref: '#/components/schemas/sequenceTemplateRelationships'
                    type:
                      type: string
                  required:
                  - type
                  - id
              type: object
        required: true
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                properties:
                  data:
                    properties:
                      attributes:
                        $ref: '#/components/schemas/sequenceTemplate'
                      id:
                        type: integer
                      relationships:
                        $ref: '#/components/schemas/sequenceTemplateRelationships'
                      type:
                        type: string
                    required:
                    - type
                    - id
                type: object
          description: OK
        '422':
          content:
            application/vnd.api+json:
              schema:
                properties:
                  errors:
                    items:
                      properties:
                        detail:
                          type: string
                        id:
                          type: string
                        title:
                          type: string
                      type: object
                    type: array
          description: JSON error message
      summary: Update a Sequence Template
      tags:
      - Sequence Template
      x-internal: false
  /sequenceTemplates/{id}/actions/activate:
    post:
      description: "### Member Action \n\nEnable the sequence step associated with it."
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: integer
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                properties:
                  data:
                    $ref: '#/components/schemas/sequenceTemplateResponse'
          description: OK
        '422':
          content:
            application/vnd.api+json:
              schema:
                properties:
                  errors:
                    items:
                      properties:
                        detail:
                          type: string
                        id:
                          type: string
                        title:
                          type: string
                      type: object
                    type: array
          description: JSON error message
      summary: Activate
      tags:
      - Sequence Template
      x-internal: false
  /sequenceTemplates/{id}/actions/deactivate:
    post:
      description: "### Member Action \n\nDisable the sequence step associated with it."
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: integer
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                properties:
                  data:
                    $ref: '#/components/schemas/sequenceTemplateResponse'
          description: OK
        '422':
          content:
            application/vnd.api+json:
              schema:
                properties:
                  errors:
                    items:
                      properties:
                        detail:
                          type: string
                        id:
                          type: string
                        title:
                          type: string
                      type: object
                    type: array
          description: JSON error message
      summary: Deactivate
      tags:
      - Sequence Template
      x-internal: false
components:
  schemas:
    sequenceTemplate:
      description: 'An object used to track which templates are in use by which sequence steps.

        '
      properties:
        bounceCount:
          description: '<img src=https://developers.outreach.io/badges/readonly.svg>


            The total count of bounced mailings during this sequence template.'
          type:
          - integer
          - 'null'
          x-internal: false
        clickCount:
          description: '<img src=https://developers.outreach.io/badges/readonly.svg>


            The total count of clicked mailings from this sequence template.'
          type:
          - integer
          - 'null'
          x-internal: false
        createdAt:
          description: '<img src=https://developers.outreach.io/badges/readonly.svg>


            The date and time the sequence template was created.'
          format: date-time
          type:
          - string
          - 'null'
          x-internal: false
        deliverCount:
          description: '<img src=https://developers.outreach.io/badges/readonly.svg>


            The total count of delivered mailings from this sequence template.'
          type:
          - integer
          - 'null'
          x-internal: false
        enabled:
          description: '<img src=https://developers.outreach.io/badges/readonly.svg>


            Boolean indicating if the sequence template is currently enabled.'
          type:
          - boolean
          - 'null'
          x-internal: false
        enabledAt:
          description: '<img src=https://developers.outreach.io/badges/readonly.svg>


            Datetime for when the sequence template was enabled.'
          format: date-time
          type:
          - string
          - 'null'
          x-internal: false
        failureCount:
          description: '<img src=https://developers.outreach.io/badges/readonly.svg>


            The total count of failed mailings from this sequence template.'
          type:
          - integer
          - 'null'
          x-internal: false
        isReply:
          description: '


            Boolean indicating if the sequence template should be a reply email or a new thread.'
          type:
          - boolean
          - 'null'
          x-internal: false
        negativeReplyCount:
          description: '<img src=https://developers.outreach.io/badges/readonly.svg>


            The total count of negative reply mailings from this sequence template.'
          type:
          - integer
          - 'null'
          x-internal: false
        neutralReplyCount:
          description: '<img src=https://developers.outreach.io/badges/readonly.svg>


            The total count of neutral reply mailings from this sequence template.'
          type:
          - integer
          - 'null'
          x-internal: false
        openCount:
          description: '<img src=https://developers.outreach.io/badges/readonly.svg>


            The total count of opened mailings from this sequence template.'
          type:
          - integer
          - 'null'
          x-internal: false
        optOutCount:
          description: '<img src=https://developers.outreach.io/badges/readonly.svg>


            The total count of opted out mailings from this sequence template.'
          type:
          - integer
          - 'null'
          x-internal: false
        positiveReplyCount:
          description: '<img src=https://developers.outreach.io/badges/readonly.svg>


            The total count of positive reply mailings from this sequence template.'
          type:
          - integer
          - 'null'
          x-internal: false
        replyCount:
          description: '<img src=https://developers.outreach.io/badges/readonly.svg>


            The total count of replied mailings from this sequence template.'
          type:
          - integer
          - 'null'
          x-internal: false
        scheduleCount:
          description: '<img src=https://developers.outreach.io/badges/readonly.svg>


            The total count of scheduled mailings from this sequence template.'
          type:
          - integer
          - 'null'
          x-internal: false
        updatedAt:
          description: '<img src=https://developers.outreach.io/badges/readonly.svg>


            The date and time the sequence template was last updated.'
          format: date-time
          type:
          - string
          - 'null'
          x-internal: false
      type: object
      x-internal: false
    sequenceTemplateRelationships:
      properties:
        creator:
          description: '<img src=https://developers.outreach.io/badges/readonly.svg>


            User that created the sequence template. You can use only the attribute id to filter sequenceTemplates by creator (e.g. filter[creator][id]=X).'
          properties:
            data:
              properties:
                id:
                  type: integer
                type:
                  enum:
                  - user
                  type: string
              type:
              - object
              - 'null'
            links:
              properties:
                related:
                  format: uri
                  type: string
              type: object
        sequenceStep:
          description: The sequence step that uses the sequence template. You can use any filterable attribute of sequenceStep.
          properties:
            data:
              properties:
                id:
                  type: integer
                type:
                  enum:
                  - sequenceStep
                  type: string
              type:
              - object
              - 'null'
            links:
              properties:
                related:
                  format: uri
                  type: string
              type: object
        template:
          description: The template used for this sequence template. You can use only the attribute id to filter sequenceTemplates by template (e.g. filter[template][id]=X).
          properties:
            data:
              properties:
                id:
                  type: integer
                type:
                  enum:
                  - template
                  type: string
              type:
              - object
              - 'null'
            links:
              properties:
                related:
                  format: uri
                  type: string
              type: object
        updater:
          description: '<img src=https://developers.outreach.io/badges/readonly.svg>


            User that last updated the sequence template. You can use only the attribute id to filter sequenceTemplates by updater (e.g. filter[updater][id]=X).'
          properties:
            data:
              properties:
                id:
                  type: integer
                type:
                  enum:
                  - user
                  type: string
              type:
              - object
              - 'null'
            links:
              properties:
                related:
                  format: uri
                  type: string
              type: object
      type: object
    sequenceTemplateResponse:
      properties:
        attributes:
          $ref: '#/components/schemas/sequenceTemplate'
        id:
          type: integer
        relationships:
          $ref: '#/components/schemas/sequenceTemplateRelationships'
        type:
          type: string
      type: object
      x-internal: false
  securitySchemes:
    bearerAuth:
      bearerFormat: JWT
      scheme: bearer
      type: http
    s2sAuthToken:
      bearerFormat: JWT
      scheme: bearer
      type: http
