openapi: 3.2.0
info:
  description: Outreach Public API is documented here, at the Development Portal, expand the link Outreach REST API Reference in the left navigation bar to see human-readable description of endpoints and data types.
  title: Outreach REST API Reference Org Setting API
  version: ''
servers:
- url: https://api.outreach.io/api/v2
security:
- bearerAuth: []
tags:
- description: '## ⌵ Org Setting Actions'
  name: Org Setting
  x-internal: false
paths:
  /orgSettings/{id}:
    get:
      parameters:
      - in: path
        name: id
        required: true
        schema:
          description: As a UUID
          type: string
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                properties:
                  data:
                    $ref: '#/components/schemas/orgSettingResponse'
          description: OK
        '404':
          content:
            application/vnd.api+json:
              schema:
                properties:
                  errors:
                    items:
                      properties:
                        detail:
                          type: string
                        id:
                          type: string
                        title:
                          type: string
                      type: object
                    type: array
          description: Not Found
      summary: Get an Org Setting by ID
      tags:
      - Org Setting
      x-internal: false
      operationId: getOrgSettingsById
      x-operation-id-source: derived
    patch:
      parameters:
      - in: path
        name: id
        required: true
        schema:
          description: As a UUID
          type: string
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              properties:
                data:
                  properties:
                    attributes:
                      $ref: '#/components/schemas/orgSetting'
                    id:
                      description: As a UUID
                      type: string
                    relationships:
                      $ref: '#/components/schemas/orgSettingRelationships'
                    type:
                      type: string
                  required:
                  - type
                  - id
              type: object
        required: true
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                properties:
                  data:
                    properties:
                      attributes:
                        $ref: '#/components/schemas/orgSetting'
                      id:
                        description: As a UUID
                        type: string
                      relationships:
                        $ref: '#/components/schemas/orgSettingRelationships'
                      type:
                        type: string
                    required:
                    - type
                    - id
                type: object
          description: OK
        '422':
          content:
            application/vnd.api+json:
              schema:
                properties:
                  errors:
                    items:
                      properties:
                        detail:
                          type: string
                        id:
                          type: string
                        title:
                          type: string
                      type: object
                    type: array
          description: JSON error message
      summary: Update an Org Setting
      tags:
      - Org Setting
      x-internal: false
      operationId: patchOrgSettingsById
      x-operation-id-source: derived
components:
  schemas:
    orgSetting:
      description: 'The collection of settings for an Org.

        '
      properties:
        contactExclusions:
          description: '


            Comma separated list of contact email addresses that are blocked.'
          maxLength: 65535
          type:
          - string
          - 'null'
          x-internal: false
        prospectEmailExclusions:
          description: '


            Comma separated list of prospect email addresses blocked'
          maxLength: 65535
          type:
          - string
          - 'null'
          x-internal: false
        sendExclusions:
          description: '


            Comma separated list of email addresses that are blocked'
          maxLength: 65535
          type:
          - string
          - 'null'
          x-internal: false
      type: object
      x-internal: false
    orgSettingResponse:
      properties:
        attributes:
          $ref: '#/components/schemas/orgSetting'
        id:
          description: As a UUID
          type: string
        relationships:
          $ref: '#/components/schemas/orgSettingRelationships'
        type:
          type: string
      type: object
      x-internal: false
    orgSettingRelationships:
      type: object
  securitySchemes:
    bearerAuth:
      bearerFormat: JWT
      scheme: bearer
      type: http
    s2sAuthToken:
      bearerFormat: JWT
      scheme: bearer
      type: http
