openapi: 3.2.0
info:
  description: Outreach Public API is documented here, at the Development Portal, expand the link Outreach REST API Reference in the left navigation bar to see human-readable description of endpoints and data types.
  title: Outreach REST API Reference Custom Duty API
  version: ''
servers:
- url: https://api.outreach.io/api/v2
security:
- bearerAuth: []
tags:
- description: '## ⌵ Custom Duty Actions'
  name: Custom Duty
  x-internal: false
paths:
  /customDuties:
    post:
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              properties:
                data:
                  properties:
                    attributes:
                      $ref: '#/components/schemas/customDuty'
                    relationships:
                      $ref: '#/components/schemas/customDutyRelationships'
                    type:
                      type: string
              type: object
        required: true
      responses:
        '201':
          content:
            application/vnd.api+json:
              schema:
                properties:
                  data:
                    $ref: '#/components/schemas/customDutyResponse'
          description: Created
        '422':
          content:
            application/vnd.api+json:
              schema:
                properties:
                  errors:
                    items:
                      properties:
                        detail:
                          type: string
                        id:
                          type: string
                        title:
                          type: string
                      type: object
                    type: array
          description: JSON error message
      summary: Create a New Custom Duty
      tags:
      - Custom Duty
      x-internal: false
      operationId: postCustomDuties
      x-operation-id-source: derived
components:
  schemas:
    customDutyResponse:
      properties:
        attributes:
          $ref: '#/components/schemas/customDuty'
        id:
          type: integer
        relationships:
          $ref: '#/components/schemas/customDutyRelationships'
        type:
          type: string
      type: object
      x-internal: false
    customDuty:
      description: 'A freeform user-specified role or job duty played by a user in their organization.

        '
      properties:
        dutyType:
          description: '


            The polymorphic type of the duty (not the Ruby type, the duty type).'
          type:
          - string
          - 'null'
          x-internal: false
        name:
          description: '


            The name of the role.'
          maxLength: 255
          type:
          - string
          - 'null'
          x-internal: false
      type: object
      x-internal: false
    customDutyRelationships:
      type: object
  securitySchemes:
    bearerAuth:
      bearerFormat: JWT
      scheme: bearer
      type: http
    s2sAuthToken:
      bearerFormat: JWT
      scheme: bearer
      type: http
