openapi: 3.2.0
info:
  description: Outreach Public API is documented here, at the Development Portal, expand the link Outreach REST API Reference in the left navigation bar to see human-readable description of endpoints and data types.
  title: Outreach REST API Reference Event API
  version: ''
servers:
- url: https://api.outreach.io/api/v2
security:
- bearerAuth: []
tags:
- description: '## Event Relationships


    ## Event Resource Metadata


    | **METADATA NAME**| **DESCRIPTION** | **QUERY PARAM** |

    | --- | --- | --- |

    | dataConnections | The set of connections a given Event has to external sources. | provideDataConnections |


    ## ⌵ Event Actions'
  name: Event
  x-internal: false
paths:
  /events:
    get:
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                properties:
                  data:
                    items:
                      $ref: '#/components/schemas/eventResponse'
                    type: array
          description: OK
        '422':
          content:
            application/vnd.api+json:
              schema:
                properties:
                  errors:
                    items:
                      properties:
                        detail:
                          type: string
                        id:
                          type: string
                        title:
                          type: string
                      type: object
                    type: array
          description: JSON error message
      security:
      - bearerAuth: []
        s2sAuthToken: []
      summary: Get a Collection of Events
      tags:
      - Event
      x-internal: false
      operationId: getEvents
      x-operation-id-source: derived
  /events/{id}:
    get:
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: integer
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                properties:
                  data:
                    $ref: '#/components/schemas/eventResponse'
          description: OK
        '404':
          content:
            application/vnd.api+json:
              schema:
                properties:
                  errors:
                    items:
                      properties:
                        detail:
                          type: string
                        id:
                          type: string
                        title:
                          type: string
                      type: object
                    type: array
          description: Not Found
      security:
      - bearerAuth: []
        s2sAuthToken: []
      summary: Get an Event by ID
      tags:
      - Event
      x-internal: false
      operationId: getEventsById
      x-operation-id-source: derived
components:
  schemas:
    event:
      description: 'Application events, capturing details around the initiator, recipient, etc.

        '
      properties:
        body:
          description: '


            The event body (for external events only)'
          type:
          - string
          - 'null'
          x-internal: false
        createdAt:
          description: '<img src=https://developers.outreach.io/badges/readonly.svg> <img src=https://developers.outreach.io/badges/filterable.svg> <img src=https://developers.outreach.io/badges/sortable.svg>


            The date and time the event was created.'
          format: date-time
          type:
          - string
          - 'null'
          x-internal: false
        eventAt:
          description: '<img src=https://developers.outreach.io/badges/filterable.svg> <img src=https://developers.outreach.io/badges/sortable.svg>


            The date and time the event occurred.'
          format: date-time
          type:
          - string
          - 'null'
          x-internal: false
        externalUrl:
          description: '


            The external URL associated with this event (for external events only)'
          type:
          - string
          - 'null'
          x-internal: false
        name:
          description: '<img src=https://developers.outreach.io/badges/filterable.svg>


            The name of the event that took place (e.g. "mailbox_created").'
          maxLength: 255
          type:
          - string
          - 'null'
          x-internal: false
        payload:
          description: '


            The transmitted data for the event (cannot be updated once an event has been created)'
          type:
          - object
          - 'null'
          x-internal: false
        requestCity:
          description: '<img src=https://developers.outreach.io/badges/readonly.svg>


            The city where the request that created the event was made.'
          maxLength: 255
          type:
          - string
          - 'null'
          x-internal: false
        requestDevice:
          description: '<img src=https://developers.outreach.io/badges/readonly.svg>


            The type of device on which the request that created the event was made.'
          maxLength: 255
          type:
          - string
          - 'null'
          x-internal: false
        requestHost:
          description: '<img src=https://developers.outreach.io/badges/readonly.svg>


            Name of the host from which the request was made.'
          maxLength: 255
          type:
          - string
          - 'null'
          x-internal: false
        requestProxied:
          description: '<img src=https://developers.outreach.io/badges/readonly.svg>


            A boolean value whether the request was proxied. For example, when true the request city refers to the location of the email server and not the prospect.'
          type:
          - boolean
          - 'null'
          x-internal: false
        requestRegion:
          description: '<img src=https://developers.outreach.io/badges/readonly.svg>


            Name of the region from which the request was made.'
          maxLength: 255
          type:
          - string
          - 'null'
          x-internal: false
      type: object
      x-internal: false
    eventRelationships:
      properties:
        account:
          description: The account associated with this event. You can use only the attribute id to filter events by account (e.g. filter[account][id]=X).
          properties:
            data:
              properties:
                id:
                  type: integer
                type:
                  enum:
                  - account
                  type: string
              type:
              - object
              - 'null'
            links:
              properties:
                related:
                  format: uri
                  type: string
              type: object
        call:
          description: The call associated with this event. You can use only the attribute id to filter events by call (e.g. filter[call][id]=X).
          properties:
            data:
              properties:
                id:
                  type: integer
                type:
                  enum:
                  - call
                  type: string
              type:
              - object
              - 'null'
            links:
              properties:
                related:
                  format: uri
                  type: string
              type: object
        mailing:
          description: The mailing associated with this event. You can use only the attribute id to filter events by mailing (e.g. filter[mailing][id]=X).
          properties:
            data:
              properties:
                id:
                  type: integer
                type:
                  enum:
                  - mailing
                  type: string
              type:
              - object
              - 'null'
            links:
              properties:
                related:
                  format: uri
                  type: string
              type: object
        note:
          description: '<img src=https://developers.outreach.io/badges/readonly.svg>


            The note associated with this event.'
          properties:
            data:
              properties:
                id:
                  type: integer
                type:
                  enum:
                  - note
                  type: string
              type:
              - object
              - 'null'
            links:
              properties:
                related:
                  format: uri
                  type: string
              type: object
        opportunity:
          description: The opportunity associated with this event. You can use only the attribute id to filter events by opportunity (e.g. filter[opportunity][id]=X).
          properties:
            data:
              properties:
                id:
                  type: integer
                type:
                  enum:
                  - opportunity
                  type: string
              type:
              - object
              - 'null'
            links:
              properties:
                related:
                  format: uri
                  type: string
              type: object
        plugin:
          description: The plugin associated with this event.
          properties:
            data:
              properties:
                id:
                  type: integer
                type:
                  enum:
                  - plugin
                  type: string
              type:
              - object
              - 'null'
            links:
              properties:
                related:
                  format: uri
                  type: string
              type: object
        prospect:
          description: The prospect associated with this event. You can use only the attribute id to filter events by prospect (e.g. filter[prospect][id]=X).
          properties:
            data:
              properties:
                id:
                  type: integer
                type:
                  enum:
                  - prospect
                  type: string
              type:
              - object
              - 'null'
            links:
              properties:
                related:
                  format: uri
                  type: string
              type: object
        sequence:
          description: '<img src=https://developers.outreach.io/badges/readonly.svg>


            The sequence associated with this event.'
          properties:
            data:
              properties:
                id:
                  type: integer
                type:
                  enum:
                  - sequence
                  type: string
              type:
              - object
              - 'null'
            links:
              properties:
                related:
                  format: uri
                  type: string
              type: object
        sequenceStep:
          description: '<img src=https://developers.outreach.io/badges/readonly.svg>


            The sequence step associated with this event.'
          properties:
            data:
              properties:
                id:
                  type: integer
                type:
                  enum:
                  - sequenceStep
                  type: string
              type:
              - object
              - 'null'
            links:
              properties:
                related:
                  format: uri
                  type: string
              type: object
        task:
          description: The task associated with this event. You can use only the attribute id to filter events by task (e.g. filter[task][id]=X).
          properties:
            data:
              properties:
                id:
                  type: integer
                type:
                  enum:
                  - task
                  type: string
              type:
              - object
              - 'null'
            links:
              properties:
                related:
                  format: uri
                  type: string
              type: object
        user:
          description: The user associated with this event. You can use only the attribute id to filter events by user (e.g. filter[user][id]=X).
          properties:
            data:
              properties:
                id:
                  type: integer
                type:
                  enum:
                  - user
                  type: string
              type:
              - object
              - 'null'
            links:
              properties:
                related:
                  format: uri
                  type: string
              type: object
      type: object
    eventResponse:
      properties:
        attributes:
          $ref: '#/components/schemas/event'
        id:
          type: integer
        relationships:
          $ref: '#/components/schemas/eventRelationships'
        type:
          type: string
      type: object
      x-internal: false
  securitySchemes:
    bearerAuth:
      bearerFormat: JWT
      scheme: bearer
      type: http
    s2sAuthToken:
      bearerFormat: JWT
      scheme: bearer
      type: http
