openapi: 3.2.0
info:
  description: Outreach Public API is documented here, at the Development Portal, expand the link Outreach REST API Reference in the left navigation bar to see human-readable description of endpoints and data types.
  title: Outreach REST API Reference Opportunity Prospect Role API
  version: ''
servers:
- url: https://api.outreach.io/api/v2
security:
- bearerAuth: []
tags:
- description: '## Opportunity Prospect Role Relationships


    ## Opportunity Prospect Role Resource Metadata


    | **METADATA NAME**| **DESCRIPTION** | **QUERY PARAM** |

    | --- | --- | --- |

    | canWrite | A boolean value indicating whether the current API user has write access to this resource. | provideAuthorizationMeta |

    | canDelete | A boolean value indicating whether the current API user has delete access to this resource. | provideAuthorizationMeta |


    ## ⌵ Opportunity Prospect Role Actions'
  name: Opportunity Prospect Role
  x-internal: false
paths:
  /opportunityProspectRoles:
    get:
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                properties:
                  data:
                    items:
                      $ref: '#/components/schemas/opportunityProspectRoleResponse'
                    type: array
          description: OK
        '422':
          content:
            application/vnd.api+json:
              schema:
                properties:
                  errors:
                    items:
                      properties:
                        detail:
                          type: string
                        id:
                          type: string
                        title:
                          type: string
                      type: object
                    type: array
          description: JSON error message
      summary: Get a Collection of Opportunity Prospect Roles
      tags:
      - Opportunity Prospect Role
      x-internal: false
      operationId: getOpportunityProspectRoles
      x-operation-id-source: derived
    post:
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              properties:
                data:
                  properties:
                    attributes:
                      $ref: '#/components/schemas/opportunityProspectRole'
                    relationships:
                      $ref: '#/components/schemas/opportunityProspectRoleRelationships'
                    type:
                      type: string
              type: object
        required: true
      responses:
        '201':
          content:
            application/vnd.api+json:
              schema:
                properties:
                  data:
                    $ref: '#/components/schemas/opportunityProspectRoleResponse'
          description: Created
        '422':
          content:
            application/vnd.api+json:
              schema:
                properties:
                  errors:
                    items:
                      properties:
                        detail:
                          type: string
                        id:
                          type: string
                        title:
                          type: string
                      type: object
                    type: array
          description: JSON error message
      summary: Create a New Opportunity Prospect Role
      tags:
      - Opportunity Prospect Role
      x-internal: false
      operationId: postOpportunityProspectRoles
      x-operation-id-source: derived
  /opportunityProspectRoles/{id}:
    delete:
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: integer
      responses:
        '204':
          content:
            application/vnd.api+json: {}
          description: Deleted
        '422':
          content:
            application/vnd.api+json:
              schema:
                properties:
                  errors:
                    items:
                      properties:
                        detail:
                          type: string
                        id:
                          type: string
                        title:
                          type: string
                      type: object
                    type: array
          description: JSON error message
      summary: Delete an Existing Opportunity Prospect Role by ID
      tags:
      - Opportunity Prospect Role
      x-internal: false
      operationId: deleteOpportunityProspectRolesById
      x-operation-id-source: derived
    get:
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: integer
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                properties:
                  data:
                    $ref: '#/components/schemas/opportunityProspectRoleResponse'
          description: OK
        '404':
          content:
            application/vnd.api+json:
              schema:
                properties:
                  errors:
                    items:
                      properties:
                        detail:
                          type: string
                        id:
                          type: string
                        title:
                          type: string
                      type: object
                    type: array
          description: Not Found
      summary: Get an Opportunity Prospect Role by ID
      tags:
      - Opportunity Prospect Role
      x-internal: false
      operationId: getOpportunityProspectRolesById
      x-operation-id-source: derived
    patch:
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: integer
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              properties:
                data:
                  properties:
                    attributes:
                      $ref: '#/components/schemas/opportunityProspectRole'
                    id:
                      type: integer
                    relationships:
                      $ref: '#/components/schemas/opportunityProspectRoleRelationships'
                    type:
                      type: string
                  required:
                  - type
                  - id
              type: object
        required: true
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                properties:
                  data:
                    properties:
                      attributes:
                        $ref: '#/components/schemas/opportunityProspectRole'
                      id:
                        type: integer
                      relationships:
                        $ref: '#/components/schemas/opportunityProspectRoleRelationships'
                      type:
                        type: string
                    required:
                    - type
                    - id
                type: object
          description: OK
        '422':
          content:
            application/vnd.api+json:
              schema:
                properties:
                  errors:
                    items:
                      properties:
                        detail:
                          type: string
                        id:
                          type: string
                        title:
                          type: string
                      type: object
                    type: array
          description: JSON error message
      summary: Update an Opportunity Prospect Role
      tags:
      - Opportunity Prospect Role
      x-internal: false
      operationId: patchOpportunityProspectRolesById
      x-operation-id-source: derived
components:
  schemas:
    opportunityProspectRole:
      description: 'A prospect''s role and association with an opportunity

        '
      properties:
        createdAt:
          description: '<img src=https://developers.outreach.io/badges/readonly.svg> <img src=https://developers.outreach.io/badges/filterable.svg> <img src=https://developers.outreach.io/badges/sortable.svg>


            The date and time the role was created.'
          format: date-time
          type:
          - string
          - 'null'
          x-internal: false
        primary:
          description: '


            A boolean value indicating if this prospect is the primary contact within an opportunity.'
          type:
          - boolean
          - 'null'
          x-internal: false
        role:
          description: '<img src=https://developers.outreach.io/badges/filterable.svg> <img src=https://developers.outreach.io/badges/sortable.svg>


            A string value representing the role.'
          maxLength: 255
          type:
          - string
          - 'null'
          x-internal: false
        updatedAt:
          description: '<img src=https://developers.outreach.io/badges/readonly.svg> <img src=https://developers.outreach.io/badges/filterable.svg> <img src=https://developers.outreach.io/badges/sortable.svg>


            The date and time the role was last updated.'
          format: date-time
          type:
          - string
          - 'null'
          x-internal: false
      type: object
      x-internal: false
    opportunityProspectRoleRelationships:
      properties:
        opportunity:
          description: The opportunity associated with the role. You can use only the attribute id to filter opportunityProspectRoles by opportunity (e.g. filter[opportunity][id]=X).
          properties:
            data:
              properties:
                id:
                  type: integer
                type:
                  enum:
                  - opportunity
                  type: string
              type:
              - object
              - 'null'
            links:
              properties:
                related:
                  format: uri
                  type: string
              type: object
        prospect:
          description: The prospect associated with the role. You can use only the attribute id to filter opportunityProspectRoles by prospect (e.g. filter[prospect][id]=X).
          properties:
            data:
              properties:
                id:
                  type: integer
                type:
                  enum:
                  - prospect
                  type: string
              type:
              - object
              - 'null'
            links:
              properties:
                related:
                  format: uri
                  type: string
              type: object
      type: object
    opportunityProspectRoleResponse:
      properties:
        attributes:
          $ref: '#/components/schemas/opportunityProspectRole'
        id:
          type: integer
        relationships:
          $ref: '#/components/schemas/opportunityProspectRoleRelationships'
        type:
          type: string
      type: object
      x-internal: false
  securitySchemes:
    bearerAuth:
      bearerFormat: JWT
      scheme: bearer
      type: http
    s2sAuthToken:
      bearerFormat: JWT
      scheme: bearer
      type: http
