openapi: 3.2.0
info:
  description: Outreach Public API is documented here, at the Development Portal, expand the link Outreach REST API Reference in the left navigation bar to see human-readable description of endpoints and data types.
  title: Outreach REST API Reference Account Note API
  version: ''
servers:
- url: https://api.outreach.io/api/v2
security:
- bearerAuth: []
tags:
- description: '## Account Note Relationships


    ## ⌵ Account Note Actions'
  name: Account Note
  x-internal: false
paths:
  /accountNotes:
    get:
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                properties:
                  data:
                    items:
                      $ref: '#/components/schemas/accountNoteResponse'
                    type: array
          description: OK
        '422':
          content:
            application/vnd.api+json:
              schema:
                properties:
                  errors:
                    items:
                      properties:
                        detail:
                          type: string
                        id:
                          type: string
                        title:
                          type: string
                      type: object
                    type: array
          description: JSON error message
      summary: Get a Collection of Account Notes
      tags:
      - Account Note
      x-internal: false
      operationId: getAccountNotes
      x-operation-id-source: derived
    post:
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              properties:
                data:
                  properties:
                    attributes:
                      $ref: '#/components/schemas/accountNote'
                    relationships:
                      $ref: '#/components/schemas/accountNoteRelationships'
                    type:
                      type: string
              type: object
        required: true
      responses:
        '201':
          content:
            application/vnd.api+json:
              schema:
                properties:
                  data:
                    $ref: '#/components/schemas/accountNoteResponse'
          description: Created
        '422':
          content:
            application/vnd.api+json:
              schema:
                properties:
                  errors:
                    items:
                      properties:
                        detail:
                          type: string
                        id:
                          type: string
                        title:
                          type: string
                      type: object
                    type: array
          description: JSON error message
      summary: Create a New Account Note
      tags:
      - Account Note
      x-internal: false
      operationId: postAccountNotes
      x-operation-id-source: derived
  /accountNotes/{id}:
    delete:
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: integer
      responses:
        '204':
          content:
            application/vnd.api+json: {}
          description: Deleted
        '422':
          content:
            application/vnd.api+json:
              schema:
                properties:
                  errors:
                    items:
                      properties:
                        detail:
                          type: string
                        id:
                          type: string
                        title:
                          type: string
                      type: object
                    type: array
          description: JSON error message
      summary: Delete an Existing Account Note by ID
      tags:
      - Account Note
      x-internal: false
      operationId: deleteAccountNotesById
      x-operation-id-source: derived
    get:
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: integer
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                properties:
                  data:
                    $ref: '#/components/schemas/accountNoteResponse'
          description: OK
        '404':
          content:
            application/vnd.api+json:
              schema:
                properties:
                  errors:
                    items:
                      properties:
                        detail:
                          type: string
                        id:
                          type: string
                        title:
                          type: string
                      type: object
                    type: array
          description: Not Found
      summary: Get an Account Note by ID
      tags:
      - Account Note
      x-internal: false
      operationId: getAccountNotesById
      x-operation-id-source: derived
    patch:
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: integer
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              properties:
                data:
                  properties:
                    attributes:
                      $ref: '#/components/schemas/accountNote'
                    id:
                      type: integer
                    relationships:
                      $ref: '#/components/schemas/accountNoteRelationships'
                    type:
                      type: string
                  required:
                  - type
                  - id
              type: object
        required: true
      responses:
        '200':
          content:
            application/vnd.api+json:
              schema:
                properties:
                  data:
                    properties:
                      attributes:
                        $ref: '#/components/schemas/accountNote'
                      id:
                        type: integer
                      relationships:
                        $ref: '#/components/schemas/accountNoteRelationships'
                      type:
                        type: string
                    required:
                    - type
                    - id
                type: object
          description: OK
        '422':
          content:
            application/vnd.api+json:
              schema:
                properties:
                  errors:
                    items:
                      properties:
                        detail:
                          type: string
                        id:
                          type: string
                        title:
                          type: string
                      type: object
                    type: array
          description: JSON error message
      summary: Update an Account Note
      tags:
      - Account Note
      x-internal: false
      operationId: patchAccountNotesById
      x-operation-id-source: derived
components:
  schemas:
    accountNoteRelationships:
      properties:
        account:
          description: The account this account note is related to. You can use only the attribute id to filter accountNotes by account (e.g. filter[account][id]=X).
          properties:
            data:
              properties:
                id:
                  type: integer
                type:
                  enum:
                  - account
                  type: string
              type:
              - object
              - 'null'
            links:
              properties:
                related:
                  format: uri
                  type: string
              type: object
        creator:
          description: '<img src=https://developers.outreach.io/badges/readonly.svg>


            The creator of the account note. Relationship creator cannot be used as a filter.'
          properties:
            data:
              properties:
                id:
                  type: integer
                type:
                  enum:
                  - user
                  type: string
              type:
              - object
              - 'null'
            links:
              properties:
                related:
                  format: uri
                  type: string
              type: object
        opportunity:
          description: '<img src=https://developers.outreach.io/badges/readonly.svg>


            The opportunity this account note is related to. Relationship opportunity cannot be used as a filter.'
          properties:
            data:
              properties:
                id:
                  type: integer
                type:
                  enum:
                  - opportunity
                  type: string
              type:
              - object
              - 'null'
            links:
              properties:
                related:
                  format: uri
                  type: string
              type: object
      type: object
    accountNoteResponse:
      properties:
        attributes:
          $ref: '#/components/schemas/accountNote'
        id:
          type: integer
        relationships:
          $ref: '#/components/schemas/accountNoteRelationships'
        type:
          type: string
      type: object
      x-internal: false
    accountNote:
      description: 'Notes related to accounts

        '
      properties:
        createdAt:
          description: '<img src=https://developers.outreach.io/badges/readonly.svg> <img src=https://developers.outreach.io/badges/filterable.svg> <img src=https://developers.outreach.io/badges/sortable.svg>


            The date and time the account note was created.'
          format: date-time
          type:
          - string
          - 'null'
          x-internal: false
        message:
          description: '


            The text content of this account note.'
          maxLength: 65535
          type:
          - string
          - 'null'
          x-internal: false
        noteType:
          description: '


            The context of this account note, one of {note,call,coffee,beer,meeting}.'
          maxLength: 255
          type:
          - string
          - 'null'
          x-internal: false
        opportunityAssociationRule:
          description: '<img src=https://developers.outreach.io/badges/writeonly.svg>


            The rule used to associate the account note with an opportunity, one of {recent_created,recent_updated}.'
          maxLength: 255
          type:
          - string
          - 'null'
          x-internal: false
        pinned:
          description: '


            A boolean value indicating whether this account note is pinned.'
          type:
          - boolean
          - 'null'
          x-internal: false
      type: object
      x-internal: false
  securitySchemes:
    bearerAuth:
      bearerFormat: JWT
      scheme: bearer
      type: http
    s2sAuthToken:
      bearerFormat: JWT
      scheme: bearer
      type: http
